/*00_agency-settings*/

#settings .card-header {
    background: #ffffff;
    color: #333333;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#settings .card-header h3{
	color: #333333!important;
    font-weight: 600!important;
    font-family: 'Oxygen', sans-serif;
}

#settings .card {
	box-shadow: 0px 1px 4px 0px #888888;
    border-radius: 15px;
}

#settings .hl-btn {
	background-color: #006196!important;
    color: #ffffff!important;
    font-weight: 600!important;
    border: none;
}  

#settings  .bg-apple-500 {
    background-color: #f9cb00;
    color: #ffffff!important;
    font-weight: 600!important;
    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
}


#settings .hl_settings--header .table  thead[data-v-6bdf583e], tr th{
	background: #ffffff!important;
    color: #333333!important;
    font-size: 10pt;
    font-family: 'Oxygen',sans-serif;
    font-weight: bold!important;
}

#settings .hl_settings--header .table  thead[data-v-6bdf583e], tr th:first-child{
	border-top-left-radius: 15px;
}

#settings .hl_settings--header .table  thead[data-v-6bdf583e], tr th:last-child{
	border-top-right-radius: 15px;
}

#settings .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle {
    background-color: #016196!important;
}

#settings .bootstrap-select .dropdown-toggle .filter-option-inner {
    color: #ffffff;
    font-weight: 600!important;
}

#settings .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after {
    color: #ffffff;
}

#settings .page-item.disabled .page-link {
    color: #0a5773;
    background-color: #f9cb00;
    border-color: #f9cb00;
    font-weight: 600;
}

#settings .btn.btn-primary {
    background-color: #016196;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
}

#settings .retry-btn[data-v-7956d6dc] {
    border: 1px solid #f9cb00;
}

#settings .retry-btn[data-v-7956d6dc]:hover {
    background-color: #f9cb00!important;
    color: #0a5773!important;
}

#settings .icon .icon-plus {
    color: #0a5773!important;
}

#settings .icon-plus:before {
    color: #ffffff!important;
}

#settings .btn-warning {
    color: #0a5773;
    background-color: #f9cb00;
    border-color: #f9cb00;
    font-weight: 600;
}

#settings .btn.btn-primary:hover {
    color: #0a5773;
    background-color: #f9cb00;
    font-weight: 600;
}

#settings .btn.btn-primary:active, .btn.btn-primary:focus, .btn.btn-primary:hover {
    color: #ffffff!important;
    background-color: #016196!important;
    border-color: #016196!important;
    font-weight: 600;
}
