/*00_agency-dashboard.css*/

#agency_dashboard .agency-dash .card-value[data-v-76993792] {
    font-size: 44px;
    line-height: 56px;
    color: #2a3135!important;
    white-space: nowrap;
}

#agency_dashboard .agency-dash .card-title[data-v-76993792] {
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    color: #2a3135!important;
    height: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}