/*00_agency-accounts.css*/

#agency_location a {
	color: #2a3135!important;
}

#agency_location .card-header:first-child {
	border-radius: calc(.3125rem - 1px) calc(.3125rem - 1px) 0 0;
	background-color: #005375;
}

#agency_location .card-header h2, .card-header h3 {
	font-size: 1rem;
	margin-bottom: 0;
	line-height: 1;
	margin-right: 20px;
	font-weight: 400;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: white;
}