/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--brand-primary: #f7f7f7; /* blue #005375*/
	--brand-accent: #32475c; /* yellow #fcce00*/
	--brand-base: #f6a24c; /* grey #7b7b7b*/
	
	--brand-content-font: 'Montserrat';
	--brand-heading-font: 'Montserrat';
}

/*
	--brand-dark-base: #57a9b2;
	--brand-light-base: #7b7b7b;
*/

body {
	font-family: var(--brand-content-font);
}

/* GLOBAL -- Container|Wrapper */
.hl_wrapper {
	padding-top: 0 !important;
	padding-left: 0;
}

#nav-workflow-request,
#nav-funnels-websites ul li:nth-child(3),
#nav-marketing ul li:nth-child(2),
#nav-marketing ul li:nth-child(7),
#nav-online-listing,
#nav-agency_services,
#nav-university,
#nav-affiliates,
#nav-saas-education,
#nav-agency_vertical-snapshots,
#nav-agency_reselling,
#nav-settings,
#nav-links li:nth-child(9) {
	display: none;
}

#agency_location .hl-btn,
#agency_location .btn.btn-primary {
	background: #f2f2f2;
    background: -moz-linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
    background: -webkit-linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
    background: linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: #666666!important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
    font-weight: 700;
}

.hl_wrapper {
    padding-top: 132px !important;
}

@media (max-width: 1399.98px) {
	.hl_wrapper {
	    padding-top: 170px !important;
	}
}


/* HEADER */

header.hl_header,
.hl_header.--agency {
	left: 0;
	border: 0;
}
header.hl_header .container-fluid {
	background: var(--brand-primary);
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
	background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option {
	background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
    font-weight: 700;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	display: none;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option-inner,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: var(--brand-primary) !important;
}

/* HEADER -- Upper Right Icons */
header.hl_header a#recent_activities-toggle,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link:hover {
	background: #fcce00;
	background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
	transition: 0.5s;
	border-radius: 4px !important;
	color: var(--brand-primary) !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header .hl_header--recent-activities.-notification:before {
	background: #e93d3d;
}
	
header .collapsing {
	position: absolute;
	z-index: 999;
}

header.hl_header .avatar_img {
	border-radius: 4px;
}

/* HEADER -- Relocated Nav */
header.hl_header ul.hl_navbar--links {
	background-color: #ebebeb;
	height: auto;
	margin-top: 0;
	overflow: visible;
	border-top: 3px solid #f6a24a;
	border-bottom: 3px solid #f6a24a;
}
header.hl_header ul.hl_navbar--links > li {
	display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
	padding: 10px 15px;
	color: #666666 !important;
	font-size: 12px;
	font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
	background: #e0e0e0;
	color: #EE713A!important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon,
header.hl_header ul.hl_navbar--links > li a svg {
	display: none;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
	display: block;
	position: absolute;
	z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: var(--brand-primary);
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
	width: 200px;
}

/* NAV */
nav.hl_navbar {
	display: none;
}