/* HEADER */

header.hl_header,
.hl_header.--agency {
	left: 0;
	border: 0;
}
header.hl_header .container-fluid {
	background: #ffffff;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
	background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option {
	background: #f2f2f2 !important;
	padding: 12px 25px;
	border-radius: 4px;
	font-weight: 700;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	display: none;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option-inner,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: #333333 !important;
}

/* HEADER -- Upper Right Icons */
header.hl_header a#recent_activities-toggle,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link:hover {
	border-radius: 4px;
    background: #f2f2f2 !important;
    color: #333333 !important;
}
header.hl_header .avatar_img {
	border-radius: 4px;
	background-color: #f2f2f2!important;
	color: #333333!important; 
	font-weight: 600;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

/* HEADER -- Relocated Nav */
header.hl_header ul.hl_navbar--links {
	background-color: var(--brand-primary);
	height: auto;
	margin-top: 0;
	overflow: visible;
	border-top: 3px solid var(--brand-accent);
	border-bottom: 3px solid var(--brand-accent);
}
header.hl_header ul.hl_navbar--links > li {
	display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
	padding: 10px 15px;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
	background: #fff;
	color: var(--brand-primary) !important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon,
header.hl_header ul.hl_navbar--links > li a svg {
	display: none;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
	display: block;
	position: absolute;
	z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: #ebebeb;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
	width: 200px;
}

/* NAV */
nav.hl_navbar {
	display: none;
}

