/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
	--brand-primary: #005375; /* blue */
	--brand-accent: #fcce00; /* yellow */
	--brand-base: #7b7b7b; /* grey */
	
	--brand-content-font: 'Montserrat';
	--brand-heading-font: 'Montserrat';
}

/*
	--brand-dark-base: #57a9b2;
	--brand-light-base: #7b7b7b;
*/

body {
	font-family: var(--brand-content-font);
}

/* GLOBAL -- Container|Wrapper */
.hl_wrapper {
	padding-top: 0 !important;
	padding-left: 0;
}
@media (min-width: 768px) {
	.hl_wrapper {
	    padding-top: 170px !important;
	}
}
@media (min-width: 1920px) {
	.hl_wrapper {
	    padding-top: 132px !important;
	}
}

#nav-workflow-request,
#nav-funnels-websites ul li:nth-child(3),
#nav-marketing ul li:nth-child(2){
	display: none;
}