/* LAUNCHPAD */
/* JRD START */
#launchpad .green-btn {
	color: #ffffff;
	background-color: #32475C;
}
.hl_wrapper--inner {
	/*padding-top: 25px;*/
	padding-bottom: 25px;
	/*margin-top: 25px;*/
	background-color: #f7f7f7;
}
/* JRD END */

