/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --brand-primary: #005375; /* blue */
    --brand-accent: #fcce00; /* yellow */
    --brand-base: #7b7b7b; /* grey */
    
    --brand-content-font: 'Montserrat';
    --brand-heading-font: 'Montserrat';
}

/*
    --brand-dark-base: #57a9b2;
    --brand-light-base: #7b7b7b;
*/

body {
    font-family: var(--brand-content-font);
}

/* GLOBAL -- Container|Wrapper */
.hl_wrapper {
    padding-top: 0 !important;
    padding-left: 0;
}

#nav-workflow-request,
#nav-funnels-websites ul li:nth-child(3),
#nav-marketing ul li:nth-child(2),
#nav-marketing ul li:nth-child(7),
#nav-online-listing,
#nav-agency_services,
#nav-university,
#nav-affiliates,
#nav-saas-education {
    display: none;
}

#agency_location .hl-btn,
#agency_location .btn.btn-primary {
    background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
    font-weight: 700;
}

.hl_wrapper {
    padding-top: 132px !important;
}

@media (max-width: 1399.98px) {
    .hl_wrapper {
        padding-top: 170px !important;
    }
}

/* HEADER */

header.hl_header,
.hl_header.--agency {
    left: 0;
    border: 0;
}
header.hl_header .container-fluid {
    background: var(--brand-primary);
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
    background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option {
    background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
    font-weight: 700;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
    display: none;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option-inner,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
    color: var(--brand-primary) !important;
}

/* HEADER -- Upper Right Icons */
header.hl_header a#recent_activities-toggle,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link:hover {
    background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary) !important;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header .hl_header--recent-activities.-notification:before {
    background: #e93d3d;
}
    
header .collapsing {
    position: absolute;
    z-index: 999;
}

header.hl_header .avatar_img {
    border-radius: 4px;
}

/* HEADER -- Relocated Nav */
header.hl_header ul.hl_navbar--links {
    background-color: var(--brand-primary);
    height: auto;
    margin-top: 0;
    overflow: visible;
    border-top: 3px solid var(--brand-accent);
    border-bottom: 3px solid var(--brand-accent);
}
header.hl_header ul.hl_navbar--links > li {
    display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
    padding: 10px 15px;
    color: #fff !important;
    font-size: 12px;
    font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
    background: #fff;
    color: var(--brand-primary) !important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon,
header.hl_header ul.hl_navbar--links > li a svg {
    display: none;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
    display: block;
    position: absolute;
    z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
    padding: 0;
    background: var(--brand-primary);
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
    width: 200px;
}

/* NAV */
nav.hl_navbar {
    display: none;
}

/* DASHBOARD */

#dashboard-original h2:before {
    content: "";
    background: url('https://testnot.live/urteam-buzzerang/img/yellow-lines.svg') center center;
    background-size: cover;
    width: 30px;
    height: 12px;
    margin-right: 10px;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}
#dashboard-original h2 {
    font-family: var(--brand-heading-font);
    font-weight: 800;
    color: #fff;
}
#dashboard-original img[data-v-123165da] {
    display: none;
}
#dashboard-original .card-header {
    background: var(--brand-primary);
    padding:  5px 15px;
    border: none;
}
#dashboard-original .card-body {
    border: 1px solid var(--brand-primary);
}
#dashboard-original .card-group.--wide-gutter>.card {
    margin-right: 15px;
    /*box-shadow: 0px 0px 5px 0px #888888;*/
    border-radius: 5px;
}
#dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
    margin: 0;
    margin-right: 15px;
    border-radius: 5px;
}
#dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
    margin: 0;
    margin-right: 15px!important;
}
#dashboard-original .hl_dashboard--conversion-rate .card-header, #dashboard-original .hl_dashboard--matters-added .card-header, #dashboard-original .hl_dashboard--pipeline-value .card-header, #dashboard-original .hl_dashboard--sales-funnel .card-header {
    padding-right: 20px;
    background-color: #005375;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .card-header h2{
    color: #f6f8fa!important;
}

#dashboard-original .card .hl_dashboard--matters-added .card-header {
    padding-right: 20px;
    background-color: #005375!important;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .container-fluid:before {
    content: "";
    border-left: 0px !important; 
    border-right: 0px !important; 
    border-bottom: 0px !important; 
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: calc(100% - 30px);
    /* background-color: #fff; */
}
#dashboard-original {
    background-color: #ffffff!important;
}
#dashboard-original .card-group>.card:first-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    /*box-shadow: 0px 0px 5px 0px #888888;*/
}
#dashboard-original .card-group>.card:last-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    /*box-shadow: 0px 0px 5px 0px #888888;*/
}
#dashboard-original .hl_dashboard--need-action .card-header {
    padding-right: 20px;
    background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .table {
    /* border-collapse: separate; */
    border-spacing: 0;
    /*border-radius: 10px;*/
    /* border: 1px solid var(--brand-primary); */
}
#dashboard-original .table thead tr th {
    color: #005375;
    font-weight: 700;
    padding: 1rem 15px;
    background-color: #fff; 
}
#dashboard-original .table  {
    border: 0px!important;
}
#dashboard-original .card .hl_dashboard--latest-review-requests {
    border-radius: 5px;
}
#dashboard-original .card .hl_dashboard--latest-review-requests .card-header {
    background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .hl_dashboard--emails-sent {
    /*box-shadow: 0px 0px 5px 0px #888888;*/
    border-radius: 5px;
}
#dashboard-original .hl_dashboard--emails-sent .card-header {
    background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#random24243-wrapper .date-time-pickert .field .flex .align-center .has-value .field-input .no-clear-button text{
    background-color : #005375 !important; 
}
#dashboard-original .hl_tasks-list button.dropdown-toggle {
    white-space: nowrap;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    background: transparent!important;
    color: #fff!important;
}
#dashboard-original .hl_dashboard .card-header .dropdown.bootstrap-select {
    margin-left: 5px;
}
#dashboard-original .hl_wrapper .highcharts-container{
    border: 0px!important; 
}
#dashboard-original .hl_wrapper .date-time-picker .field .field-input {
    background-color: transparent!important;
    /*color: #ffffff;*/
}
#dashboard-original .field-input[data-v-5b500588] {
    cursor: pointer;
    background-color: #fff0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    position: relative;
    width: 100%;
    height: 42px;
    min-height: 42px;
    padding-left: 12px;
    padding-right: 44px;
    font-weight: 400;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    font-size: 14px;
    /*z-index: 0;*/
    color:  #ffffff;
}
#dashboard-original #__BVID__167__BV_toggle_ .btn .dropdown-toggle .btn-primary {
    background-color: transparent!important;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value-col:first-child {
    border-right: 1px solid #005375;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value-col:last-child {
    border-left: 1px solid #005375;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value {
    color: #005375!important;
    background-color: transparent!important;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:first-child span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:nth-child(2) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:nth-child(3) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #005375;
    border-bottom: 1px solid #005375;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:first-child span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:nth-child(2) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:nth-child(3) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #005375;
    border-bottom: 1px solid #005375;
}
#dashboard-original .bootstrap-select .dropdown-toggle .filter-option-inner {
    color: #ffffff!important;
}
#dashboard-original  .hl_tasks--item.--late .option label:before {
    border-color: #005375;
}
#dashboard-original  .hl_tasks--item.--late .hl_tasks--item-header p {
    color: #005375;
}
#dashboard-original .pmd_dashboard--appointments .card-header {
    background-color: #005375;
}
#dashboard-original .pmd_dashboard--appointments {
    /*box-shadow: 0px 0px 5px 0px #888888;*/
    border-radius: 5px;
}
@media only screen and (max-width: 414px) {
    #dashboard-original .pmd_dashboard--appointments .card-body {
        padding-left: 10px;
        padding-bottom: 25px;
    }
    #dashboard-original .card .hl_dashboard--latest-review-requests { 
        display: none;
    }
     #dashboard-original .hl_dashboard--matters-added .card-header {
        padding-right: 0px;
     }
     #dashboard-original .hl_dashboard--pipeline-value .card-header {
        padding-right: 0px;
     }
     #dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
        margin-bottom: 14px;
    }
    #dashboard-original .field-input[data-v-5b500588] {
        padding-right: 0px;
    }
    #dashboard-original .card-header h2 {
        margin-right: 0px;
    }
    #dashboard-original .hl_dashboard--conversion-rate .card-header {
        padding-right: 0px;
    }
    #dashboard-original .hl_dashboard--sales-funnel .sales-funnel-chart {
        width: 400px;
    }
    #dashboard-original .hl_dashboard--sales-funnel .sales-funnel-chart {
        max-width: 400px;
    }
    #dashboard-original .card-body {
        padding: 0px;
    }
    #dashboard-original .highcharts-container  {
        padding:  0px;
        margin-right: 100px;
    }
    #dashboard-original .sales-funnel-chart svg.highcharts-root {
        width: 380px!important;
    }
    #dashboard-original .card-group>.card:first-child {
        overflow: hidden;
    }
    #dashboard-original .hl_dashboard--matters-added .bottom-stats {
        padding: 5px 20px 5px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .hl_dashboard--pipeline-value .bottom-stats {
        padding: 5px 20px 5px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .hl_dashboard--conversion-rate h3, .hl_dashboard--matters-added h3, .hl_dashboard--pipeline-value h3 {
        margin-top: 10px;
    }
    #dashboard-original .hl_dashboard--need-action .card-body {
        padding: 5px 20px 50px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .task-list-card .card-body {
        padding: 5px 20px 250px 20px;
        margin: 5px 10px 25px 10px;
    }
     #dashboard-original .table-wrap {
        display: flex;
        font-size: .6em;
    }
    #dashboard-original .table tbody tr {
        width: 100%;
    }
    #dashboard-original .table  td {
        max-width: 20px!important;
        padding: 0px!mportant; 
    }
    #dashboard-original tbody tr td {
        max-width: 50px!important;
        padding: 0px!mportant; 
    }

    #dashboard-original .table-wrap thead {
        display: flex;
        width:  50px;
        margin-bottom: 50px;
    }
    #dashboard-original .table {
        width: 100%;
        max-width: 100%;
    }
    #dashboard-original .table-wrap thead tr {  
        position: absolute;
        display: flex;
        top: 80px;
        left: 0px;
    }
    #dashboard-original  .table thead tr th {
        min-width: 0px !important; 
        vertical-align: middle;
    }
    #dashboard-original .table thead tr th{
        min-width: 0px!important; 
        padding: 1rem 10px!important;
    }
    #dashboard-original .table thead tr th:first-child {
        padding-left: 5px; 
    }
    #dashboard-original .table thead tr th:last-child {
        padding-right: 0px; 
    }


}

#dashboard-original .date-time-picker {
    background-color: transparent !important;
    margin-bottom: 0 !important;
    margin-top: 2px;
}

#dashboard-original .date-time-picker .field .field-input {
    background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px 0 15px;
    font-weight: 700;
}

#dashboard-original .date-time-picker .field .field-input:hover {
    text-decoration: none;
}

#dashboard-original .date-time-picker .field.is-focused .field-label[data-v-5b500588] {
  color: var(--brand-primary);
}

#dashboard-original .header-picker[data-v-6d49f11d] {
    background-color: var(--brand-primary) !important;
}

#dashboard-original .custom-button .custom-button-effect[data-v-2ed8e606] {
    background-color: var(--brand-primary) !important;
}

#dashboard-original .custom-button .custom-button-content {
    color: var(--brand-primary) !important;
    fill: var(--brand-primary) !important;
}

#dashboard-original .datepicker-container .datepicker-days .datepicker-day.selected .datepicker-day-effect[data-v-7043ad7f],
#dashboard-original .datepicker-container .datepicker-days .datepicker-day .datepicker-day-effect[data-v-7043ad7f] {
    background-color: var(--brand-primary) !important;
}

#dashboard-original .card.hl_dashboard--matters-added {
    z-index: 5;
}

#dashboard-original .card.hl_dashboard--pipeline-value {
    z-index:  4;
}
#dashboard-original .card.hl_dashboard--conversion-rate {
    z-index: 3;
}

#dashboard-original .datepicker-buttons-container .datepicker-button[data-v-601c6e79],
#dashboard-original .datepicker-buttons-container .datepicker-button .datepicker-button-effect[data-v-601c6e79] {
    background: var(--brand-primary);
}

#dashboard-original .datepicker-buttons-container .datepicker-button svg[data-v-601c6e79] {
    fill:  #fff;
}