/* CONVERSATIONS  */

#conversations{
	padding: 35px;
}
#conversations .hl_conversations--wrap{
    border: 1px solid var(--brand-primary);
    border-radius: 5px;
    overflow: hidden;
}
#conversations .hl_conversations--messages-list .nav-tabs{
    background-color: var(--brand-primary);
    padding: 15px;
    border-bottom: 1px solid var(--brand-primary);
}
#conversations .nav-item,
#conversations .hl_conversations--message-header .message-header-actions button{
    margin-right: 10px;
}
#conversations .nav-item .nav-link {
    background: var(--brand-accent);
    color: var(--brand-primary);
    padding: 9.5px 15px;
    border-radius: 5px;
    font-weight: 600;
    font-size: .875rem;
}
#conversations .nav.nav-tabs .nav-link.active{
	background: #c09914!important;
    border: none!important;
}
#conversations .hl_conversations--message-header{
	background-color: var(--brand-primary);
	border: 0;
}
#conversations .hl_conversations--messages-list .nav-tabs,
#conversations .hl_conversations--message-header{
    height: 70px;
}
#conversations .hl_conversations--message-body .message-body--conversation{
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
}
#conversations .hl_conversations--message-header h2{
	color: var(--white);
	font-weight: 600;
}
#conversations .hl_conversations--message-header .message-header-actions button{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#conversations .hl_conversations--message-header .messages-list-header h3,
#conversations .messages-list-header-actions .message-header-actions a{
	color: var(--brand-primary);
}
#conversations .hl_conversations--message-header .message-header-actions button:last-child{
	margin-right: 0px!important;
}
#conversations .messages-list-search input{
    background-color: #fff;
    border: 1px solid var(--brand-primary);
}
#conversations .messages-list--item .messages-list--avatar .avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .messages-list--item .time-date, #conversations  .messages-list--item h4,
#conversations  .messages-list--item p{
	color: var(--white)!important;
}
#conversations .messages-list--item.selected {
    background-color: var(--brand-primary);
}
#conversations .messages-list--item.active .messages-list--avatar .avatar .avatar_img,
#conversations .message-body--aside .aside-texts .pointer.avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .aside-texts-name input, #conversations .aside-texts-infos input{
    border-bottom: 1px solid var(--brand-primary);
    color: var(--brand-primary);
}
#conversations .hl_conversations--message-body .message-input-wrap{
	border-top: 1px solid var(--brand-primary);
    -webkit-box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    bottom: 60px;
}
#conversations .aside-texts-infos .icon-phone,
#conversations .aside-texts-infos p i,
#conversations .hl_conversations--message-body .message-box .btn-blue .icon-send,
#conversations .hl_conversations--message-body .message-box .use-template .icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}
#conversations .messages-list--item.active .time-date, #conversations  .messages-list--item.active h4, #conversations  .messages-list--item.active p{
	color: var(--white)!important;
}

#conversations .messages-group-heading{
	border-top: 1px solid var(--brand-primary);
}
#conversations #date-label, 
#conversations .hl_conversations--message-body .messages-group .messages-group-inner .btn.btn-light2.btn-xs.message-group-date-indicator.top-date-sticky, 
#conversations .messages-single.\--own-message .message-bubble{
    background: var(--brand-primary)!important;
    color: var(--white)!important;
}
#conversations .messages-single.\--own-message .message-bubble:before{
    border-color: var(--brand-primary) transparent transparent transparent;
}

#conversations .email-item--header{
	border-bottom: 2px solid var(--brand-primary);
}

#conversations .email-item--header-left h4, 
#conversations .email-item--header-left h4 strong,
#conversations .email-item--header-left h5,
#conversations .email-item--header-left h4 strong, 
#conversations .email-item--header-left p span, 
#conversations .email-item--body p,
#conversations .messages-single.\--own-message .time-date span,
#conversations .form-group label
{
	color: var(--brand-primary);
}
#conversations .email-item--header-right button, 
#conversations .hl_conversations--message-body .message-box .btn-blue, 
#conversations .tag-group button{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#conversations .messages-single .avatar .avatar_img{
	border-radius: 5px;
}
#conversations .btn.btn-primary{
    background-color: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}

#conversations .scroll-down-shortcut{
	background-color: var(--brand-accent);
    color: var(--brand-primary);
}
#conversations .table_tag, 
#conversations .tag,
#conversations .message-body--conversation .icon.icon-mail{
	background-color: var(--brand-primary)!important;
	color: var(--white)!important;
}

#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos .pb-1 .hl-text-input-container.msgsndr1 .relative.rounded-md.shadow-sm input,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos p input,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos .conversation-tags .dropdown .hl-text-input-container.tag-input .relative.rounded-md shadow-sm input{
    border-bottom: 1px solid var(--brand-primary) !important;
    color: var(--brand-primary);
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-search{
    border-bottom: 1px solid var(--brand-primary);
}

#conversations .btn.btn-link,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item .time-date,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item h4,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item p,
#conversations .messages-list-header-actions .dropdown.show a [class^="icon-"],
#conversations .messages-list-header-actions .dropdown.show a [class*=" icon-"],
#conversations .messages-list-header-actions a i.icon.icon-edit,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading h3,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading p{
    color: var(--brand-primary)!important;
}

/*.router-link-exact-active.router-link-active.selected.messages-list--item.active*/
/*.router-link-exact-active.router-link-active.selected.messages-list--item*/
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item .time-date,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item h4,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item p{
    color: var(--white)!important;
}


#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-header h3,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-header h3 .messages-list-header-actions a .icon{
    color: var(--brand-primary);
    font-weight: 600;
}

#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading svg{
    background: #fff;
    padding: 10px;
    width: 45px;
    margin: -20px auto 0;
    height: 45px;
}
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .tab-content .message-box.relative .message-action-bottom .email-action-bottom-right.items-center.flex.space-x-2 button[type=submit],
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=submit],
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled button.hl-btn,
#conversations .hl_conversations--message-body .message-input-wrap .message-input-wrap.overflowdisabled .email-action-bottom-right button{
    background: var(--brand-accent) !important;
    border: 0 !important;
    color: var(--brand-primary) !important;
    font-weight: 600 !important;
}
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled button.hl-btn svg,
#conversations .hl_conversations--message-body .message-input-wrap .message-input-wrap.overflowdisabled .email-action-bottom-right button svg{
    filter: invert(10%) sepia(97%) saturate(5906%) hue-rotate(178deg) brightness(66%) contrast(80%)
}
#conversations .mce-panel{
    border-color: var(--brand-primary) !important;
}
/*button.hl-btn.inline-flex.items-center.px-4.py-2.border.border-gray-300.shadow-sm.text-sm.font-medium.rounded.text-gray-700.hover\:bg-gray-50.focus\:outline-none.focus\:ring-2.focus\:ring-offset-2.focus\:ring-curious-blue-500 {
    background: var(--brand-accent);
    border: 0 !important;
    color: var(--brand-primary);
    font-weight: 600;
}*/


/* CONVERSATIONS -- MODALS */

div[data-v-161046d5].modal .modal-header,
div[data-v-bb563aee].modal .modal-header {
    background-color: var(--brand-primary);
}

div[data-v-161046d5].modal .modal-title,
div[data-v-bb563aee].modal .modal-title,
div[data-v-161046d5].modal .modal-title h5 {
    color: #fff;
    font-weight: 700;
    font-size: 1rem;
}
div[data-v-161046d5].modal .hl-btn,
div[data-v-161046d5].modal .hl-btn:not(:disabled):not(.disabled).active, 
div[data-v-161046d5].modal .hl-btn:not(:disabled):not(.disabled):active,
div[data-v-bb563aee].modal .hl-btn,
div[data-v-bb563aee].modal .hl-btn:not(:disabled):not(.disabled).active, 
div[data-v-bb563aee].modal .hl-btn:not(:disabled):not(.disabled):active,
div[data-v-57371216].modal .hl-btn,
div[data-v-57371216].modal .hl-btn:not(:disabled):not(.disabled).active, 
div[data-v-57371216].modal .hl-btn:not(:disabled):not(.disabled):active,
#conversations .btn-sched,
#conversations .btn-sched:hover {
    background: #fcce00;
    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
    background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
    font-weight: 700;
    border:  none !important;
}
div[data-v-161046d5].modal .hl-btn:hover,
div[data-v-161046d5].modal .hl-btn:not(:disabled):not(.disabled).active:hover, 
div[data-v-161046d5].modal .hl-btn:not(:disabled):not(.disabled):active:hover,
div[data-v-bb563aee].modal .hl-btn:hover,
div[data-v-bb563aee].modal .hl-btn:not(:disabled):not(.disabled).active:hover, 
div[data-v-bb563aee].modal .hl-btn:not(:disabled):not(.disabled):active:hover,
div[data-v-57371216].modal .hl-btn:hover,
div[data-v-57371216].modal .hl-btn:not(:disabled):not(.disabled).active:hover, 
div[data-v-57371216].modal .hl-btn:not(:disabled):not(.disabled):active:hover,
#conversations .btn-sched:hover {
    color: var(--brand-primary) !important;
}
div[data-v-161046d5].modal .vs__dropdown-toggle,
div[data-v-bb563aee].modal .vs__dropdown-toggle,
div[data-v-57371216].modal .vs__dropdown-toggle {
    border:  1px solid var(--brand-primary);
}
div[data-v-161046d5].modal .vs__dropdown-toggle,
div[data-v-bb563aee].modal .dropdown-toggle,
div[data-v-57371216].modal .dropdown-toggle {
    font-weight: normal;
}

/* CONVERSATIONS -- MOBILE */
@media only screen and (max-width: 576px) {

    #conversations .hl_conversations--messages-list .nav-tabs,
    #conversations .hl_conversations--message .hl_conversations--message-header{
        height: auto !important;
    }
    #conversations .hl_conversations--wrap{
        display: block !important;
        width: 100% !important;
        min-width: auto !important;
        max-width: none !important;
        overflow-y: auto !important;
    }
    #conversations .hl_conversations--messages-list.relative{
        display: block !important;
        width: 100% !important;
        max-width: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled{
        height: 150px !important;
    }
    #conversations .nav-item{
        margin-right: 0;
        margin-bottom: 5px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header{
        display: inline-block;
        width: 100%;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header h2{
        margin-bottom: 10px;
        text-align: center;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions{
        display: grid;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions button{
        margin:  5px 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--conversation{
        border: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group{
        margin-bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .tab-content .message-box.relative .message-action-bottom .email-action-bottom-right.items-center.flex.space-x-2 button[type=submit],
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=submit]{
        background: var(--brand-accent);
        color: var(--brand-primary);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=button]{
        background: var(--white);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack .nav-item{
        margin-right: 5px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body{
        display: block !important;
    }
    #conversations .hl_conversations--message-body .message-input-wrap, .message-body--aside .btn-sched-wrap{
        bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body .message-body--aside{
        border-top: 1px solid var(--brand-primary) !important;
        max-width: fit-content !important;
    }
    #conversations .scroll-down-shortcut{
        bottom: 100px;
    }
    #conversations .form-group .tag-group .tag{
        margin-right: 0 !important;
    }

}

/* CONVERSATIONS -- TABLET */
@media only screen and (min-width: 577px)and (max-width: 1023px) {

    .hl_wrapper {
        padding-top: 172px !important;
    }
    #conversations .hl_conversations--messages-list .nav-tabs,
    #conversations .hl_conversations--message .hl_conversations--message-header{
        height: auto !important;
        display: grid;
        grid: auto auto / auto auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--wrap{
        display: block !important;
        width: 100% !important;
        min-width: auto !important;
        max-width: none !important;
        overflow-y: auto !important;
    }
    #conversations .hl_conversations--messages-list.relative{
        display: block !important;
        width: 100% !important;
        max-width: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled{
        height: 150px !important;
    }
    #conversations .nav-item{
        margin-right: 0;
        margin-bottom: 5px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header{
        display: inline-block;
        width: 100%;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header h2{
        margin-bottom: 10px;
        text-align: center;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions,
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack{
        display: grid;
        grid: auto auto / auto auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions button{
        margin:  5px 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--conversation{
        border: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group{
        margin-bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .tab-content .message-box.relative .message-action-bottom .email-action-bottom-right.items-center.flex.space-x-2 button[type=submit],
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=submit]{
        background: var(--brand-accent) !important;
        color: var(--brand-primary) !important;
        font-weight: 600 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=button]{
        background: var(--white);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack .nav-item{
        margin-right: 5px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body{
        display: block !important;
    }
    #conversations .hl_conversations--message-body .message-input-wrap, .message-body--aside .btn-sched-wrap{
        bottom: 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--aside .btn-sched-wrap{
        display: grid;
        grid: auto auto / auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body .message-body--aside{
        border-top: 1px solid var(--brand-primary) !important;
        max-width: unset !important;
    }
    #conversations .scroll-down-shortcut{
        bottom: 100px;
    }
    #conversations .form-group .tag-group .tag{
        margin-right: 0 !important;
    }

}