/* OPPORTUNITIES  */
/*JRD start*/
.hl_wrapper--inner.opportunities {
	padding-top: 10px;
	margin-top: 45px;
}
#opportunities .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle {
	background-color: #32475C;
	padding: 9.5px 50px 9.5px 20px;
	height: 40px!important;
}
#opportunities .bootstrap-select .dropdown-toggle .filter-option-inner {
	overflow: hidden;
	--tw-text-opacity: 1;
	color: #fff;
}
#opportunities .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after {
	color: #ffffff;
}
#opportunities .hint-icon {
	color: #ffffff;
	margin-right: 5px;
	opacity: 1;
}
#opportunities .btn.btn-primary {
	background-color: #32475C;
	border-color: #32475C;
	color: #ffffff;
}
#opportunities .hl_controls .hl_controls--right .btn-group-sm>.btn .icon, .hl_controls .hl_controls--right .btn-sm .icon {
	display: block;
	width: 16px;
	color: #ffffff;
	font-size: 1rem;
}
#opportunities .hl-btn {
	background-color: #32475C!important;
	color: #ffffff!important;
}
#opportunities .hl_controls .hl_controls--right .search-form input {
	padding: 10px 20px 10px 50px;
	height: 40px;
	border-color: #32475C;
}
#opportunities h1, h2, h3, h4, h5, h6 {
	color: #32475C;
	font-weight: 400;
	margin-top: 0;
}
#opportunities .hl_opportunities--set-header p {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #666666;
}
#opportunities .hl_opportunities--set-header p span {
	display: inline-block;
	color: #008E96;
}
#opportunities .avatar.--sm .avatar_img {
	min-width: 35px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: .75rem;
	background-color: #EE713A!important;
}
#opportunities .btn.btn-light4 {
	background: #F2F2F2;
	border-color: #F2F2F2;
	color: #32475C;
}
#opportunities .btn.btn-light4:active,
#opportunities .btn.btn-light4:focus,
#opportunities .btn.btn-light4:hover {
	background: #ebebeb;
	color: #32475C;
}
#opportunities .table_tag, .tag {
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	font-size: 12px;
	background: #f2f2f2;
	color: #32475c;
	padding: 8px 15px;
	border-radius: 100px;
	line-height: 1;
}
#opportunities .contact-detail-actions .fa-phone, .opportunity-actions .fa-phone {
	font-size: .875rem;
	color: #008e96;
	-webkit-transform: rotate(
			90deg);
	transform: rotate(
			90deg);
}
#opportunities .hl_opportunities-item .card-info .value {
	color: #008E96;
}
#opportunities .date-time-picker {
	width: 100%;
	margin: 0 auto;
	text-align: left;
	font-size: 14px;
	border-radius: 4px;
	position: relative;
	background-color: #32475C!important;
}
#opportunities .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
	background: #f2f2f2;
	color: #32475c;
}
#opportunities .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active:hover {
	background: #e0e0e0;
	color: #32475c;
}
#opportunities .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:active,
#opportunities .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:focus,
#opportunities .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:hover {
	background: #f2f2f2;
}
#opportunities .btn.btn-primary:active,
#opportunities .btn.btn-primary:focus,
#opportunities .btn.btn-primary:hover {
	color: #ffffff!important;
	background-color: rgb(0 0 0 / 20%)!important;
	border-color: rgb(0 0 0 / 20%)!important;
}
/*JRD end*/
