/* REPORTING */

/* JRD START */

#reporting .active[data-v-4200f308] {
  border-bottom: 2px solid #F6A24C;
}
#reporting .going-up[data-v-65f3bd79] {
  display: inline-block;
  text-align: center;
  color: #008E96;
  border: 1px solid #008E96;
  background-color: rgba(0,56,59,.1);
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1;
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase;
}
#reporting .going-down[data-v-65f3bd79] {
  display: inline-block;
  text-align: center;
  color: #F6A24C;
  border: 1px solid #F6A24C;
  background-color: rgba(246,162,75,.1);
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 1;
  font-size: .6875rem;
  font-weight: 700;
  text-transform: uppercase;
}
#reporting .page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #006196;
  border-color: #006196;
}
#reporting .page-link {
  position: relative;
  display: block;
  padding: .5rem .75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #006196;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
#reporting .table thead tr th {
  border: none;
  color: #666666;
  font-weight: 400;
  padding: 12px 10px;
  line-height: 1.2;
}
#reporting .table tbody tr td {
  color: #333333;
  border-top: 2px solid #f2f7fa;
  padding: 12px 10px;
  vertical-align: middle;
  line-height: 1.3;
}
#reporting .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
  background: #e0e0e0;
  color: #666666;
}
#reporting .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a {
  color: #666666;
  font-size: .875rem;
}
#reporting .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:active,
#reporting .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:focus,
#reporting .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:hover {
  background: #f2f2f2;
}
#reporting .hl_datepicker {
  background-color: #32475c;
  border-radius: .3125rem;
  -webkit-transition: all .2s ease-in-out 0s;
  transition: all .2s ease-in-out 0s;
  cursor: pointer;
}
#reporting .hl-btn {
  background-color: #32475c;
  border-color: #32475c;
  color: #fff;
}
#reporting .btn btn-primary {
  background-color: #006196!important;
  border-color: #006196;
  color: #fff;
}
#reporting .hl_marketing--nav li.active a {
  color: #F6A24C;
  font-weight: 500;
  border-color: #F6A24C;
}
#reporting .hover\:bg-curious-blue-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(50,71,92,.8);
}
#reporting a:hover {
  color: #F6A24C;
}
#reporting .active[data-v-58de3536] {
  border-bottom: 2px solid #F6A24C;
}
#reporting .hl_dashboard--conversion-rate h4,
#reporting .hl_dashboard--matters-added h4,
#reporting .hl_dashboard--pipeline-value h4 {
  font-size: .875rem;
  text-transform: uppercase;
  color: #666666;
}
#reporting h1,
#reporting h2,
#reporting h3,
#reporting h4,
#reporting h5,
#reporting h6 {
  color: #333333;
  font-weight: 400;
  margin-top: 0;
}
#reporting .border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(50,71,92,var(--tw-border-opacity));
}
#report-dropdown-filters__BV_toggle_ .btn.dropdown-toggle.btn-primary {
  background-color: #006196!important;
  border-color: #006196;
  color: #fff!important;
}
#reporting .active[data-v-5dcee994] {
  border-bottom: 2px solid #F6A24C;
}
#reporting .btn.btn-primary {
  background-color: #32475c!important;
  border-color: #32475c;
  color: #fff;
}
#reporting .btn-primary {
  background-color: #006196!important;
  border-color: #006196;
  color: #fff;
}
#reporting  .ctk-date-time-picker .field.has-value .field-label, .date-time-picker .field.has-value .field-label {
  color: #32475c!important;
  opacity: 0!important;
}
#reporting .hl_controls .hl_controls--right .btn-group-sm>.btn .icon, .hl_controls .hl_controls--right .btn-sm .icon{
  display: block;
  width: 16px;
  color: #ffffff;
  font-size: 1rem;
}
#reporting .bootstrap-select .dropdown-toggle .filter-option-inner {
  overflow: hidden;
  --tw-text-opacity: 1;
  color: #ffffff;
}
#reporting .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after{
  color: #ffffff;
}
#customers .date-time-picker .field .field-input, #dashboard .date-time-picker .field .field-input, #opportunities .date-time-picker .field .field-input, #stats-tab .date-time-picker .field .field-input {
  height: auto!important;
  padding: 0!important;
  color: #ffffff!important;
  text-align: center;
  border: none!important;
  background: transparent!important;
}
#reporting .hl_datepicker .icon-calendar {
  color: #ffffff;
  margin-right: 10px;
}
#reporting .hl_datepicker .icon-arrow-down-1 {
  font-size: .625rem;
  margin-left: 10px;
  color: #ffffff;
}
#reporting .btn.btn-primary:active,
#reporting .btn.btn-primary:focus,
#reporting .btn.btn-primary:hover{
  color: #ffffff!important;
}
/* JRD END */

