/* SCHEDULING */

/* JRD START */

#calender-v2 .btn.btn-primary {
	background-color: #32475C;
	border-color: #32475C;
	color: #fff;
}
#calender-v2 .btn.btn-primary:active,
#calender-v2 .btn.btn-primary:focus,
#calender-v2 .btn.btn-primary:hover {
	background-color: #32475C!important;
	border-color: #32475C!important;
	color: #fff!important;
}
#calender-v2 .dropdown .dropdown-menu .dropdown-item:active,
#calender-v2 .dropdown .dropdown-menu .dropdown-item:focus,
#calender-v2 .dropdown .dropdown-menu .dropdown-item:hover {
	background: #e0e0e0;
}
#calender-v2 .btn.btn-link {
	color: #32475C;
	padding-left: 0;
	padding-right: 0;
}
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-today .tui-full-calendar-weekday-grid-date-decorator {
	display: inline-block;
	width: 27px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	background: #006196;
	border-radius: 50%;
	color: #fff;
	font-weight: 700;
	margin-left: 2px;
}
#calender-v2 .hl-btn {
	background-color: #006196;
	border-color: #006196;
	color: #fff;
}
#calendarEvents .btn.btn-primary {
	background-color: #32475C;
	border-color: #32475C;
	color: #fff;
}
#calendarEvents .filter-option-inner-inner{
	color: #fff;
}
#calendarEvents .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle {
	background-color: #32475C;
	padding: 9.5px 50px 9.5px 20px;
	height: 40px!important;
}
#calendarEvents .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after {
	color: #ffffff;
}
#calendarEvents .bootstrap-select>.btn.dropdown-toggle {
	background: #006196;
	border: none;
	padding: 12px 20px;
	height: 50px;
	font-weight: 400;
}
#calendarEvents .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
	background: #e0e0e0;
	color: #32475c;
}
#calendarEvents .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:active,
#calendarEvents .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:focus,
#calendarEvents .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:hover {
	background: #f2f2f2;
}
#calendarEvents .btn.btn-primary:active,
#calendarEvents .btn.btn-primary:focus,
#calendarEvents .btn.btn-primary:hover {
	background-color: #32475C!important;
	border-color: #32475C!important;
	color: #fff!important;
}
#calendarEvents .bootstrap-select>.btn.dropdown-toggle:after {
	content: "\e904";
	display: block;
	margin: 0;
	position: absolute;
	top: 50%;
	right: 20px;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	font-family: Magicons!important;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 11px;
	height: 10px;
	font-size: 10px;
	border: none!important;
	color: #ffffff!important;
}
#calendarEvents .table thead tr th {
	border: none;
	color: #666666!important;
	font-weight: 400;
	padding: 12px 10px;
	line-height: 1.2;
}
#calendarEvents .table tbody tr td {
	color: #333333;
	border-top: 2px solid #f2f7fa;
	padding: 12px 10px;
	vertical-align: middle;
	line-height: 1.3;
}
#calendarEvents .dropdown .dropdown-menu .dropdown-item:active,
#calendarEvents .dropdown .dropdown-menu .dropdown-item:focus,
#calendarEvents .dropdown .dropdown-menu .dropdown-item:hover {
	background: #f2f2f2;
}
#book-appointment #cmp-apt-modal__btn--save.hl-btn {
	background-color: #006196;
	border-color: #006196;
	color: #fff;
}
#book-appointment .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
	background: #e0e0e0;
	color: #fff;
}
#book-appointment .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:active,
#book-appointment .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:focus,
#book-appointment .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:hover {
	background: #f2f2f2;
}

#update-calender-event #cmp-cal-event-modal__btn--delete.hl-btn {
	background-color: #ee713a;
	border-color: #ee713a;
	color: #fff!important;
}
#update-calender-event #cmp-cal-event-modal__btn--save.hl-btn {
	background-color: #016196;
	border-color: #016196;
	color: #fff!important;
}
#update-calender-event .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
	background: #e0e0e0;
	color: #666666;
}
#update-calender-event .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:active,
#update-calender-event .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:focus,
#update-calender-event .bootstrap-select>.dropdown-menu .inner .dropdown-menu li a:hover {
	background: #f2f2f2;
}
#calender-v2 .d-flex .align-items-center > span{
	background-color: #32475C;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 5px;
	color: #ffffff;
}

/* JRD END */


