#online-listing {
  padding-top: 55px !important;
}

#yext_shop #backdrop[data-v-38de12b9]:after {
  display: none;
}

#online-listing .card:not(.hl_online-analysis--table) .card-header {
  background: var(--brand-primary);
  color: var(--white);
  padding: 15px;
  border-radius: 10px 10px 0 0;
  border: none;
}

#online-listing .card:not(.hl_online-analysis--table) .card-header h2 {
  color: #fff;
  font-weight: 700;
}

#online-listing .card:not(.hl_online-analysis--table) .card-body {
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--brand-primary);
  border-top: none;
}

#online-listing .hl_online-analysis--table .avatar>h4,
#online-listing .hl_online-analysis--table td,
#online-listing .hl_online-analysis--table .yext-status {
  color: var(--brand-primary);
  font-weight: 700;
  font-size: 14px;
}

#online-listing .hl_online-analysis--table .rating .icon {
  color: var(--brand-accent);
}