/* CONTACTS */


/*pagination*/
#smartlists .page-link,
#smartlists .page-item.disabled .page-link {
  color: var(--brand-primary);
  background-color: var(--brand-accent);
  border-color: var(--brand-primary);
}

#smartlists .page-link:hover,
#smartlists .page-link:focus {
  color: #fff;
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);
}

/*table*/
#smartlists .table {
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid var(--brand-primary);
}

#smartlists .table thead tr th {
  color: #fff;
  font-weight: 700;
  padding: 1rem 15px;
  background-color: var(--brand-primary);
}

#smartlists .table td {
  color: var(--brand-primary) !important;
  border-top: none;
}

#smartlists .table thead tr th:first-child {
  border-top-left-radius: 10px;
}

#smartlists .table thead tr th:last-child {
  border-top-right-radius: 10px;
}

#smartlists .table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

#smartlists .table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

#smartlists .table tbody tr:nth-child(even) {
  background-color: #cacecf;
}

#smartlists .table thead tr th {
  min-width: 90px !important;
  vertical-align: middle;
}

#smartlists .table tbody tr td {
  border-top: none !important;
}

#smartlists .table + .pagination-component {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#smartlists a[data-v-7deaf1ce] {
  height: 20px !important;
  font-weight: 700;
  color: var(--brand-primary) !important;
}

/* Smartlist */

#smartlists button.btn.btn-light.btn-sm,
#smartlists button.btn.btn-blue.py-1.mx-2,
#smartlists button.btn.btn-blue.py-1 {
  background: #fcce00;
  background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
  background-size: auto 200%;
  transition: 0.5s;
  border-radius: 4px !important;
  color: var(--brand-primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 15px;
}

.icon.--blue, 
#dashboard h2, 
#marketing h2, 
#trigger-links h2, 
#form-builder h2, 
#customers h2, 
#calenderEvents h2, 
#calendarEvents h2, 
#customers .hl_customers--table, 
#customers, 
#smartlists tbody tr td a, 
#smartlists tbody tr td small, 
#smartlists tbody tr td i, 
#smartlists tbody tr td span, 
#smartlists tbody tr td .date-display, 
#smartlists tbody tr td .text{
	color: var(--brand-primary)!important;
}



#smartlists .header-underline, 
section#customers .d-flex.align-items-center.mt-3.mb-2{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
}
#smartlists .hl_smartlists--controls .hl_controls--left,
#smartlists .hl_controls .hl_controls--right{
	padding: 10px;
}
#smartlists .hl_smartlists--controls .hl_controls--left i {
  color: var(--brand-primary) !important;
  opacity: 1;
}
#smartlists .hl_controls{
  background: var(--white);
  margin-bottom: 0;
  border-left: 1px solid var(--brand-primary);
  margin: 0 15px;
  padding: 0;
  border-right: 1px solid var(--brand-primary);
}
#smartlists ul.header-ul li.active a {
  border: none;
  color: var(--white);
  border-color: #188bf6;
}
#smartlists .search-form input {
  padding: 10px 20px 10px 50px;
  padding: 10px 10px 10px 50px;
  height: 40px;
  border: 1px solid var(--brand-primary);
}
#smartlists .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle{
	border: 1px solid var(--brand-primary);	
}
#smartlists .hl_smartlists--main{
  background: var(--white);
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#smartlists .mb-3, 
#smartlists .my-3{
	display: none;
}
#smartlists div.card-like{
	border: 1px solid var(--brand-primary);
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	background: var(--white);
	padding: 5px;
	color: var(--brand-primary);
}
#smartlists div.card-like .flex-page-bar{
	background: transparent;
}
#smartlists .card{
	border-bottom: 1px solid var(--brand-primary);
	border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
}
#smartlists .card thead{
	background: var(--brand-primary);	
}
#smartlists .card thead span, 
#smartlists .wide-header{
	color: var(--white);
}
#smartlists .avatar_img{
	border-radius: 5px;
	background-color: var(--brand-accent);
}
#smartlists tbody tr td .table_tag{
	background: var(--brand-primary);
	color: #fff;
}
#smartlists button i.icon, 
#smartlists i.icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}

#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card-like{

}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150{
  border: none !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body{

}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table{
  border: 1px solid var(--brand-primary) !important;
  border-radius: 0 0 5px 5px !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr th:first-child{
  border-top-left-radius: 0 !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr th:last-child{
  border-top-right-radius: 0 !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr:last-child td:first-child{
  border-top-left-radius: 5px !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr:last-child td:last-child{
  border-top-right-radius: 5px !important;
}




/*  ========== Smartlist ============ */

#customers .hl_controls{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
  align-items: center !important;
}
#customers .hl_controls--left h3{
	color: #fff;
  font-weight: 600;
  height: auto !important;
}
#customers .btn-success.disabled, 
#customers .btn-success:disabled{
	background-color: var(--brand-accent);
  border-color: var(--brand-accent);
}
#customers .hl_controls .hl_controls--right>*{
  margin-bottom: 5px;	
}
#customers nav{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  padding: 10px;
  background: #fff;
}
#customers nav .pagination a{
	background: var(--brand-accent);
  border-color: var(--brand-accent);
  color:var(--brand-primary);
}
#customers ul.pagination.hl_controls.justify-content-end{
	background: transparent;
  border: none;
  padding: 0;
}
#customers .hl_customers--table{
	border-radius: 0 !important;
  border-left: 1px solid var(--brand-primary);
  margin-bottom: 0;
  margin-top: 0;
  border-right: 1px solid var(--brand-primary);
}
#customers nav:nth-child(4){
	border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--brand-primary);
}
#customers .text-success {
    color: var(--brand-accent)!important;
}

#smartlists ul.header-ul li{
	color: var(--brand-primary);
  background: var(--brand-accent);
  border-color: var(--brand-accent);
  padding: 5px 15px;
  border-radius: 5px;
  height: auto;
  margin-bottom: 0;
  border-bottom: 0;
}
#smartlists #colViewButton{
  background: var(--brand-accent) !important;
  border: 0 !important;
  color:var(--brand-primary) !important;
}
#smartlists #colViewButton .filter-option{
  padding: 0px 5px !important;
}
#smartlists #colViewButton .filter-option-inner{
  color:var(--brand-primary) !important; 
}
.hl_controls .hl_controls--right>:not(:last-child){

}


section#customers[data-v-075e455b] {
    padding-top: 0;
}
section#customers[data-v-075e455b] .container-fluid{
	padding-left: 15px;
	padding-right: 15px;
}
section#customers[data-v-075e455b] .container-fluid .card{
  border: 1px solid var(--brand-primary);
  margin-bottom: 20px;
  border-radius: 0 0 .3125rem .3125rem;
}
section#customers[data-v-075e455b] button{
	color: var(--brand-primary) !important;
  background: var(--brand-accent) !important;
  border: none !important;
  font-weight: 600;
}
section#customers[data-v-075e455b] .table thead tr th{
	color: var(--brand-primary);
}
section#customers[data-v-075e455b] table{
	border-color: var(--brand-primary);
}
section#customers[data-v-075e455b] .card-header{
	border-bottom: 2px solid var(--brand-primary);	
}
section#customers[data-v-075e455b] input#undefined-input{
	color: var(--brand-primary)!important;
}


section#customers[data-v-100ce549] .d-flex.align-items-center.mt-3.mb-2 .font-light{
	color: #fff;
  margin-bottom: 5px!important;
  font-weight: 400;
}
section#customers[data-v-100ce549] .d-flex.shadow.rounded-top.bg-white.align-items-center.justify-content-center.p-5{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  border-top: 0!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  color: var(--brand-primary);
}
#smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button,
#smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
  height: auto!important;
}
#smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button span i,
#smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
  color: var(--brand-primary) !important;
}

#smartlists .hl_smartlists--filters{
  z-index: 1;
}
#smartlists .hl_controls #customers .hl_dashboard--latest-review-requests{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#smartlists .hl_controls #customers .hl_dashboard--latest-review-requests .card-body{
  padding: 20px 30px;
}
.hl_wrapper #customers > .container-fluid:before{
  background: none !important;
  border: none !important;
  border-radius: 0!important;
}
/*#customers[data-v-7deaf1ce] > .container-fluid:before,
#customers[data-v-075e455b] > .container-fluid:before{
  
}*/
/*#customers[data-v-7deaf1ce] .container-fluid .card,*/
#customers[data-v-075e455b] .container-fluid .card{
  padding: 15px !important;
  margin: 0 !important;
}
#customers[data-v-7deaf1ce] .card-header{
  border-radius: 0!important;
  border-bottom: 0 !important;
}
#customers[data-v-7deaf1ce] .container-fluid .card .card-body.--no-padding{
  padding: 15px !important;
}
#customers[data-v-075e455b] .container-fluid .card .card-body.--no-padding{
  border: 1px solid var(--brand-primary);
  border-radius: 0 0 5px 5px;
  padding: 15px !important;
}
#customers[data-v-7deaf1ce] table,
#customers[data-v-075e455b] table{
  border: none !important;
}
#customers[data-v-7deaf1ce] table thead tr th,
#customers[data-v-075e455b] table thead tr th{
  color: var(--white) !important;
}
#customers ul.header-ul li a[data-v-7deaf1ce]{
  height: auto !important;
}
#customers .hl_tasks-list button.dropdown-toggle{
  background: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width button[type=button]{
  background-color: var(--brand-accent) !important;
  border-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  padding: 9.5px 20px;
  height: auto !important;
  line-height: unset !important;
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width button[type=button] .filter-option-inner-inner{
  color: var(--brand-primary) !important;
  font-weight: 600; 
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width{
  margin-bottom: 5px !important;
}
#customers #campaign-picker.hl_controls--right button{
  color: var(--brand-primary) !important;
}
#customers.hl_wrapper--inner.customers.contacts_restore > .container-fluid:before{
  background-color: transparent !important;
  border: none !important;
}

.hl_wrapper.nav-shrink{
  padding-left: 0!important;
}
.hl_header.nav-shrink{
  left: 0!important;
}
.hl_wrapper.nav-shrink .hl_wrapper--inner{
  width: 100%;
  padding: 50px;
}
.pagination a.active[data-v-b742a552]{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details {

}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap{
  border: 1px solid var(--brand-primary) !important;
  border-radius: 5px !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left{
  background: var(--brand-primary) !important;
  border-left: 0 !important;
  border-right: 1px solid var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left h2 a,
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left h2 span{
  color: var(--white) !important;
  font-weight: 600;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .hl_contact-details-left-tabs.expanded .nav.nav-tabs .nav-link{
  color: var(--white) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .hl_contact-details-left-tabs.expanded .nav.nav-tabs .nav-link.active{
  color: var(--brand-accent) !important;
  font-weight: 600;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group span,
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group input{
  color: var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group hr{
  border-color: var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group button[type=button].btn,
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group .tag,
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-footer.save button{
  background: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  border: 0 !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group button[type=button].dropdown-toggle{
  background: transparent !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-footer.save button{
  font-weight: 600;
  padding: 10px 20px !important;
}
.hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading{
  border-top: 1px solid var(--brand-primary) !important;
}
.hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading svg{
  overflow: hidden;
  background: var(--white);
  height: 30px;
  width: 46px;
  margin: -10px auto 0;
  padding: 0 10px;
  display: grid;
}
.hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading h3{
  color: var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_contact-details-new--wrap .hl_contact-details-left .form-group .bg-curious-blue-600{
  background-color: var(--brand-primary) !important;
}
.hl_contact-details-new--wrap .hl_contact-details-left .hl_contact-details-left-tabs .tab-content{
  background: var(--white) !important;
}
.hl_contact-details-new--wrap .hl_contact-details-left .hl_contact-details-left-tabs .nav-tabs{
  border-bottom: 1px solid  var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_conversations--message-header{
  background: var(--brand-primary) !important;
  border-bottom: 1px solid var(--brand-primary) !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_conversations--message-header,
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs .nav-tabs{
  height:55px !important;
}
.hl_wrapper.nav-shrink #contact-details .hl_conversations--message-header a{
  color: var(--white) !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right{
  border-left: 1px solid var(--brand-primary) !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs{
  top: 0 !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs .nav-tabs{
  border-bottom: 1px solid var(--brand-primary) !important;
  background: var(--brand-primary) !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs .nav.nav-tabs li a{
  color: var(--brand-primary) !important;
  padding: 5px 10px !important;
  background: var(--brand-accent) !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  display: inline-block !important;
}
.nav.nav-tabs .nav-item:not(:last-child){
  margin-right: 15px !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs .nav.nav-tabs .nav-link{
  color: var(--brand-primary) !important;
}
.hl_contact-details-new--wrap .hl_contact-details-right .hl_contact-details-right-tabs .nav.nav-tabs .nav-link.active{
  color: var(--white) !important;
  font-weight: 600;
  border-color: var(--brand-accent) !important;
}
.hl_contact-details-right-tabs .tab-content .customerPageClass .hl_tasks-list,
.hl_contact-details-right-tabs .tab-content .customerPageClass .hl_tasks-list button[type=button],
.hl_contact-details-right-tabs .tab-content .customerPageClass .card i,
.hl_contact-details-right-tabs .tab-content .customerPageClass .card p,
.hl_contact-details-right-tabs .tab-content .tab-pane .form-group span,
.hl_contact-details-right-tabs .tab-content .tab-pane .form-group label,
.hl_contact-details-right-tabs .tab-content .tab-pane .form-group input{
  color: var(--brand-primary) !important;
}
.hl_contact-details-right-tabs .tab-content .form-footer.save.space-x-2 button,
.tab-content .tab-content .form-footer.save button{
  background-color: var(--brand-accent) !important;
  border: none !important;
  color: var(--brand-primary) !important;
  font-weight: 600;
}
.message-input-wrap.overflowdisabled .nav.nav-tabs .nav-item a{
  background: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  border: 0 !important;
  padding: 10px 15px;
  border-radius: 5px;
  align-items: center;
  font-weight: 600;
}
.message-input-wrap.overflowdisabled .tab-content .tab-pane .email-action-bottom .email-action-bottom-right button,
.message-input-wrap.overflowdisabled .tab-content .tab-pane .message-box .email-action-bottom-right button{
  background: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  border: 0 !important;
  padding: 10px 15px;
  border-radius: 5px;
  align-items: center;
  font-weight: 600;
}
.message-input-wrap.overflowdisabled .tab-content .tab-pane .email-action-bottom .email-action-bottom-right button svg,
.message-input-wrap.overflowdisabled .tab-content .tab-pane .message-box .email-action-bottom-right button svg{
  filter: invert(10%) sepia(97%) saturate(5906%) hue-rotate(178deg) brightness(66%) contrast(80%)
}
.message-input-wrap.overflowdisabled .tab-content .tab-pane .form-group .mce-panel{
  border-color: var(--brand-primary) !important;
}
.message-input-wrap.overflowdisabled .tab-content .tab-pane .form-group .mce-panel .mce-btn-group:not(:first-child){
  border-left: 1px solid var(--brand-primary) !important;
}
.hl_contact-details-left .d-inline-block .mx-2.pointer .fa{
  color:  var(--brand-accent) !important;
}

/*----------- modal ------------*/

.modal .modal-body .modal-body--inner form .modal-buttons button{
  background-color: var(--brand-accent) !important;
  border: none !important;
  color: var(--brand-primary) !important;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading{

}
.modal .modal-content{
  overflow: hidden;
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .modal-body h1,
.modal .modal-dialog .modal-content .modal-body h2,
.modal .modal-dialog .modal-content .modal-body h3,
.modal .modal-dialog .modal-content .modal-body h4,
.modal .modal-dialog .modal-content .modal-body h5,
.modal .modal-dialog .modal-content .modal-body h6,
.modal .modal-dialog .modal-content .modal-body p{
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading li{
  background-color: rgba(252,206,0,.1);
  color: var(--white) !important;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading li.active{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .modal-body label.btn.btn-success.dz-clickable,
.modal .modal-dialog .modal-content .modal-body button,
.modal .modal-dialog .modal-content .modal-body a.btn{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-body button.btn.dropdown-toggle.btn-light{
  background-color: transparent !important;
}


/*----------- end of modal -----------*/



/*--------- Mobile version --------*/
@media only screen and (max-width: 576px) {
  #smartlists .customized-header .header-underline .d-inline-block{
    display: block !important;
  }
  #smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
    color: var(--brand-primary) !important;
    height: auto !important;
    font-weight: 600;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block{
    margin: 0 !important;
    float: unset !important;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button{
    display: block;
    margin: 5px 0 !important;
    width: 100% !important;
    height: unset;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button span i{
    color: var(--brand-primary) !important;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left{
    margin: 0 !important;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left button{
    width: 100%;
    margin-right: 0;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right .dropdown.bootstrap-select.fit-width,
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right .form-control-group,
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right button#hl_smartlists--filter-btn{
    width: 100% !important;
    margin-right: 0 !important;
  }
  #smartlists .hl_smartlists--wrap .hl_smartlists--main .card.no-border-radius .card-body.--no-padding{
    overflow-x: auto;
  }


  /*-----Customers/ manual actions----*/
  #customers .container-fluid.mb-5 {

  }
  #customers .container-fluid.mb-5 .hl_controls{
    display: block;
    width: 100%;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--left {
    margin: 0 !important;
    text-align: center;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right{
    display: block;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width{
    display: inline;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    margin-bottom: 5px;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button .filter-option-inner-inner{
    color: var(--brand-primary);
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .btn.btn-success{
    width: 100%;
    color: var(--brand-primary);
  } 
  #customers .container-fluid.mb-5 nav ul.pagination.hl_controls.justify-content-end, #customers .container-fluid.mb-5 nav ul.pagination.justify-content-end{
    display: block;
  }
  #customers nav .pagination a{
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }

  /*----------- Contact Request ------------*/
  #smartlists .customized-header .header-underline .d-inline-block .header-ul{

  }
  #smartlists .customized-header .header-underline .d-inline-block .header-ul li{
    margin-right: 0;
    margin-bottom: 5px;
    padding: 10px 15px;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left{
    margin: 0 !important;
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
  }

}


/*----------- Tab ------------*/
@media only screen and (min-width: 577px)and (max-width: 1200px)   {
  #smartlists .hl_smartlists--wrap .hl_smartlists--main .card.no-border-radius .card-body.--no-padding{
    overflow-x: auto;
  }

  /*-----Customers/ manual actions----*/
  #customers .container-fluid.mb-5 {

  }
  #customers .container-fluid.mb-5 .hl_controls{
    display: block;
    width: 100%;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--left {
    margin: 0 !important;
    text-align: center;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right{
    display: block;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width{
    display: inline;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    margin-bottom: 5px;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button .filter-option-inner-inner{
    color: var(--brand-primary);
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .btn.btn-success{
    width: 100%;
    color: var(--brand-primary);
  } 
  #customers .container-fluid.mb-5 nav ul.pagination.hl_controls.justify-content-end, #customers .container-fluid.mb-5 nav ul.pagination.justify-content-end{
    display: block;
  }
  #customers nav .pagination a{
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }
}










