/* CHAT WIDGET */

#chat-widget .hl-btn {
  background-color: #006196;
  /*background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);*/
  background-size: auto 200%;
  transition: 0.5s;
  border-radius: 4px !important;
  color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 10px 15px;
  font-weight: 700;
}

#chat-widget .hl_wrapper-text-widget--root {
  max-width: calc(100% - 40px);
  margin: 55px 20px;
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
  padding: 0;
}

#chat-widget .hl_wrapper-text-widget--root .header {
  background: var(--brand-primary);
  color: var(--white);
  padding: 15px;
  border-radius: 10px 10px 0 0;
  border: none;
  margin-left: 0;
}

#chat-widget .hl_wrapper-text-widget--root .header h4 {
  color: #333333;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

#chat-widget .hl_wrapper-text-widget--root .header label {
  color: #333333;
  margin-bottom: 0;
}

#chat-widget .hl_wrapper-text-widget--root .header .action-container {
  margin: 0;
}

#chat-widget .hl_wrapper-text-widget--root .action-container .hl-btn {
  border: none;
  height: 30px;
}

#chat-widget .border-curious-blue-400 {
  border-color: #ffffff!important;
}

#chat-widget .hl_wrapper-text-widget--root .action-container > * {
  margin-left: 10px;
}

#chat-widget .hl_wrapper-text-widget--root .header .action-container a {
  color: #333333;
}

#chat-widget .hl_wrapper-text-widget--root .header .action-container a:hover,
#chat-widget .hl_wrapper-text-widget--root .header .action-container a:focus {
  color: var(--brand-accent);
}

#chat-widget h1, h2, h3, h4, h5, h6 {
  color: #333333!important;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
}

#chat-widget h4 {
  font-size: 14pt;
}

#chat-widget label p{
  color: #333333!important;
  font-size:  .75rem;
  font-weight: 600;
  font-family: 'Oxygen', sans-serif;
}

/*controls*/

#chat-widget .custom-control-input:checked~.custom-control-label:before {
    color: #ffffff;
    background-color: #006196;
}

#chat-widget .custom-file-input:lang(en)~.custom-file-label:after {
    color: #333333!important;
    border: none;
    background-color: #f2f2f2!important;
    font-weight: 700;
}

#chat-widget .custom-file-input:lang(en)~.custom-file-label:before {
    color: #333333!important;
    border: none;
    background-color: #f2f2f2!important;
    font-weight: 700;
}

#chat-widget #lc_text-widget--btn .lc_text-widget--btn {
  background-color: #016196!important;
}

#chat-widget .icon .widget-close-icon {
  background-color: #016196!important;
}

/*accordion*/
#chat-widget .hl_wrapper-text-widget--root .card:not(:first-child) {
  margin-top: 10px;
}

#chat-widget .hl_wrapper-text-widget--root .card-header {
  padding: 0 !important;
  border-bottom: none;
}

#chat-widget .hl_wrapper-text-widget--toggle {
  color: #333333!important;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

#chat-widget .hl_wrapper-text-widget--toggle  .header-text {
  font-size: 14pt;
  font-weight: 700;
  margin-left: 25px;
}

#chat-widget .small-text a {
    color: inherit;
    text-decoration: inherit;
    font-weight: 600;
}

#chat-widget .small-text a:hover {
    color: #EE713A;
    text-decoration: underline;
}

#chat-widget .hl_wrapper-text-widget--toggle.not-collapsed {
  border-radius: 10px 10px 0 0;
}

#chat-widget .hl_wrapper-text-widget--root .accordion .card-body {
  border: 1px solid var(--brand-primary);
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input-container {
  border: 1px solid var(--brand-primary);
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input-container:not(:last-child) {
  border-bottom: none;
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input-container:first-child {
  border-radius: 10px 10px 0 0;
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input-container:last-child {
  border-radius: 0 0 10px 10px;
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input-container::after {
  display: none;
}

#chat-widget .hl_wrapper-text-widget--root .string-attr-input>label,
#chat-widget .hl_wrapper-text-widget--root .string-attr-input .custom-control-label  {
  color: var(--brand-primary);
}

#chat-widget .hl_wrapper-text-widget--root .custom-file-label {
  color: var(--brand-primary);
}

#chat-widget .hl_wrapper-text-widget--root .custom-file-input:lang(en)~.custom-file-label:before,
#chat-widget .hl_wrapper-text-widget--root .custom-file-input:lang(en)~.custom-file-label:after {
  color: var(--brand-primary);
  font-weight: 700;
  background-color: var(--brand-accent);
}

/*footer*/
#chat-widget .hl_wrapper-text-widget--root .action-container a {
  color: var(--brand-primary);
}

#chat-widget .hl_wrapper-text-widget--root .action-container a:hover,
#chat-widget .hl_wrapper-text-widget--root .action-container a:focus {
  color: var(--primary);
}

#chat-widget .modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via-btn {
  background-color: var(--brand-primary);
}

#chat-widget .modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);;
}

#chat-widget .modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via-btn.active {
  color: var(--brand-primary);
  background: var(--brand-accent);
  font-weight: 700;
}

#chat-widget .modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .copy-code-wrapper {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
}

/* CHAT WIDGET -- MODAL */
#chat-widget .modal .modal-header {
  background-color: #ffffff;
}

#chat-widget .modal .modal-title,
#chat-widget .modal .modal-title h5 {
  color: #333333;
  font-weight: 700;
  font-size: 1rem;
}

.modal-dialog--text-widget-settings .code-share__via {
    border: 3px solid #32475c!important;
    border-radius: 30px;
    background-color: #32475c!important;
}

.modal-dialog--text-widget-settings .code-share__via-btn {
    font-weight: 600!important;
    padding: 2px 8px;
    border-radius: 30px;
    background-color: #32475c!important;
    color: #ffffff!important;
}

.modal-dialog--text-widget-settings .code-share__via-btn.active {
    font-weight: 600!important;
    background-color: #32475c!important;
    color: #ffffff!important;
    background-color: #ffffff!important;
    color: #333333!important;
}

.modal-dialog--text-widget-settings .copy-code-wrapper {
    background: #f2f2f2!important;
}

.modal-dialog--text-widget-settings .modal-title {
    font-weight: 600;
    font-size: 1.3em!important;
 }   

 #chat-widget .modal-body label {
    color:  #333333;
 }