/* SETTINGS */

/*------------- Desktop view ---------------*/

#settings table,
#settings table .handle,
#settings table .icon,
#settings table span,
#settings table label,
#settings table h1,
#settings table h2,
#settings table h3,
#settings table h4,
#settings table h5,
#settings table h6{
    color: #32475C !important;
}
/*--------- Company -----------*/
#settings{
	padding: 0 40px;
}
#settings .hl_settings--header {
	border: 1px solid #f6a24a!important;
    border-radius: 5px 5px 0 0;
    background-color: #ebebeb!important;
    color: #333333;
    margin: 0;
    padding: 15px 0 15px 0;
    box-shadow: none;
}

#settings .hl_settings--controls>*{
    margin-bottom: 10px;
}
#settings .hl_settings--header .container-fluid h2{
	color: #32475C;
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    font-size: 14pt;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li{
	background: #32475C;
    color: #ffffff;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px !important;
    text-align: center;
    font-weight: 600;
    font-size: 10pt;
    font-family: 'Oxygen', sans-serif;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li a{
    color: #ffffff !important;
    padding-bottom: 0;
    border-bottom: none;
    font-size: 10pt;
    font-family: 'Oxygen', sans-serif;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li.active a{
	color: #ffffff !important;
    font-weight: 600;
    font-size: 10pt;
    font-family: 'Oxygen', sans-serif;
}

#settings .hl_settings--body{
    background: #f7f7f7;
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-top: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    padding: 35px 15px;
}

#settings .hl_settings--body .container-fluid .row .hl_settings--main.col-lg-6 .card{
    background: #fff !important;
    border: none !important;
    margin-bottom: 20px !important;
    border: 1px solid var(--brand-primary) !important;
    padding: 0 !important;
    border-radius: 5px !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-header{
	background: #ffffff;
    border-radius: 0 !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card h3{
	color: #32475C;
	font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    font-size: 12pt;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body{
	max-width: unset !important;
	color: #32475C;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=submit],
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=button],
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text button[type=button]{
	background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group .btn.dropdown-toggle.btn-light{
	background: var(--white);
	color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .personal-logo .picture-text .flex.py-2 .ml-2.border-gray-300{
    background: #ee713a !important;
    color: #ffffff !important;
    border: 0 !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text h4,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .hl_call--settings p,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group label,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group span{
	color: #666666;
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;	
}

#setting .card-body .form-group button span[data-v-3e6b723d] {
    color: #ffffff !important;
}

#settings .form-group .space-y-1 span{
    color: #32475C !important;
}

#settings .hl-btn{
    background-color: #006196;
}

#settings .hl_call--settings .text-inner-upload {
    font-size: 10pt;
    line-height: 18px;
    color: #333333;
    opacity: .5;
    font-family: 'Oxygen', sans-serif;
}

#settings [type=checkbox]:checked, [type=radio]:checked {
    border-color: transparent;
    background-color: #666666;
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

#settings [type=checkbox]:checked:focus, [type=checkbox]:checked:hover, [type=radio]:checked:focus, [type=radio]:checked:hover {
    border-color: transparent;
    background-color: #333333;
}

#settings .audio-upload .message[data-v-7df4c0d6] {
    font-weight: 600;
    color: #ffffff;
    font-family: 'Oxygen', sans-serif;
    font-size: 9pt;
}

#settings .hl_call--settings .audio-upload {
    background: #008e96;
    border-radius: 5px;
    border: none;
}

#settings .import-file .message .highlight-text[data-v-7df4c0d6] {
    color:  #ffffff!important;
}


/*-------- Team Management ------------*/
#settings .hl_settings--body .hl_controls{
    border: 1px solid var(--brand-primary);
    border-radius: 5px 5px 0 0;
    background: var(--brand-primary);
    color: var(--white);
    margin: 0;
    padding: 15px 15px 5px 15px;
    box-shadow: none;
}
#settings .hl_settings--body .hl_controls h3{
    color: #32475C;
    font-weight: 600;
}
#settings .hl_settings--body .hl_controls .hl_controls--left h2{
	color: #333333;
    font-weight: 600;
    font-size: 14pt;
    font-family: 'Oxygen', sans-serif;
}

#settings .hl_controls .hl_controls--left h2 span {
    color: #666666;
    font-weight: 600;
    font-size: 10pt;
    font-family: 'Oxygen', sans-serif;
}

#settings .hl_settings--body .hl_controls .hl_controls--right button{
	background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
} 
#settings .hl_settings--body .hl_controls .hl_controls--right button .filter-option-inner-inner{
    color: #fbf7f7;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}
#settings .hl_settings--body nav.mb-3:nth-child(2){
    display: none;
}
#settings .hl_settings--body nav.mb-3{
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    padding: 15px;
    margin-bottom: 0 !important;
}
#settings .hl_settings--body nav.mb-3:last-child{
	border-bottom: 1px solid var(--brand-primary);
	border-radius: 0 0 5px 5px;
}
#settings .hl_settings--body nav.mb-3 .pagination.justify-content-end li a{
	background: #016196;
    border-color: var(--white);
    color: #ffffff;
    font-size: 10pt;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}
#settings .pagination li a{
    font-weight: 500;
}

/*-------- Main Team Management Box ------------*/
#settings .hl_settings--body .card.hl_settings--team-management{
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-radius:  0 !important;
    margin-bottom: 0 !important;
    padding: 15px;
}
#settings .hl_settings--body .card.hl_settings--team-management .table-wrap .table thead tr th{
	color: var(--white);
}
#settings .hl_settings--body .card.hl_settings--team-management .btn-group .btn.btn-primary{
	background: #016196;
    border-color: #016196;
    color: #ffffff!important;
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td{
    color: var(--brand-primary);
	border-top: 2px solid var(--brand-primary);
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .avatar .avatar_img{
    background: #ee713a !important;
    border-radius: 5px;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .avatar h4{
	color: var(--brand-primary)!important;
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .btn-group .btn.btn-primary.btn-keep-height{
	margin-right: 1px;
}

#settings .avatar h4 a{
    color:  #333333!important;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}



/*-------- End Main Team Management Box ------------*/

/*-------------- Teams ----------------*/
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management .table thead tr th{
    background: transparent !important;
}
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management .table thead tr th{
    color: var(--brand-primary);
}
/*-------------- End Teams ----------------*/



/*------------- Reputation ------------------*/
#settings .hl_reputation{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 8px;
}
#settings .hl_reputation .hl_reputation--header.hl_reputation--header--under-settings{
    padding: 0 0 10px;
}
#settings .hl_reputation .hl_reputation--header.hl_reputation--header--under-settings h3{
    color: #333333;
    font-size: 14pt;
    font-family: 'OXYGEN', sans-serif;
    font-weight: 600;
}

#settings .hl_reputation .hl_reputation--body .hl_reputation_settings section .card{
    border: 1px solid var(--brand-primary);
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

#settings .hl_reputation .hl_util--sapcebetween button, 
#settings .hl_reputation button[type=button],
#settings .hl_reputation .card .card-body .emulator-component .mobile-structure__screen .mobile-structure__screen__bar.mobile-structure__screen__bar--bottom button,
#settings .hl_reputation .card .card-body .emulator-component .iframe-src-doc iframe a{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_reputation .card .card-header{
    border-bottom: 2px solid var(--brand-primary);
    background: #ffffff;
}
#settings .hl_reputation .card .card-header h3{
    color: #32475C;
    font-weight: 600;
}


/*--- font color card-body ----*/
#settings .hl_reputation .card .card-body h1,
#settings .hl_reputation .card .card-body h2,
#settings .hl_reputation .card .card-body h3,
#settings .hl_reputation .card .card-body h4,
#settings .hl_reputation .card .card-body h5,
#settings .hl_reputation .card .card-body h6,
#settings .hl_reputation .card .card-body p,
#settings .hl_reputation .card .card-body span,
#settings .hl_reputation .card .card-body label{
    color: #333333;
    font-weight: 600;
    font-family: 'Oxygen',sans-serif;

}

#settings .hl_reputation .card .card-body span {
    font-size: 10pt;
}

#settings .upload-box .hl_reputation button[type=button] span[data-v-15145cfc] {
    color: #ffffff!important;
}

#settings .hl_reputation .card .card-body span[data-v-57371216] {
    font-size: 10pt;
    color: #ffffff;
}

#settings .emulator-component .emulator-control .active svg path[data-v-769026a5] {
    stroke: #e98459!important;
}

#settings .emulator-component .emulator-control .active[data-v-769026a5] {
    color: #EE713A!important;
    border-bottom: 1px solid #EE713A!important;
}

/*-------------  End Reputation ------------------*/





/*------------ Pipelines ------------------*/
#settings .hl_settings--body.hl_settings--customize-communication{
    padding-left: 0!important;
    padding-right: 0!important;
}

#settings .hl_settings--body.hl_settings--customize-communication .card.hl_customers--table{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 15px;
    margin-top: 0;
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table{
    border-radius: 5px;
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table thead tr th{
    border-radius: 0 !important;
    color: var(--white);
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table thead tr td{
    border-top: 1px solid var(--brand-primary);
    color: var(--brand-primary);
}
#settings .hl_settings--body.hl_settings--customize-communication .card.hl_customers--table .table i{
    color: #333333 !important;
}


#settings .stage-holder .fa-chart-pie[data-v-5e039e73] {
    color:  #333333!important;
}
#settings .stage-holder .fa-filter {
    color:  #333333!important;
}
#settings .stage-holder .fa-trash-alt {
    color:  #333333!important;
}


#settings .hl_settings--body.hl_settings--customize-communication .card .table-wrap .table tbody tr td i .fa-pencil-alt {
    color:  #333333!important;
}

/*------------ Integrations -------------*/
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration p,
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration .mt-3{
    color: #333333;
}
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration{
  border-radius: 5px;
  height: 100%;
  border: 1px solid var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration button{
    background: #016196;
    color: #ffffff!important;
    font-weight: 600;
    margin-bottom: 5px;
    padding: 5px;
}

/*------------ End Integrations -------------*/

/*---------- Phone Numbers ------------*/
#settings div div.hl_settings--body .container-fluid .card .card-header{
    border-bottom: none !important;    
}
#settings div div.hl_settings--body .container-fluid .card .card-header h3{
    color: #32475C;
}
#settings div div.hl_settings--body .container-fluid .card .card-header button{
    background: var(--brand-accent);
    border: none;
    color: var(--brand-primary);
    border-radius: 5px;
    font-weight: 600;
}
#settings div div.hl_settings--body .container-fluid .hl_settings--body{
    border-radius: 5px;
}
#settings div section.hl_settings--body .container-fluid .hl_settings--body{
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
#settings div section.hl_settings--body .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}


/*---------- End Phone Numbers ------------*/

/*----------- Calender --------------*/
#settings .hl_settings--body.calendar-settings #card_view_container{
    margin: 0!important;
    border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
}
#settings .hl_settings--body.calendar-settings h1,
#settings .hl_settings--body.calendar-settings h2,
#settings .hl_settings--body.calendar-settings h3,
#settings .hl_settings--body.calendar-settings h4,
#settings .hl_settings--body.calendar-settings h5,
#settings .hl_settings--body.calendar-settings h6,
#settings .hl_settings--body.calendar-settings label,
#settings .hl_settings--body.calendar-settings span{
    color: #32475C;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendar #card_view_container{
    border: 1px solid var(--brand-primary);
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header label{
    color: #333333;
    font-weight: 600;
    font-family: 'Oxygen', sans-serif;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button]{
    background: var(--brand-accent) !important;
    border: 0 !important;
    border-radius: 5px !important;
    color: var(--brand-primary) !important;
    height: 5px !important;
    padding: 15px 20px !important;
    font-weight: 600;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button] i{
    /*filter: invert(10%) sepia(97%) saturate(5906%) hue-rotate(178deg) brightness(66%) contrast(80%)*/
    color: #ffffff;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button] label{
    color: var(--brand-primary) !important;
    font-weight: 600;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider{
    border: none !important;
    box-shadow: none !important;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-header.card-header--provider.d-flex.p-3{
    background: #ffffff;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-header.card-header--provider.d-flex.p-3 span{
    color: #32475C;
    font-weight: 600 !important;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-body{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 8px;
    margin-top: 0;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-body #pg-team-cal__button--create-calendar{
    border: 1px dashed var(--brand-primary) !important;
    border-radius: .3125rem !important;
    font-weight: 600;
}
#settings .calendar-settings .body .card--add-service{
    border: 1px dashed var(--brand-primary);
}
#settings .calendar-settings .body .card .card--service{
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 2px, rgb(0 83 117) 3px 0px 0px inset !important;
}

#settings .calendar-settings .body .card--add-service .btn{
    background: #333333!important;
    border-radius: 5px;
    min-width: 0;
    padding: 4px 8px;
}
#settings .btn.btn-link {
    color: #EE713A;
}


/*--------- Templates ----------*/
#settings .hl_settings--header .hl_settings--body .container-fluid .hl_settings--controls{
    background: var(--brand-primary);
    color: var(--white);
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table{
    border-radius: 5px !important;
    overflow: hidden;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table.table tr th{
    border-radius: 0 !important;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table.table tr .hint-icon{
    color: var(--brand-primary);
}

/*---------- Custom Fields -----------*/
#settings .hl_settings--header .hl_settings--body .container-fluid .card.hl_settings--team-management{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}
#settings .hl_settings--header .hl_settings--body .container-fluid .card .table tbody tr td{
    border-top: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .card .--no-padding .table-wrap table.table tbody tr td{
    color: #333333;
    font-family: 'Oxygen', sans-serif;
    font-size: 10pt;
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
}


/*----------- Payments ----------*/
#settings .bg-white.py-3.mx-3.rounded.shadow{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
    color: var(--brand-primary);
    padding: 35px 8px;
    margin-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow main h2,
#settings .bg-white.py-3.mx-3.rounded.shadow main nav a{
    color: var(--brand-primary);
}
#settings .bg-white.py-3.mx-3.rounded.shadow main .border-gray-200{
    border-color: rgba(0,83,117,var(--tw-border-opacity));
}
#settings .bg-white.py-3.mx-3.rounded.shadow button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3 .bg-white.shadow{
    border: 1px solid var(--brand-primary);
}

/*----------- Tags ------------*/
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid .card.tags--table .table-wrap table.table thead tr th{
    color: #333333 !important;
}
/*settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td{
    border-bottom: 1px solid var(--brand-primary);
}*/
/*#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th:first-child,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td:first-child{
    border-left: 1px solid var(--brand-primary);
}*/
/*settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th:last-child,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td:last-child{
    border-right: 1px solid var(--brand-primary);
}*/
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td,
#settings .hl_settings--body.hl_settings--customize-communication .card .table-wrap .table tbody tr td i{
    color: #333333 !important;
}

/*----------- Custom Values ------------*/
#settings .hl_settings--body .hl_settings--controls .hl_settings--controls-left h2{
    color: var(--brand-primary);
}

/*----------- Domains -------------*/
#settings .hl_settings--body .container-fluid .hl_settings--controls .hl_settings--controls-left h2{
    color: #333333;
    font-weight: 600;
    font-size: 14pt;
    font-family: 'Oxygen', sans-serif;
}
#settings .hl_settings--body .container-fluid .hl_settings--controls .hl_settings--controls-right button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}

/*------------ SMTP -------------*/
#settings .hl_settings--body .hl_settings--controls{
    border: 1px solid var(--brand-primary);
    border-radius: 5px 5px 0 0;
    background: var(--brand-primary);
    color: var(--white);
    margin: 0;
    padding: 15px 15px 5px 15px;
    box-shadow: none;
}
#settings .hl_settings--body .container-fluid .card .card-body .form-group span{
    color: #333333;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
    font-size: 10pt;
}
#settings .hl_settings--body .container-fluid .card .card-body .col-sm-12.col-md-3.my-auto button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management.col-lg-12{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}
#settings .hl_settings--body .container-fluid {
    color: var(--brand-primary);
}

/*--------- Payments -----------*/
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li{
    border: 1px solid var(--brand-primary);
    color: var(--brand-primary) !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h1,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h2,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h3,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h4,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h5,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h6,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div{
    color: #32475C !important;
}

#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div{
    color: #333333 !important;
    font-family:  'Oxygen', sans-serif;
    font-weight: 600;
}

#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li label{
    color: #333333!important;
    font-family:  'Oxygen', sans-serif;
    font-weight: 600;
}

#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:first-child{
    border-top: none;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child{
    border-top: 1px solid var(--brand-primary);
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child div{
    border-top: none;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child div.space-y-3{
    padding-top: 15px;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li hr.mt-3{
    border-top: 2px solid var(--brand-primary) !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow main .block .border-b.border-gray-200 nav .border-curious-blue-500{
    border-color: #333333;
}

#settings .bg-white.py-3.mx-3.rounded.shadow main nav a {
    color:  #333333!important;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}

#settings .nothing-found{
    color: var(--brand-primary);
}
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h1
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h2,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h3,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h4,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h5{
    color: #32475C;
}
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h1,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h2,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h3,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h4,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h5,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h6,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component span{
    color: #32475C;
}





/*------------- Modal Start ---------------*/
#settings .modal .modal-dialog .modal-content .modal-header h5,
#settings .modal .modal-dialog .modal-content .modal-header button span,
#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner h5,
#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner h5 .icon{
    color: #333333!important;
    font-weight: 600;
    font-size:  14pt;
    font-family: 'Oxygen', sans-serif;
}

#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner button{
    background: none !important;
    border-color: transparent !important;
    color: #afb8bc !important;
}
#settings .modal .modal-dialog .modal-content .modal-header div:nth-child(2) button span{
    color: #333333 !important;
}
#settings .modal .modal-content--service .modal-body .modal-body--inner--service{
    max-width: 100% !important;
    margin-left: 25px!important;
    margin-right: 25px !important;
}
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1 .help-text,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2 .help-text,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3 .help-text{
    color: #333333 !important;
}
#settings .modal .modal-content--service .flex.items-center.justify-end button{
    background: #006196 !important;
    color: #ffffff !important;
    border: transparent !important;
}
#settings .modal-content--service .service-step.active .icon-wrapper{
    background: #EE713A !important;
}

#settings .modal-content--service .service-step{
    background-color: #f2f2f2;
}

#settings .modal .modal-body .modal-body--inner,
#settings .modal .modal-body .modal-body--inner .form-group,
#settings .modal .modal-body .modal-body--inner .form-group span,
#settings .modal .modal-body .modal-body--inner .hl_help-article{
    color: #333333 !important;
    font-family: 'Oxygen', sans-serif;
    font-weight: 600;
}
#settings .modal .modal-body .modal-body--inner a{
    text-decoration: underline !important;
}

#settings .modal .modal-body .modal-body--inner .dropdown-menu.inner.show li.active span{
    color: #333333 !important;
}



#settings .modal-footer .hl-btn{
    background: var(--brand-accent);
    border: none !important;
    color: var(--brand-primary);
}
#settings .modal-content--service section.section-office-hours .day-of-week-name-box.selected,
#settings .modal .modal-content .modal-body .card-body .day-of-week-name-box.selected{
    background: var(--brand-primary) !important;
}
#settings .day-of-week-name-box.selected{
    color: #333333!important;
}

#settings .bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
    background: #e0e0e0!important;
}


#settings .calendar-hour .add-hours  {
    color: #333333!important;
}
#settings .calendar-hour .apply-all {
    color: #333333!important;
}


#settings .modal .modal-content .modal-body .modal-body--inner .form-group .border-red-300{
    border-color: var(--danger) !important;
}
#settings .modal .modal-content #email-error.hl-input-error.mt-2.text-sm.text-red-600{
    color: var(--danger) !important;
}
#settings .modal .modal-content .modal-body .card-body .flex button,
#settings .modal .modal-content .modal-body .modal-body--inner .modal-buttons button{
    background: var(--brand-accent) !important;
    border: none !important;
    color: var(--brand-primary) !important;
    font-weight: 600;
}
#settings .modal .modal-content .modal-body .modal-body--inner .mce-panel,
#settings .modal .modal-content .modal-body .modal-body--inner .mce-btn-group:not(:first-child){
    border-color: var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card{
    border: 1px solid var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card .card-header{
    border-bottom: 2px solid var(--brand-primary) !important;
    /*box-shadow: none !important;*/
}


#settings .bg-gray-200{
    border-color: transparent !important;
    background-color: rgba(229,231,235,var(--tw-bg-opacity)) !important;
}
#settings .bg-curious-blue-600{
    border-color: transparent !important;
    background-color: var(--brand-accent) !important;
}




#settings .hl_edit-event-modal-main .card{
    border: 1px solid var(--brand-primary);
}
#settings .hl_edit-event-modal-main .card .card-footer{
    border-top: 2px solid rgba(0,83,117,.2) !important;
    color: var(--brand-primary) !important; 
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .card-header.--no-right-padding{
    border-bottom: 2px solid rgba(0,83,117,.2) !important;
    background: #ffffff;
    color: #32475C;
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .card-header.--no-right-padding h2{
    color: #32475C;
    font-weight: 600;
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel{
    border-color: var(--brand-primary) !important;
    color: var(--brand-primary) !important; 
}
#settings .modal-content .modal-body .modal-body--inner p,
#settings .modal-content .modal-body .modal-body--inner p b,
#settings .modal-content .modal-body .modal-body--inner h1,
#settings .modal-content .modal-body .modal-body--inner h2,
#settings .modal-content .modal-body .modal-body--inner h3,
#settings .modal-content .modal-body .modal-body--inner h4,
#settings .modal-content .modal-body .modal-body--inner h5,
#settings .modal-content .modal-body .modal-body--inner h6,
#settings .modal-content .modal-body .modal-body--inner span,
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel .mce-menubtn button,
#settings .hl_edit-event-modal-main .card .card-footer a,
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel .mce-statusbar .mce-flow-layout-item,
#settings .hl_edit-event-modal-main .card .card-footer span{
    color: #333333 !important; 
}

#settings .modal-content .modal-body .modal-body--inner h5 {
   font-weight: 600;
   font-size: 14pt; 
}



#settings .modal-content .modal-body .modal-body--inner .row .col-md-4{
    background: #f2f2f2 !important;
}

/*------------- Modal End ---------------*/

/*------ Mobile ------*/

@media only screen and (max-width: 576px) {



    #settings{
        padding: 0 20px !important;
    }

    .personal-logo .picture{
        width: 100% !important;
    }
    #settings button.hl-btn,
    #settings .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
    #settings .btn-group[data-v-6bdf583e]{
        text-align: center !important;
        width: 100%!important;
        margin-top: 10px;
    }
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text{
        text-align: center;
    }

    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text .flex.py-2{
        display: block !important;
    }
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text .flex.py-2 button{
        margin: 0px 0px 10px !important;
        width: 100%;
    }
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text .flex.py-2 button:last-child{
        margin-bottom: 0 !important;
    }
    
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group .col-sm-3.col-md-3 div{
        display: block !important;
    }
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group .col-sm-3.col-md-3 div button{
        margin-top: 10px;
    }
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=submit], 
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=button], 
    #settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text button[type=button]{
        width: 100%;
        margin-top: 10px;
    }
    .hl_controls>:not(:last-child),
    .hl_controls .hl_controls--right{
        width: 100% !important;
    }
    .table-wrap td{
        padding-left: 0%!important;
    }
    .table tbody tr td:last-child{
        padding-right: 0!important;
    }
    .pagination{
        display: grid;
        justify-content: normal !important;
    }
    .hl_controls .hl_controls--right>:not(:last-child){
        margin-right: 0!important;
        width: 100%;
    }
    #settings .hl_settings--body nav.mb-3 .pagination.justify-content-end li a{
        width: 100%;
        text-align: center;
        font-weight: 600;
    }
    #settings .hl_reputation .hl_reputation--header.hl_reputation--header--under-settings,
    #settings #review-sms .two-part .image-config[data-v-15145cfc],
    #settings .emulator-component[data-v-769026a5],
    #settings #review-email .card-header--withbutton[data-v-6fe2f1db],
    #settings #review-email .two-part[data-v-6fe2f1db]{
        display: block !important;
    }
    #settings #review-sms .two-part[data-v-15145cfc],
    #settings #review-email .two-part[data-v-6fe2f1db],
    #settings #review-widget .two-part[data-v-752b146d],
    #settings #review-widget .two-part .from-group--code[data-v-752b146d]{
        display: block !important;
        grid-template-columns: unset !important;
    }
    #settings #review-sms .two-part .image-config .image-toggle__btn[data-v-15145cfc]{
        grid-template-columns: unset;
    }
    #settings #review-sms .two-part>div[data-v-15145cfc]:first-child,
    #settings #review-email .two-part>div[data-v-6fe2f1db]:first-child,
    #settings #review-widget .two-part>div[data-v-752b146d]:first-child{
        border: none !important;
        padding-right: 0 !important;
    }
    #settings #review-sms .save-button-holder[data-v-15145cfc]{
        margin-bottom: 15px;
    }
    #settings .emulator-component .emulator-control[data-v-769026a5],
    .emulator-component .emulator-control[data-v-769026a5]{
        display: grid !important;
    }

    /* Integration */
    #settings .card-integration--inner button.btn.btn-link {
        padding: 10px 20px!important;
        margin-top: 10px;
    }
    #settings .card-header{
        padding: 20px !important;
    }
    #settings .card-header h3{
        color: #32475C!important;
        margin-right: 0 !important;
        margin-bottom: 10px !important;
    }
    #settings .container-fluid.provider-and-calendars .hl_settings--controls.header .hl_settings--controls-left{
        margin-right: 0!important;
    }
    #settings .container-fluid.provider-and-calendars .hl_settings--controls.header .hl_settings--controls-left .d-flex.align-items-center{
        display: block!important;
    }
    #settings .container-fluid.provider-and-calendars .hl_settings--controls.header .hl_settings--controls-left .d-flex.align-items-center button{
        width: 100% !important;
    }
    #settings #card_view_container .card.card--provider .card-body .card--service .p-2.pl-3.card-header.card-header--service{
        overflow: auto!important;
    }

    /* Custom Values */
    #settings .card .table-wrap table.table tbody tr td {
        width: 100%!important;
        max-width: 100%!important;
        padding: 5px 0;
    }

}


/* SETTINGS -- MODAL */
#settings .modal .modal-header {
    background-color: #ffffff;
}

#settings .modal .modal-title,
#settings .modal .modal-title h5 {
    color: #333333;
    font-weight: 700;
    font-size: 1rem;
    font-family: 'Oxygen', sans-serif;
    font-size: 14pt;
    font-weight: 600;
}

/*----MAIN----*/
#settings .bg-green-100 {
    background-color: #f6a24a;
}

#settings .text-green-800 {
    color: #ffffff;
}