/* LOGIN PORTAL */

.hl_login .hl_login--body .card .hl-btn,
.hl_login .hl_login--body .card .hl-btn:active,
.hl_login .hl_login--body .card .hl-btn:focus {
	background: #fcce00;
	background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
	transition: 0.5s;
	border-radius: 4px !important;
	color: var(--brand-primary);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	padding: 10px 15px;
	font-family: var(--brand-heading-font);
	font-weight: 800;
	text-transform: uppercase;
}
.hl_login {
	background-color: var(--brand-primary);
	height: 100vh;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.hl_login .hl_login--header {
	display: none;
}
.hl_login .hl_login--body .card {
	background-color: #fff;
	box-shadow: none;
}
.hl_login .hl_login--body .card h2.heading2 {
	font-family: var(--brand-heading-font);
	color: var(--brand-primary);
	font-weight: 800;
}
.hl_login .hl_login--body .card h2.heading2::before {
	content: "";
	display: block;
	width: 164px;
	height: 102px;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/memberships%2FkzS8hpJ0j0r14Lf2aRKI%2Fpost-materials%2F0dbe28fc-68fe-4e45-905b-de50c4fff2f5%2FScreenshot_540.png?alt=media&token=9088aeee-4a86-4970-990f-a7f5606919b9');
	background-size: cover;
	margin: auto;
}
.hl_login .hl_login--body .card .hl-text-input-label,
.hl_login .hl_login--body .card p {
	color: var(--brand-primary);
}
.hl_login .hl_login--body .card a {
	color: var(--brand-primary);
}
.hl_login .hl_login--body .card .hl-text-input {
	border: 1px solid var(--brand-primary);
    border-radius: 7px;
	font-family: var(--brand-content-font);
}
.hl_login .hl_login--body .card .hl-btn:hover {
	background-position: center bottom;
}