/* HEADER */
header.hl_header {
	left: 0;
	border: 0;
}
header.hl_header .container-fluid {
	background: var(--brand-primary);
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
	background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: #fff !important;
}


/* HEADER -- Relocated */
header.hl_header ul.hl_navbar--links {
	background-color: var(--brand-primary);
	height: auto;
	margin-top: 0;
	overflow: visible;
	border-top: 3px solid var(--brand-accent);
	border-bottom: 3px solid var(--brand-accent);
}
header.hl_header ul.hl_navbar--links > li {
	display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
	padding: 10px 15px;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
	background: #fff;
	color: var(--brand-primary) !important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon {
	display: none;
}
/*header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapsing {
	height: 0 !important;
}*/
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
	display: block;
	position: absolute;
	z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: var(--brand-primary);
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
	width: 200px;
}

/* NAV */
nav.hl_navbar {
	display: none;
}