/*campaigns*/

#marketing .hl_controls {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
	position: relative;
}

#marketing .hl_controls h2 {
	display: flex;
  align-items: center;
	margin-bottom: 0;
	font-size: 16px;
  color: #fff;
}

#marketing .hl_controls h2:before {
	background-position-y: 50%;
	width: 30px;
}

#marketing .hl_controls .hl_controls--right .btn:not(.btn-sm),
#marketing .hl_controls .hl_controls--right .hl-btn {
  margin-bottom: 0 !important;
	padding: 5px 10px !important;
	display: flex;
	align-items: center;
	font-weight: 700;
}

#marketing .hl_marketing--header {
  border-bottom: none;
	margin-bottom: 0;
}

#marketing .hl_marketing--header .container-fluid,
#marketing .hl_marketing--header + .container-fluid {
	position: relative;
}

#marketing .hl_marketing--header .container-fluid::before,
#marketing .hl_marketing--header + .container-fluid::before {
  content: "";
  border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
	border-radius: 10px 10px 0 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: calc(100% - 40px);
	background-color: #fff;
}

#marketing .hl_marketing--header + .container-fluid::before {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid var(--brand-primary);
}

#marketing .hl_marketing--nav {
	padding: 20px;
}

#marketing .hl_marketing--nav li {
	display: block;
	padding-right: 0;
}

#marketing .hl_marketing--nav li.active a {
  border-bottom-width: 1px;
	border-bottom-color: var(--brand-primary);
	color: var(--brand-primary);
	font-weight: 700;
}

#marketing .hl_marketing--heading,
#marketing .hl_customer-acquisition {
	position: relative;
}

#marketing .hl_marketing--heading {
	padding: 0 20px;
	margin-bottom: 20px;
}

#marketing .hl_marketing--heading h3 {
	font-size: 16px;
	font-weight: 700;
	color: var(--brand-primary);
}

#marketing .hl_customer-acquisition {
	padding: 0 20px 20px;
}

#marketing .hl_customer-acquisition--table .table-wrap {
	border-radius: 10px;
	border: 1px solid var(--brand-primary);
	color: var(--brand-primary);
	font-weight: bold;
}

#marketing .hl_customer-acquisition--table .table-wrap a {
	color: var(--brand-primary);
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .w-100:first-child {
	background-color: var(--brand-primary);
	color: #fff;
	border-bottom: none !important;
  border-radius: 10px 10px 0 0;
	padding: 1rem 0 !important;
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .w-100:last-child {
	border-radius: 0 0 10px 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .align-items-center:nth-child(odd) {
	background-color: #cacecf;
}

#marketing .hl_customer-acquisition--table .table-wrap .more-select>.btn.dropdown-toggle:before,
#marketing .hl_customer-acquisition--table .table-wrap .more-select.show>.btn.dropdown-toggle:before {
	transform: rotate(90deg);
	background: var(--brand-accent);
	color: var(--brand-primary) !important;
	padding: 7px 0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	position: static;
}

#marketing .hl_customer-acquisition--table .table-wrap .more-select>.btn.dropdown-toggle:hover {
	background-color: transparent !important;
}