/* Contact */
/* Smartlist */

/*--brand-primary: #005375;
--brand-accent: #fcce00;

var(--brand-primary);
var(--brand-accent);*/

/*brand primary*/
.icon.--blue, #dashboard h2, #marketing h2, #trigger-links h2, #form-builder h2, #customers h2, #calenderEvents h2, #calendarEvents h2, #customers .hl_customers--table, #customers[data-v-075e455b], #smartlists tbody tr td a, #smartlists tbody tr td small, #smartlists tbody tr td i, #smartlists tbody tr td span, #smartlists tbody tr td .date-display, #smartlists tbody tr td .text{
	color: var(--brand-primary)!important;
}

#smartlists .header-underline[data-v-89e8d746], section#customers[data-v-100ce549] .d-flex.align-items-center.mt-3.mb-2{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
}
#smartlists .hl_smartlists--controls .hl_controls--left{
	border-left: 1px solid var(--brand-primary);
  padding: 10px 0 0 10px;
}
#smartlists .hl_controls{
	marging-bottom: 0;
}
#smartlists .hl_controls .hl_controls--right{
  border-right: 1px solid var(--brand-primary);
  padding: 10px 10px 0 0px;
}
#smartlists ul.header-ul li.active a[data-v-89e8d746] {
  border: none;
  color: var(--white);
  border-color: #188bf6;
}
#smartlists .search-form input {
  padding: 10px 20px 10px 50px;
  padding: 10px 10px 10px 50px;
  height: 40px;
  border: 1px solid var(--brand-primary);
}
#smartlists .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle{
	border: 1px solid var(--brand-primary);	
}
#smartlists .hl_smartlists--main{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  padding: 15px;
}
#smartlists .mb-3, .my-3{
	display: none;
}
#smartlists div.card-like{
	border: 1px solid var(--brand-primary);
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	background: var(--white);
	padding: 5px;
	color: var(--brand-primary);
}
#smartlists div.card-like .flex-page-bar{
	background: transparent;
}
#smartlists .card{
	border-bottom: 1px solid var(--brand-primary);
	border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
}
#smartlists .card thead{
	background: var(--brand-primary);	
}
#smartlists .card thead span, #smartlists .wide-header[data-v-89e8d746]{
	color: var(--white);
}
#smartlists .avatar_img{
	border-radius: 5px;
	background-color: var(--brand-accent);
}
#smartlists tbody tr td .table_tag{
	background: var(--brand-accent);
	color:var(--brand-primary);
}

#smartlists button i.icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}
#smartlists i.icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}
/* Smartlist */

#customers .hl_controls{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}
#customers .hl_controls--left h3{
	color: #fff;
}
#customers .btn-success.disabled, #customers .btn-success:disabled{
	background-color: var(--brand-accent);
  border-color: var(--brand-accent);
}
#customers .hl_controls .hl_controls--right>*{
  margin-bottom: 5px;	
}
#customers nav{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  padding: 10px;
  background: #fff;
}
#customers nav .pagination a{
	background: var(--brand-accent);
  border-color: var(--brand-accent);
  color:var(--brand-primary);
}
#customers ul.pagination.hl_controls.justify-content-end{
	background: transparent;
  border: none;
  padding: 0;
}
#customers .hl_customers--table{
	border-radius: 0 !important;
  border-left: 1px solid var(--brand-primary);
  margin-bottom: 0;
  margin-top: 0;
  border-right: 1px solid var(--brand-primary);
}
#customers nav:nth-child(4){
	border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--brand-primary);
}
.text-success {
    color: var(--brand-accent)!important;
}

#smartlists ul.header-ul li{
	color: var(--brand-primary);
  background: var(--brand-accent);
  border-color: var(--brand-accent);
  padding: 5px 15px;
  border-radius: 5px;
  height: auto;
  margin-bottom: 0;
  border-bottom: 0;
}

section#customers[data-v-075e455b] {
    padding-top: 0;
}
section#customers[data-v-075e455b] .container-fluid{
	padding-left: 15px;
	padding-right: 15px;
}
section#customers[data-v-075e455b] .container-fluid .card{
  border: 1px solid var(--brand-primary);
  margin-bottom: 20px;
  border-radius: 0 0 .3125rem .3125rem;
}
section#customers[data-v-075e455b] button{
	color: var(--brand-primary);
  background: var(--brand-accent);
  border-color: var(--brand-accent);
}
section#customers[data-v-075e455b] .table thead tr th{
	color: var(--brand-primary);
}
section#customers[data-v-075e455b] table{
	border-color: var(--brand-primary);
}
section#customers[data-v-075e455b] .card-header{
	border-bottom: 2px solid var(--brand-primary);	
}
section#customers[data-v-075e455b] input#undefined-input{
	color: var(--brand-primary)!important;
}


section#customers[data-v-100ce549] .d-flex.align-items-center.mt-3.mb-2 .font-light{
	color: #fff;
  margin-bottom: 5px!important;
  font-weight: 400;
}
section#customers[data-v-100ce549] .d-flex.shadow.rounded-top.bg-white.align-items-center.justify-content-center.p-5{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  border-top: 0!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
  color: var(--brand-primary);
}













