/*conversations*/

#conversations{
	padding: 35px;
}
#conversations .hl_conversations--wrap{
    border: 1px solid var(--brand-primary);
    border-radius: 5px;
    overflow: hidden;
}
#conversations .hl_conversations--messages-list .nav-tabs{
    background-color: var(--brand-primary);
    padding: 17px;
    border-bottom: 1px solid var(--brand-primary);
}
#conversations .nav-item {
    margin-right: 15px;
}
#conversations .nav-item .nav-link {
    background: var(--brand-accent);
    color: var(--brand-primary);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
}
#conversations .nav.nav-tabs .nav-link.active{
	background: #c09914!important;
    color: var(--white)!important;
    border: none!important;
}
#conversations .hl_conversations--message-header{
	background-color: var(--brand-primary);
	border: 0;
}
#conversations .hl_conversations--message-body .message-body--conversation{
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
}
#conversations .hl_conversations--message-header h2{
	color: var(--white);
	font-weight: 600;
}
#conversations .hl_conversations--message-header .message-header-actions button{
	background: var(--brand-accent);
	color:var(--brand-primary);
	margin-right: 15px!important;
}
#conversations .hl_conversations--message-header .messages-list-header h3, #conversations .messages-list-header-actions .message-header-actions a{
	color: var(--brand-primary);
}
#conversations .hl_conversations--message-header .message-header-actions button:last-child{
	margin-right: 0px!important;
}
#conversations .messages-list-search input{
    background-color: #fff;
    border: 1px solid var(--brand-primary);
}
#conversations .messages-list--item .messages-list--avatar .avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .messages-list--item .time-date, #conversations  .messages-list--item h4, #conversations  .messages-list--item p{
	color: var(--white)!important;
}
#conversations .messages-list--item.selected {
    background-color: var(--brand-primary);
}
#conversations .messages-list--item.active .messages-list--avatar .avatar .avatar_img,
#conversations .message-body--aside .aside-texts .pointer.avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .aside-texts-name input, #conversations .aside-texts-infos input{
    border-bottom: 1px solid var(--brand-primary);
    color: var(--brand-primary);
}
#conversations .hl_conversations--message-body .message-input-wrap{
	border-top: 1px solid var(--brand-primary);
    -webkit-box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    bottom: 60px;
}
#conversations .aside-texts-infos .icon-phone,
#conversations .aside-texts-infos p i,
#conversations .hl_conversations--message-body .message-box .btn-blue .icon-send,
#conversations .hl_conversations--message-body .message-box .use-template .icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}
#conversations .messages-list--item.active .time-date, #conversations  .messages-list--item.active h4, #conversations  .messages-list--item.active p{
	color: var(--white)!important;
}

#conversations .messages-group-heading{
	border-top: 1px solid var(--brand-primary);
}
#conversations #date-label, 
#conversations .hl_conversations--message-body .messages-group .messages-group-inner .btn.btn-light2.btn-xs.message-group-date-indicator.top-date-sticky, 
#conversations .messages-single.\--own-message .message-bubble{
    background: var(--brand-primary)!important;
    color: var(--white)!important;
}
.messages-single.\--own-message .message-bubble:before{
    border-color: var(--brand-primary) transparent transparent transparent;
}

#conversations .email-item--header{
	border-bottom: 2px solid var(--brand-primary);
}

#conversations .email-item--header-left h4, 
#conversations .email-item--header-left h4 strong, 
#conversations .email-item--header-left p span, 
#conversations .email-item--body p,
#conversations .messages-single.\--own-message .time-date span,
#conversations .form-group label
{
	color: var(--brand-primary);
}
#conversations .email-item--header-right button, 
#conversations .hl_conversations--message-body .message-box .btn-blue, 
#conversations .tag-group button{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#conversations .messages-single .avatar .avatar_img{
	border-radius: 5px;
}
#conversations .btn.btn-primary{
    background-color: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}
#conversations .btn.btn-link{
	color: var(--brand-primary)!important;
}

#conversations .scroll-down-shortcut{
	background-color: var(--brand-accent);
    color: var(--brand-primary);
}
#conversations .table_tag, #conversations .tag{
	background-color: var(--brand-primary)!important;
	color: var(--white)!important;
}




