/* DASHBOARD */
#dashboard h2 {
	color: #fff;
}
#dashboard .card-header {
	background: var(var(--brand-primary));
	padding:  5px 15px;
	border: none;
}
#dashboard .card-body {
	border: var(2px solid var(--brand-primary));
}