/*funnels*/

#funnels .hl_controls {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
}

#funnels .hl_controls .hl_controls--left h2 {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  height: auto;
}

#funnels .hl_controls .hl_controls--right > .btn {
  margin-bottom: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
}

#funnels .container-fluid[data-v-6e427b14] {
  position: relative;
  padding-bottom: 40px;
}

#funnels .container-fluid[data-v-6e427b14] > * {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

#funnels .container-fluid[data-v-6e427b14] .hl_controls {
  padding-left: 25px;
  padding-right: 25px;
}

#funnels .container-fluid[data-v-6e427b14]::before {
  content: "";
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px)
}

@media (min-width: 1200px) {
  #funnels .container-fluid[data-v-6e427b14]::before {
    max-width: 1160px;
  }
}

#funnels .search-form  {
  margin-top: 40px;
}

#funnels .search-form .form-control.form-light {
  border: 1px solid var(--brand-primary);
}

#funnels .search-form .icon {
  left: 70px;
}

#funnels .nav.nav-tabs .nav-link.active {
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

#funnels .funnel {
  border: 1px solid var(--brand-primary);
}