/* LAUNCHPAD */
#launchpad .green-btn,
#launchpad .green-btn:active,
#launchpad .green-btn:focus {
	content: "";
	background: url('https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/memberships%2FkzS8hpJ0j0r14Lf2aRKI%2Fpost-materials%2F0dbe28fc-68fe-4e45-905b-de50c4fff2f5%2Forange_lines.svg-2?alt=media&token=b0371fbd-4842-424c-8317-ea9bc1c5fb0d');
	background-size: cover;
	width: 50px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
}
#launchpad .launchpad-item-container {
	flex-direction: row;
	flex-wrap: wrap;
	width: 900px;
	background: none;
	border: none;
}
#launchpad .launchpad-item-sub-container{
	width: 30%;
	margin: 15px !important;
	min-height: 265px;
	border: var(2px solid var(--brand-primary)) !important;
	border-radius: var(7px) !important;
}
#launchpad .launchpad-bottom-border {
	border:  none;
}
#launchpad .items-tiles {
	margin: 0 !important;
	flex-wrap: wrap;
	flex-direction: column !Important;
	padding:  20px;
}
#launchpad .item-info {
	width:  100%;
}
#launchpad .green-btn,
#launchpad .green-btn:active
#launchpad .green-btn:focus {
    width: 150px;
}
#launchpad .green-btn:hover {
	background-position: center bottom;
}