@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/* ROOT */
:root {
	--brand-primary: #005375;
	--brand-accent: #fcce00;

	--brand-dark-base: #57a9b2;
	--brand-light-base: #7b7b7b;
	
	--brand-content-font: 'Montserrat';
	--brand-heading-font: 'Montserrat';
}

body {
	font-family: var(--brand-content-font);
}

/* GLOBAL -- H1 */

/* GLOBAL -- H2 */
#dashboard h2,
#marketing h2,
#trigger-links h2,
#form-builder h2,
#customers h2,
#calenderEvents h2,
#calendarEvents h2 {
	font-family: var(--brand-heading-font);
	font-weight: 800;
	color: var(--brand-dark-base);
}
#dashboard h2:before,
#marketing h2:before,
#trigger-links h2:before,
#form-builder h2:before,
#customers h2:before,
#calenderEvents h2:before,
#calendarEvents h2:before {
	content: "";
	background: url('https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/memberships%2FkzS8hpJ0j0r14Lf2aRKI%2Fpost-materials%2F0dbe28fc-68fe-4e45-905b-de50c4fff2f5%2Forange_lines.svg-2?alt=media&token=b0371fbd-4842-424c-8317-ea9bc1c5fb0d');
	background-size: cover;
	width: 50px;
	height: 20px;
	margin-right: 10px;
	display: inline-block;
}

/* GLOBAL -- H3 */

/* GLOBAL -- H4 */

/* GLOBAL -- H5 */

/* GLOBAL -- H6 */

/* GLOBAL -- a */

/* GLOBAL -- Container|Wrapper */
.hl_wrapper {
	padding-top: 132px !important;
	padding-left: 0;
}
@media (min-width: 768px) {
	.hl_wrapper {
	    padding-top: 132px !important;
	}
}

/* GLOBAL -- Cards */

/* GLOBAL -- Buttons */
.hl_login .hl_login--body .card button.btn-blue,
.hl_login .hl_login--body .card button.btn-blue:active,
.hl_login .hl_login--body .card button.btn-blue:focus,
#opportunities .hl_controls .hl_controls--right .bootstrap-select > .btn.dropdown-toggle,
#opportunities .btn.btn-primary,
#opportunities .btn-success,
#opportunities .date-time-picker .field .field-input,
#smartlists button.btn.btn-light.btn-sm,
#smartlists button.btn.btn-blue.py-1.mx-2,
#smartlists button.btn.btn-blue.py-1,
#funnels button.btn.btn-success,
#triggers button.btn.btn-success,
#triggers button.btn.btn-light4.dropdown-toggle,
#triggers button.btn.btn-primary,
#triggers button.btn.btn-primary.dropdown-toggle.dropdown-toggle-split,
#marketing .hl_controls .hl_controls--right .btn:not(.btn-sm),
#marketing .hl_controls .hl_controls--right .hl-btn {
	background: #fcce00;
	background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
    transition: 0.5s;
    border-radius: 4px !important;
    color: var(--brand-primary);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    padding: 10px 15px;
}
.hl_login .hl_login--body .card button.btn,
#launchpad .green-filled-button {
	border-radius: 0;
	font-family: var(--brand-heading-font);
	font-weight: 800;
	text-transform: uppercase;
}

/* GLOBAL -- Input Fields */

/* LOGIN PORTAL */
.hl_login {
	background-color: var(--brand-primary);
	height: 100vh;
	display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}
.hl_login .hl_login--header {
	display: none;
}
.hl_login .hl_login--body .card {
	background-color: #fff;
	box-shadow: none;
}
.hl_login .hl_login--body .card h2.heading2 {
	font-family: var(--brand-heading-font);
	color: var(--brand-primary);
	font-weight: 800;
}
.hl_login .hl_login--body .card h2.heading2::before {
	content: "";
	display: block;
	width: 164px;
	height: 102px;
	background-image: url('https://firebasestorage.googleapis.com/v0/b/highlevel-backend.appspot.com/o/memberships%2FkzS8hpJ0j0r14Lf2aRKI%2Fpost-materials%2F0dbe28fc-68fe-4e45-905b-de50c4fff2f5%2FScreenshot_540.png?alt=media&token=9088aeee-4a86-4970-990f-a7f5606919b9');
	background-size: cover;
	margin: auto;
}
.hl_login .hl_login--body .card label,
.hl_login .hl_login--body .card p {
	color: var(--brand-primary);
}
.hl_login .hl_login--body .card a {
	color: var(--brand-dark-base);
}
.hl_login .hl_login--body .card .form-control {
	border: 2px solid var(--brand-primary);
    border-radius: 7px;
	font-family: var(--brand-content-font);
}
.hl_login .hl_login--body .card button.btn-blue:hover {
	background-position: center bottom;
}

/* HEADER */
header.hl_header {
	left: 0;
	border: 0;
}
header.hl_header .container-fluid {
	/*background: var(--brand-primary);*/
	background-color: black;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
	background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: #fff !important;
}


/* HEADER -- Relocated */
header.hl_header ul.hl_navbar--links {
	background-color: var(--brand-primary);
	height: auto;
	margin-top: 0;
	overflow: visible;
	border-top: 3px solid var(--brand-accent);
	border-bottom: 3px solid var(--brand-accent);
}
header.hl_header ul.hl_navbar--links > li {
	display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
	padding: 10px 15px;
	color: #fff !important;
	font-size: 12px;
	font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
	background: #fff;
	color: var(--brand-primary) !important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon {
	display: none;
}
/*header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapsing {
	height: 0 !important;
}*/
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
	display: block;
	position: absolute;
	z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: var(--brand-primary);
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
	width: 200px;
}

/* NAV */
nav.hl_navbar {
	display: none;
}

/* Button dropdown start here */
.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle:after,
.hl_controls .hl_controls--right .btn-group-sm>.btn .icon, .hl_controls .hl_controls--right .btn-sm .icon,
.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .hint-icon {
	color: var(--brand-primary);
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .hint-icon {
	opacity: 1;
}

.hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle .filter-option {
	font-weight: 700;
	color: var(--brand-primary);
}

.bootstrap-select>.dropdown-menu .inner .dropdown-menu li.active a.active {
	background-color: var(--brand-primary);
}
/* Button dropdown ends here */


/* Search form starts here*/
.search-form .form-control.form-light {
  border: 1px solid var(--brand-primary);
}
/* Search form ends here*/

li#nav-workflow-request,
li#nav-reputation {
	display:  none;
}