/*centralized css for embed in urteam settings*/

/* ROOT */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;600&display=swap');

:root {
	--brand-primary: #f7f7f7; /* blue #005375*/
	--brand-accent: #32475c; /* yellow #fcce00*/
	--brand-base: #f6a24c; /* grey #7b7b7b*/

	--brand-content-font: 'Oxygen';
	--brand-heading-font: 'Oxygen';
}

/*
	--brand-dark-base: #57a9b2;
	--brand-light-base: #7b7b7b;
*/

body {
	font-family: 'Oxygen', sans-serif;
}

/* GLOBAL -- Container|Wrapper */
.hl_wrapper {
	padding-top: 0 !important;
	padding-left: 0;
}

#nav-workflow-request,
#nav-funnels-websites ul li:nth-child(3),
#nav-marketing ul li:nth-child(2),
#nav-marketing ul li:nth-child(7),
#nav-online-listing,
#nav-agency_services,
#nav-university,
#nav-affiliates,
#nav-saas-education,
#nav-agency_vertical-snapshots,
#nav-agency_reselling {
	display: none;
}

#agency_location .hl-btn,
#agency_location .btn.btn-primary {
	background: #f2f2f2;
	background: -moz-linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
	background: -webkit-linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
	background: linear-gradient(180deg, #f2f2f2 0%, #e0e0e0 51%, #f2f2f2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
	transition: 0.5s;
	border-radius: 4px !important;
	color: #666666!important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	padding: 10px 15px;
	font-weight: 700;
}

.hl_wrapper {
	padding-top: 132px !important;
}

@media (max-width: 1399.98px) {
	.hl_wrapper {
		padding-top: 170px !important;
	}
}


/* HEADER */

header.hl_header,
.hl_header.--agency {
	left: 0;
	border: 0;
}
header.hl_header .container-fluid {
	background: #ffffff;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle {
	background: var(--brand-primary) !important;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option {
	background: #fcce00;
	background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
	transition: 0.5s;
	border-radius: 4px !important;
	color: var(--brand-primary);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	padding: 10px 15px;
	font-weight: 700;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	display: none;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option-inner,
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: #333333 !important;
}

/* HEADER -- Upper Right Icons */
header.hl_header a#recent_activities-toggle,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link,
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link:hover {
	background: #fcce00;
	background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	background: #f2f2f2;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	background-size: auto 200%;
	transition: 0.5s;
	border-radius: 4px !important;
	color: #333333 !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

header .hl_header--recent-activities.-notification:before {
	background: #e93d3d;
}

header .collapsing {
	position: absolute;
	z-index: 999;
}

header.hl_header .avatar_img {
	border-radius: 4px;
}

/* HEADER -- Relocated Nav */
header.hl_header ul.hl_navbar--links {
	background-color: #ebebeb;
	height: auto;
	margin-top: 0;
	overflow: visible;
	border-top: 3px solid #f6a24a;
	border-bottom: 3px solid #f6a24a;
}
header.hl_header ul.hl_navbar--links > li {
	display: inline-block;
}
header.hl_header ul.hl_navbar--links > li a {
	padding: 10px 15px;
	color: #666666 !important;
	font-size: 12px;
	font-weight: bold;
}
header.hl_header ul.hl_navbar--links > li.active,
header.hl_header ul.hl_navbar--links > li a:hover,
header.hl_header ul.hl_navbar--links > li.active a {
	background: #e0e0e0;
	color: #EE713A!important;
}
header.hl_header ul.hl_navbar--links > li a i,
header.hl_header ul.hl_navbar--links > li a .hl_launchpad-icon,
header.hl_header ul.hl_navbar--links > li a svg {
	display: none;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links {
	border-top: 1px solid #f6a24a;
	border-bottom: 1px solid #f6a24a;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links.collapse.show {
	display: block;
	position: absolute;
	z-index: 999;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: var(--brand-primary);
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul > li {
	width: 200px;
}

/* NAV */
nav.hl_navbar {
	display: none;
}

/*AGENCY DASH*/
#agency_dashboard .agency-dash .card-value[data-v-76993792] {
	font-size: 44px;
	line-height: 56px;
	color: #2a3135!important;
	white-space: nowrap;
}

#agency_dashboard .agency-dash .card-title[data-v-76993792] {
	font-weight: 500;
	font-size: 16px;
	line-height: 18px;
	color: #2a3135!important;
	height: 24px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


/*LEIGH START*/
header.hl_header .container-fluid {
	background: #ffffff;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle .filter-option {
	background: #f2f2f2 !important;
	padding: 12px 25px;
	border-radius: 4px;
	font-weight: 700;
}
header.hl_header .hl_header--picker > .btn.dropdown-toggle:after {
	color: #333333 !important;
}
header.hl_header a.btn.btn-circle.btn-primary.hl_header--copy-link:hover {
	border-radius: 4px;
	background: #f2f2f2 !important;
	color: #333333 !important;
}
header.hl_header .avatar_img {
	border-radius: 4px;
	background-color: #f2f2f2!important;
	color: #333333!important;
	font-weight: 600;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
header.hl_header ul.hl_navbar--links > li > div.nav-marketing-links > ul {
	padding: 0;
	background: #ebebeb;
}
/*LEIGH END*/

/* NEW CODES FOR AGENCY PAGES */
/* 00_agency-dashboard.css
00_agency-accounts.css
00_agency-settings.css*/

/* ROY START */
/* DASHBOARD */
#dashboard .date-time-picker {
	background-color: #32475C!important;
}
#dashboard .datetimepicker .header-picker {
	background-color: #006196 !important;
}
#dashboard .card-header h2 {
	color: #32475c;
	font-weight: 600;
	font-family: Oxygen, sans-serif;
	font-size: 12pt;
}
#dashboard .dropdown .btn {
	background-color: #32475C !important;
	color: #fff !important;
	margin-right: 10px;
}
#dashboard .dropdown.bootstrap-select.fit-width.dropup {
	margin-right: 10px;
}
#dashboard .filter-option-inner-inner {
	color: #fff;
}
#dashboard .dropdown-item:hover {
	background: #ebebeb !important;
}
/* ----------DASHBOARD END-------- */

/* FUNNELS AND WEBSITE  */
/* FUNNELS */
#funnels .hl-btn {
	background-color: #32475C!important;
	color: #fff;
}
#funnels path {
	color: #32475c;
}
/* FUNNELS MODAL POPUP */
#new-funnel .border-curious-blue-400 {
	--tw-border-opacity: 1;
	border-color: #006196;
	background-color: #006196;
	color: #fff !important;
}
#new-funnel .bg-apple-500 {
	background-color: #006196;
}
#funnels h2 {
	color: #32475c;
	font-weight: 600;
	font-family: Oxygen, sans-serif;
	font-size: 14pt;
}
#funnels .funnel {
	color: #333;
}
/* ------FUNNELS MODAL POPUP END------ */

/* MARKETING */
/* Marketing Campaign */
#marketing h2, h3 {
	color: #32475c;
	font-weight: 600;
	font-family: Oxygen, sans-serif;
	font-size: 14pt;
}
#marketing .hl-btn {
	background-color: #32475C!important;
	color: #fff;
}
#marketing .table-wrap {
	color: #333;
	font-weight: 600;
}
#marketing .dropdown.bootstrap-select.more-select.show {
	background-color: #006196;
	padding: 2px 15px;
	border-radius: 5px;
}
#marketing .more-select>.btn.dropdown-toggle:before{
	color: #fff !important;
	right: 100%
}
/* Marketing Trigger Links */
#trigger-links h2 {
	color: #32475c;
	font-weight: 600;
	font-family: Oxygen, sans-serif;
	font-size: 14pt;
}
#trigger-links .hl-btn {
	background-color: #32475c;
	border-color: #32475c;
	color: #fff;
	font-weight: 700;
	font-family: Roboto,system,-apple-system,BlinkMacSystemFont,\.SFNSDisplay-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#trigger-links p {
	color: #333;
}
#trigger-links .icon {
	color: #333;
}
#trigger-links .table.table-sort th, td {
	color: #333;
	font-weight: 600;
}
#trigger-links #hl_datepicker {
	background-color: #32475c !important;
}
#trigger-links #hl_datepicker .date-time-picker .field-input {
	background-color: #32475c!important;
	height: 0!important;
	color: #fff;
}
#trigger-links .header-picker {
	background-color: #006196 !important;
}
#trigger-links #hl_datepicker .icon.icon-calendar {
	color: #f2f2f2;
}
#trigger-links .btn.btn-primary {
	background-color: rgb(50 71 92);
	border-color: rgb(50 71 92);
	color: #188bf6;
}
#trigger-links .icon.icon-reload-1 {
	color: #fff !important;
}
/* Marketing Form Builder */
#form-builder h2 {
	color: #32475c;
	font-weight: 600;
	font-family: Oxygen, sans-serif;
	font-size: 14pt;
}
#form-builder #pg-form-builder__btn--create-form {
	background-color: #32475c;
}
#form-builder .table-responsive .table thead tr th {
	color: #666;
	font-weight: 600;
}
#form-builder .table-responsive .table td {
	font-weight: 400 !important;
}
#form-builder .hl-table .btn-group .btn.btn-primary,
#form-builder .hl-table .btn-group .btn.btn-primary:hover {
	background-color: #006196 !important;
	color: #fff !important;
}
#form-builder .hl_customer-acquisition--table .table tbody tr td:first-child,
#form-builder .hl_customer-acquisition--table .table tbody tr td:first-child a:hover {
	color: #F6A24C !important;
}
#form-builder .table-responsive .btn.btn-link {
	color: #fff;
	padding-left: 0;
	padding-right: 0;
	background-color: #006196;
	padding: 10px 10px;
}
#form-builder #hl_datepicker {
	background-color: #32475c !important;
}
#form-builder #hl_datepicker .date-time-picker .field-input {
	background-color: #32475c!important;
	height: 0!important;
	color: #fff;
}
#form-builder .header-picker {
	background-color: #006196 !important;
}
#form-builder #hl_datepicker .icon.icon-calendar {
	color: #f2f2f2;
}
#form-builder .btn.btn-primary {
	background-color: rgb(50 71 92);
	border-color: rgb(50 71 92);
	color: #188bf6;
}
#form-builder .icon.icon-reload-1 {
	color: #fff !important;
}
#form-builder .btn.btn-success {
	background-color: #32475c;
}
#form-builder .hl-btn {
	background-color: #32475c;
	border-color: #32475c;
	color: #fff;
	font-weight: 700;
	font-family: Roboto,system,-apple-system,BlinkMacSystemFont,\.SFNSDisplay-Regular,Helvetica Neue,Helvetica,Arial,sans-serif;
}
#form-builder .icon-with-loader i {
	color: #333 !important;
	opacity: 1;
}

/* MARKETING END */

/*LOGIN PAGE*/

.bg-curious-blue-500 {
	background-color: #32475C;
}

.text-white {
    --tw-text-opacity: 1;
    color: #ffffff;
    font-size: 12pt;
    font-weight: 600;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: #333333;
    font-size: 12pt;
    font-weight: 600;
}

.hl_login--body .foot-note {
    font-size: .75rem;
    text-align: center;
    margin-top: 30px;
    font-weight: 600;
}

/*LOGIN END*/
<<<<<<< HEAD
=======

>>>>>>> dae2acc5ee59e1dc826f9c70c3772d5036e8d288
