/* LAUNCHPAD */

#launchpad {
	margin-top: 33px;
	background-color: #fff;
}

#launchpad .green-btn {
	width: 100% !important;
	margin-left: 0;
}

#launchpad .launchpad-title {
	font-weight: 700;
	color: var(--brand-primary);
	margin-bottom: 45px;
}

#launchpad .launchpad-item-container {
	display: grid;
	width: 100%;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	border: none;
}

@media (min-width: 768px) {
	#launchpad .launchpad-item-container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

@media (min-width: 1200px) {
	#launchpad .launchpad-item-container {
		width: 65%;
	}
}

#launchpad .launchpad-item-sub-container {
	border: 1px solid var(--brand-primary);
	border-radius: 10px;
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

#launchpad .launchpad-item-sub-container .items-tiles {
	flex-direction: column !important;
	height: 275px;
	justify-content: flex-start;
	gap: 15px;
	padding-top: 10px;
	padding-bottom: 15px;
}

#launchpad .launchpad-item-sub-container .item-info {
	width: auto !important;
	text-align: center;
}

#launchpad .launchpad-item-sub-container .item-end.content-end {
	margin-top: auto;
	width: 100%;
	padding: 0 !important;
}

#launchpad .launchpad-item-sub-container .fb-container > div {
	font-weight: 500;
	color: var(--brand-primary);
}

#launchpad .launchpad-item-sub-container .modal-container .card-header {
	background-color: var(--brand-primary);
	color: var(--white);
	margin-top: 0;
}

#launchpad .launchpad-item-sub-container .modal-container .card-header h3 {
	color: var(--white);
}

@media (max-width: 600px){
	#launchpad .launchpad-item-container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	}
}