/* DASHBOARD */
#dashboard-original h2 {
	color: #fff;
}
#dashboard-original .card-header {
	background: var(var(--brand-primary));
	padding:  5px 15px;
	border: none;
}
#dashboard-original .card-body {
	border: var(2px solid var(--brand-primary));
}
#dashboard-original .card-group.--wide-gutter>.card {
	margin-right: 15px;
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
	margin: 0;
	margin-right: 15px;
	border-radius: 5px;
}
#dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
    margin: 0;
    margin-right: 15px!important;
}
#dashboard-original .hl_dashboard--conversion-rate .card-header, #dashboard-original .hl_dashboard--matters-added .card-header, #dashboard-original .hl_dashboard--pipeline-value .card-header, #dashboard-original .hl_dashboard--sales-funnel .card-header {
    padding-right: 20px;
    background-color: #005375;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .card-header h2{
    color: #f6f8fa!important;
}

#dashboard-original .card .hl_dashboard--matters-added .card-header {
	padding-right: 20px;
    background-color: #005375!important;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .container-fluid:before {
    content: "";
    border-left: 0px !important; 
    border-right: 0px !important; 
    border-bottom: 0px !important; 
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: calc(100% - 30px);
    /* background-color: #fff; */
}
#dashboard-original {
	background-color: #ffffff!important;
}
#dashboard-original .card-group>.card:first-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888888;
}
#dashboard-original .card-group>.card:last-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888888;
}
#dashboard-original .hl_dashboard--need-action .card-header {
    padding-right: 20px;
    background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .table {
    /* border-collapse: separate; */
    border-spacing: 0;
    /*border-radius: 10px;*/
    /* border: 1px solid var(--brand-primary); */
}
#dashboard-original .table thead tr th {
    color: #005375;
    font-weight: 700;
    padding: 1rem 15px;
    background-color: #fff; 
}
#dashboard-original .table  {
    border: 0px!important;
}
#dashboard-original .card .hl_dashboard--latest-review-requests {
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard-original .card .hl_dashboard--latest-review-requests .card-header {
	background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard-original .hl_dashboard--emails-sent {
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard-original .hl_dashboard--emails-sent .card-header {
	background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#random24243-wrapper .date-time-pickert .field .flex .align-center .has-value .field-input .no-clear-button text{
	background-color : #005375 !important; 
}
#dashboard-original .hl_tasks-list button.dropdown-toggle {
    white-space: nowrap;
    max-width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-right: 5px;
    background: transparent!important;
    color: #fff!important;
}
#dashboard-original .hl_dashboard .card-header .dropdown.bootstrap-select {
    z-index: 2;
    margin-left: 5px;
}
#dashboard-original .hl_wrapper .highcharts-container{
    border: 0px!important; 
}
#dashboard-original .hl_wrapper .date-time-picker .field .field-input {
    background-color: transparent!important;
    /*color: #ffffff;*/
}
#dashboard-original .field-input[data-v-5b500588] {
    cursor: pointer;
    background-color: #fff0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    position: relative;
    width: 100%;
    height: 42px;
    min-height: 42px;
    padding-left: 12px;
    padding-right: 44px;
    font-weight: 400;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
    font-size: 14px;
    z-index: 0;
    color:  #ffffff;
}
#dashboard-original #__BVID__167__BV_toggle_ .btn .dropdown-toggle .btn-primary {
    background-color: transparent!important;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value-col:first-child {
    border-right: 1px solid #005375;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value-col:last-child {
    border-left: 1px solid #005375;
}
#dashboard-original .pending-manual-actions .card-body .pending-task-value {
    color: #005375!important;
    background-color: transparent!important;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:first-child span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:nth-child(2) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats li:nth-child(3) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--matters-added .bottom-stats {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #005375;
    border-bottom: 1px solid #005375;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:first-child span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:nth-child(2) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats li:nth-child(3) span {
    color: #005375!important;
    font-weight: 600;
}
#dashboard-original .hl_dashboard--pipeline-value .bottom-stats {
    padding: 5px 0px 5px 0px;
    border-top: 1px solid #005375;
    border-bottom: 1px solid #005375;
}
#dashboard-original .bootstrap-select .dropdown-toggle .filter-option-inner {
    color: #ffffff!important;
}
#dashboard-original  .hl_tasks--item.--late .option label:before {
    border-color: #005375;
}
#dashboard-original  .hl_tasks--item.--late .hl_tasks--item-header p {
    color: #005375;
}

@media only screen and (max-width: 414px) {
     #dashboard-original .hl_dashboard--matters-added .card-header {
        padding-right: 0px;
     }
     #dashboard-original .hl_dashboard--pipeline-value .card-header {
        padding-right: 0px;
     }
     #dashboard-original .card-group.--wide-gutter .hl_dashboard--pipeline-value {
        margin-bottom: 14px;
    }
    #dashboard-original .field-input[data-v-5b500588] {
        padding-right: 0px;
    }
    #dashboard-original .card-header h2 {
        margin-right: 0px;
    }
    #dashboard-original .hl_dashboard--conversion-rate .card-header {
        padding-right: 0px;
    }
    #dashboard-original .hl_dashboard--sales-funnel .sales-funnel-chart {
        width: 400px;
    }
    #dashboard-original .hl_dashboard--sales-funnel .sales-funnel-chart {
        max-width: 400px;
    }
     #dashboard-original .card-body {
        padding: 0px;
    }
    #dashboard-original .highcharts-container  {
        padding:  0px;
        margin-right: 100px;
    }
    #dashboard-original .sales-funnel-chart svg.highcharts-root {
        width: 380px!important;
    }
    #dashboard-original .card-group>.card:first-child {
        overflow: hidden;
    }
    #dashboard-original .hl_dashboard--matters-added .bottom-stats {
        padding: 5px 20px 5px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .hl_dashboard--pipeline-value .bottom-stats {
        padding: 5px 20px 5px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .hl_dashboard--conversion-rate h3, .hl_dashboard--matters-added h3, .hl_dashboard--pipeline-value h3 {
        margin-top: 10px;
    }
    #dashboard-original .hl_dashboard--need-action .card-body {
        padding: 5px 20px 50px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .task-list-card .card-body {
        padding: 5px 20px 250px 20px;
        margin: 5px 10px 25px 10px;
    }
    #dashboard-original .table tbody tr {
        width: 100%;
    }
    #dashboard-original .table  td {
        max-width: 20px!important;
        padding: 0px!mportant; 
    }
    #dashboard-original .table-wrap thead {
        width:  50px;
    }
    #dashboard-original.table {
        width: 10%;
        max-width: 100%;
    }
}





