/*opportunities*/

#opportunities {
	margin-top: 40px;
}

#opportunities .date-time-picker {
	background-color: transparent !important;
	margin-bottom: 20px;
}

#opportunities .date-time-picker .field .field-input {
	background: #fcce00 !important;
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%) !important;
	background-size: auto 200% !important;
	transition: 0.5s !important;
	border-radius: 4px !important;
	color: var(--brand-primary) !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	padding: 10px 15px !important;
}

#opportunities .date-time-picker .field .field-input:hover {
	text-decoration: none;
}

#opportunities .date-time-picker .field.is-focused .field-label[data-v-5b500588] {
  color: var(--brand-primary);
}

#opportunities .header-picker[data-v-6d49f11d] {
	background-color: var(--brand-primary) !important;
}

#opportunities .custom-button .custom-button-effect[data-v-2ed8e606] {
	background-color: var(--brand-primary) !important;
}

#opportunities .custom-button .custom-button-content {
	color: var(--brand-primary) !important;
	fill: var(--brand-primary) !important;
}

#opportunities .datepicker-container .datepicker-days .datepicker-day.selected .datepicker-day-effect[data-v-7043ad7f],
#opportunities .datepicker-container .datepicker-days .datepicker-day .datepicker-day-effect[data-v-7043ad7f] {
	background-color: var(--brand-primary) !important;
}

#opportunities .hl_opportunities .row>div {
	padding-left: 5px !important;
	padding-right: 5px;
}

.hl_opportunities .row {
	margin-left: -5px;
	margin-right: -5px;
}

.hl_opportunities-item .tag-group {
	padding-left: 15px;
	padding-right: 15px;
}

.hl_opportunities--set-header h4 {
	color: var(--brand-primary);
	font-size: 16px;
	font-weight: 700;
}

.hl_opportunities--set-header p span {
	color: var(--brand-accent);
	font-weight: 700;
}

#opportunities .hl_opportunities-item {
	border-top: none !important;
	margin-bottom: 20px !important;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.hl_opportunities-item .card-body {
	padding: 0;
	border: 1px solid var(--brand-primary);
	border-radius: 10px;
}

.hl_opportunities-item .card-info {
  padding: 10px 15px;
}

.hl_opportunities-item .card-info:not(:last-child) {
	background: var(--brand-primary);
	border-radius: 10px 10px 0 0;
	padding: 15px;
}

.hl_opportunities-item h5 a {
	color: #fff !important;
	font-weight: 700;
}

.hl_opportunities-item .avatar.--sm .avatar_img {
	border-radius: 0;
	background-color: var(--brand-accent) !important;
}

.hl_opportunities-item .card-info .value {
	color: var(--brand-accent);
}

.hl_opportunities-item .card-body div .card-info {
	flex-direction: column;
	position: relative;
	align-items: flex-end;
}

.hl_opportunities-item .card-info .avatar {
	position: absolute;
  left: 15px;
}

.hl_opportunities-item .card-info:not(:first-child) {
	border-top: 1px solid var(--brand-primary);
	padding-left: 0;
	padding-right: 0;
	margin-left: 15px;
	margin-right: 15px;
}

.hl_opportunities-item .card-info:not(:first-child) .opportunity-actions a {
	color: var(--brand-primary);
}

.hl_opportunities-item .card-info:not(:first-child) .opportunity-actions .fa-phone {
	color: var(--brand-accent);
}

.hl_opportunities-item .card-info .btn:only-child {
	background-color: var(--brand-accent);
	color: var(--brand-primary);
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

#opportunities input#undefined-input::-webkit-input-placeholder, 
#opportunities input#undefined-input::placeholder {
	color: var(--brand-primary) !important;
	font-weight: 700;
}