/*marketing*/

#marketing .hl_controls,
#marketing .hl_marketing--header-inner,
#trigger-links .hl_marketing--header .hl_controls,
#form-builder .hl_marketing--header .hl_controls,
#form-builder .hl_settings--body .hl_settings--controls,
#form-builder .hl_marketing--header .hl_marketing--header-inner {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
	position: relative;
}

@media (max-width: 575.98px) {
	#marketing .hl_controls,
	#marketing .hl_marketing--header-inner,
	#trigger-links .hl_marketing--header .hl_controls,
	#form-builder .hl_marketing--header .hl_controls,
	#form-builder .hl_settings--body .hl_settings--controls,
	#form-builder .hl_marketing--header .hl_marketing--header-inner {
		flex-direction: column;
    gap: 10px;
		padding-left: 15px;
    padding-right: 15px;
	}

	#marketing .hl_controls .hl_controls--right,
	#form-builder .hl_marketing--header .hl_marketing--header-inner .hl_controls--right,
	#trigger-links .hl_controls .hl_controls--right,
	#form-builder .hl_controls .hl_controls--right {
		width: 100%;
    gap: 10px;
	}

	#trigger-links .hl_controls .hl_controls--right,
	#trigger-links .hl_controls .hl_controls--right .search-form,
	#form-builder .hl_controls .hl_controls--right .search-form {
		width: 100%;
	}
}

#marketing .hl_controls h2,
#trigger-links .hl_controls h2,
#form-builder .hl_controls h2,
#form-builder .hl_marketing--header-inner h2,
#form-builder .hl_settings--controls h2,
#marketing .hl_marketing--header-inner h2 {
	display: flex;
  align-items: center;
	margin-bottom: 0;
	font-size: 16px;
  color: #fff !important;
}

@media (max-width: 575.98px) {
	#marketing .hl_controls h2,
	#trigger-links .hl_controls h2,
	#form-builder .hl_controls h2,
	#form-builder .hl_marketing--header-inner h2,
	#form-builder .hl_settings--controls h2,
	#marketing .hl_marketing--header-inner h2 {
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
	}
}

#marketing .hl_controls h2:before,
#trigger-links .hl_controls h2:before,
#form-builder .hl_controls h2:before,
#form-builder .hl_marketing--header-inner h2:before,
#form-builder .hl_settings--controls h2:before,
#marketing .hl_marketing--header-inner h2:before {
	background-position-y: 50%;
	width: 30px;
}

#marketing .hl_controls .hl_controls--right .btn:not(.btn-sm),
#trigger-links .hl_controls .hl_controls--right .hl-btn,
#form-builder .hl_controls .hl_controls--right .hl-btn,
#form-builder .hl_controls .hl_controls--right .btn:not(.btn-sm),
#form-builder .hl_marketing--header .hl_marketing--header-inner .btn,
#form-builder .hl_settings--controls .hl_settings--controls-right .hl-btn,
#marketing .hl_controls .hl_controls--right .hl-btn {
  margin-bottom: 0 !important;
	padding: 5px 10px !important;
	display: flex;
	align-items: center;
	font-weight: 700;
}

@media (max-width: 575.98px) {
	#marketing .hl_controls .hl_controls--right .btn:not(.btn-sm),
	#trigger-links .hl_controls .hl_controls--right .hl-btn,
	#form-builder .hl_controls .hl_controls--right .hl-btn,
	#form-builder .hl_controls .hl_controls--right .btn:not(.btn-sm),
	#form-builder .hl_marketing--header .hl_marketing--header-inner .btn,
	#form-builder .hl_settings--controls .hl_settings--controls-right .hl-btn,
	#marketing .hl_controls .hl_controls--right .hl-btn {
		justify-content: center;
		width: 100%;
		margin-right: 0 !important;
	}
}

#marketing .hl_marketing--header {
  border-bottom: none;
	margin-bottom: 0;
}

#marketing .hl_marketing--header .container-fluid,
#trigger-links .hl_marketing--header .container-fluid,
#form-builder .hl_marketing--header .container-fluid,
#form-builder .hl_settings--body .container-fluid,
#marketing .hl_marketing--header + .container-fluid,
#form-builder .hl_marketing--header + .container-fluid {
	position: relative;
}

@media (min-width: 768px) {
	#marketing .hl_marketing--header .container-fluid::before,
	#trigger-links .hl_marketing--header .container-fluid::before,
	#form-builder .hl_marketing--header .container-fluid::before,
	#form-builder .hl_settings--body .container-fluid::before,
	#marketing .hl_marketing--header + .container-fluid::before,
	#form-builder .hl_marketing--header + .container-fluid::before {
		max-width: calc(100% - 40px);
	}
}

#marketing .hl_marketing--header .container-fluid::before,
#trigger-links .hl_marketing--header .container-fluid::before,
#form-builder .hl_marketing--header .container-fluid::before,
#marketing .hl_marketing--header + .container-fluid::before,
#form-builder .hl_marketing--header + .container-fluid::before,
#form-builder .hl_settings--body .container-fluid::before {
	content: "";
	border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
	border-radius: 10px 10px 0 0;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: calc(100% - 30px);
	background-color: #fff;
}

@media (min-width: 1200px) {
	#marketing .hl_marketing--header .container-fluid::before,
	#trigger-links .hl_marketing--header .container-fluid::before,
	#form-builder .hl_marketing--header .container-fluid::before,
	#marketing .hl_marketing--header + .container-fluid::before,
	#form-builder .hl_marketing--header + .container-fluid::before,
	#form-builder .hl_settings--body .container-fluid::before {
		max-width: calc(100% - 40px);
	}
}

#marketing .hl_marketing--header + .container-fluid::before {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid var(--brand-primary);
}

#marketing .hl_marketing--nav {
	padding: 20px;
	transform: translateY(2px);
}

#marketing .hl_marketing--nav li {
	display: block;
	padding-right: 0;
}

@media (max-width: 575.98px) {
	#marketing .hl_marketing--nav li a {
		display: block;
	}
}

#marketing .hl_marketing--nav li.active a {
  border-bottom-width: 1px;
	border-bottom-color: var(--brand-primary);
	color: var(--brand-primary);
	font-weight: 700;
}

#marketing .hl_marketing--heading,
#trigger-links .hl_marketing--heading,
#form-builder .hl_marketing--heading,
#marketing .hl_customer-acquisition {
	position: relative;
}

#trigger-links .hl_marketing--heading,
#form-builder .hl_marketing--heading {
	padding: 1rem;
}

#marketing .hl_marketing--heading {
	padding: 0 20px;
	margin-bottom: 0;
}

#marketing .hl_marketing--heading h3 {
	font-size: 16px;
	font-weight: 700;
	color: var(--brand-primary);
}

#marketing .hl_customer-acquisition {
	padding: 0 20px 20px;
}

#marketing .hl_customer-acquisition--table .table-wrap,
#trigger-links .hl_customer-acquisition--table .table-wrap,
#form-builder .hl_customer-acquisition--table .hl-table,
#form-builder .hl_dashboard--pipeline-value .hl-table,
#form-builder .hl_customer-acquisition--table .table-wrap,
#form-builder .hl_settings--team-management .table-wrap {
	color: var(--brand-primary);
	font-weight: bold;
	overflow: hidden;
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 {
  border-radius: 10px;
	border: 1px solid var(--brand-primary);
}

#form-builder .hl_dashboard--pipeline-value {
	margin-bottom: 20px;
}

#marketing .hl_customer-acquisition--table .table-wrap a,
#form-builder .hl_dashboard--pipeline-value  .hl-table a {
	color: var(--brand-primary);
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .w-100:first-child,
#marketing .hl_customer-acquisition--table .table-wrap thead tr,
#trigger-links .hl_customer-acquisition--table .table-wrap thead tr,
#form-builder .hl_customer-acquisition--table .hl-table thead tr,
#form-builder .hl_dashboard--pipeline-value .hl-table thead tr,
#form-builder .hl_customer-acquisition--table .table-wrap thead tr,
#form-builder .hl_settings--team-management .table-wrap thead tr {
	color: #fff;
	border-bottom: none !important;
  border-radius: 10px 10px 0 0;
	padding: 1rem 0 !important;
	background-color: var(--brand-primary);
}

#marketing .hl_customer-acquisition--table .table-wrap {
	margin-top: 20px;
}

@media (max-width: 575.98px) {
	#marketing .hl_customer-acquisition--table .table-wrap {
		
	}
	#marketing .hl_customer-acquisition--table .table-wrap > .w-100 {
		overflow-x: scroll;
		flex-direction: column;
	}

	#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .w-100 {
		display: inline-flex !important;
		width: auto !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-25 {
		min-width: 220px !important;
		padding-left: 15px !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-75 + .w-25 {
		min-width: 130px !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-75 {
		min-width: 500px !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-75 > span {
		min-width: 60px !important;
    text-align: left !important;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    width: 65px;
    padding-left: 5px;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-75 > span:nth-child(6) {
		min-width: 90px !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-75 > span:last-child {
		min-width: 200px !important;
	}
	#marketing .hl_customer-acquisition--table .table-wrap .w-100 > .w-25 a {
		text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    max-width: 150px;
	}
}

#marketing .hl_customer-acquisition--table .table-wrap thead tr th,
#trigger-links .hl_customer-acquisition--table .table-wrap thead tr th,
#form-builder .hl_customer-acquisition--table .hl-table thead tr th,
#form-builder .hl_dashboard--pipeline-value .hl-table thead tr th,
#form-builder .hl_customer-acquisition--table .table-wrap thead tr th,
#form-builder .hl_settings--team-management .table-wrap thead tr th {
	color: #fff;
	font-weight: 700;
	padding: 1rem 15px;
	background-color: var(--brand-primary);
}

#marketing .hl_customer-acquisition--table .table-wrap td,
#trigger-links .hl_customer-acquisition--table .table-wrap td,
#form-builder .hl_customer-acquisition--table .hl-table td,
#form-builder .hl_dashboard--pipeline-value .hl-table td,
#form-builder .hl_customer-acquisition--table .table-wrap td,
#form-builder .hl_settings--team-management .table-wrap td {
	color: var(--brand-primary);
	border-top: none;
}

@media (max-width: 575.98px) {
	#marketing .hl_customer-acquisition--table .table-wrap td,
	#trigger-links .hl_customer-acquisition--table .table-wrap td,
	#form-builder .hl_customer-acquisition--table .hl-table td,
	#form-builder .hl_dashboard--pipeline-value .hl-table td,
	#form-builder .hl_customer-acquisition--table .table-wrap td,
	#form-builder .hl_settings--team-management .table-wrap td {
		padding: 10px 15px 5px !important;
	}
}

#trigger-links .hl_customer-acquisition--table .table-wrap td .icon-pencil,
#form-builder .hl_settings--team-management .table-wrap td .fa-edit {
	color: #1a88fa;
	opacity: 1;
}

@media (max-width: 575.98px) {
	#trigger-links .hl_customer-acquisition--table .table-wrap td .icon-pencil {
		margin-left: 0 !important;
	}
}

#trigger-links .hl_customer-acquisition--table .table-wrap td .icon-trash,
#form-builder .hl_customer-acquisition--table .table-wrap td .icon-trash,
#form-builder .hl_settings--team-management .table-wrap td .fa-trash {
	color: #6a7278;
	opacity: 1;
}

#marketing .hl_customer-acquisition--table .table-wrap thead tr th:first-child,
#trigger-links .hl_customer-acquisition--table .table-wrap thead tr th:first-child,
#form-builder .hl_customer-acquisition--table .hl-table thead tr th:first-child,
#form-builder .hl_dashboard--pipeline-value .hl-table thead tr th:first-child,
#form-builder .hl_customer-acquisition--table .table-wrap thead tr th:first-child,
#form-builder .hl_settings--team-management .table-wrap thead tr th:first-child {
	border-top-left-radius: 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap tbody tr th:first-child {
	padding-left: 30px;
}

#marketing .hl_customer-acquisition--table .table-wrap thead tr th:last-child,
#trigger-links .hl_customer-acquisition--table .table-wrap thead tr th:last-child,
#form-builder .hl_customer-acquisition--table .hl-table thead tr th:last-child,
#form-builder .hl_dashboard--pipeline-value .hl-table thead tr th:last-child,
#form-builder .hl_customer-acquisition--table .table-wrap thead tr th:last-child,
#form-builder .hl_settings--team-management .table-wrap thead tr th:last-child {
	border-top-right-radius: 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:first-child,
#trigger-links .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:first-child,
#form-builder .hl_customer-acquisition--table .hl-table tbody tr:last-child th:first-child,
#form-builder .hl_dashboard--pipeline-value .hl-table tbody tr:last-child th:first-child,
#form-builder .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:first-child,
#form-builder .hl_settings--team-management .table-wrap tbody tr:last-child th:first-child {
	border-bottom-left-radius: 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:last-child,
#trigger-links .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:last-child,
#form-builder .hl_customer-acquisition--table .hl-table tbody tr:last-child th:last-child,
#form-builder .hl_dashboard--pipeline-value .hl-table tbody tr:last-child th:last-child,
#form-builder .hl_customer-acquisition--table .table-wrap tbody tr:last-child th:last-child,
#form-builder .hl_settings--team-management .table-wrap tbody tr:last-child th:last-child {
	border-bottom-right-radius: 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .w-100:last-child {
	border-radius: 0 0 10px 10px;
}

#marketing .hl_customer-acquisition--table .table-wrap > .w-100 > .align-items-center:nth-child(odd),
#marketing .hl_customer-acquisition--table .table-wrap tbody tr:nth-child(even),
#trigger-links .hl_customer-acquisition--table .table-wrap tbody tr:nth-child(even),
#form-builder .hl_customer-acquisition--table .hl-table tbody tr:nth-child(even),
#form-builder .hl_dashboard--pipeline-value .hl-table tbody tr:nth-child(even),
#form-builder .hl_customer-acquisition--table .table-wrap tbody tr:nth-child(even),
#form-builder .hl_settings--team-management .table-wrap tbody tr:nth-child(even) {
	background-color: #cacecf;
}

#marketing .hl_customer-acquisition--table .table-wrap .more-select>.btn.dropdown-toggle:before,
#marketing .hl_customer-acquisition--table .table-wrap .more-select.show>.btn.dropdown-toggle:before {
	transform: rotate(90deg);
	background: var(--brand-accent);
	color: var(--brand-primary) !important;
	padding: 7px 0;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
	position: static;
}

#marketing .hl_customer-acquisition--table .table-wrap .more-select>.btn.dropdown-toggle:hover {
	background-color: transparent !important;
}

/*trigger-links*/

#trigger-links .tabs,
#form-builder .tabs {
  padding: 20px 20px 0;
	position: relative;
}

#trigger-links .tabs:before,
#form-builder .tabs:before {
	content: "";
	border: 1px solid var(--brand-primary);
	border-top: none;
	border-radius: 0 0 10px 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	background-color: #fff;
	max-width: calc(100% - 30px);
}

@media (min-width: 1200px) {
	#trigger-links .tabs:before,
	#form-builder .tabs:before {
		max-width: calc(100% - 40px);
	}
}

#trigger-links .hl_marketing--heading-text,
#form-builder .hl_marketing--heading-text {
	margin-bottom: 0 !important;
	position: relative;
  padding: 20px 20px 0;
}

#trigger-links .nav.nav-tabs,
#form-builder .nav.nav-tabs {
	position: relative;
	padding: 0;
  margin: 0 20px;
}

#trigger-links .nav.nav-tabs .nav-link.active,
#form-builder .nav.nav-tabs .nav-link.active {
	border-color: var(--brand-primary);
	color: var(--brand-primary);
}

#trigger-links .hl_controls .hl_controls--right .search-form input,
#form-builder .hl_controls .hl_controls--right .search-form input {
	border-color: var(--brand-primary);
}

/* form-builder */

#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__link--edit,
#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__btn--dropdown,
#form-builder .hl_customer-acquisition--table .hl-table td .btn {
	box-shadow: none;
}

#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__link--edit:hover,
#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__btn--dropdown:hover,
#form-builder .hl_customer-acquisition--table .hl-table td .btn {
	color: var(--brand-primary) !important;
}

#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__link--edit,
#form-builder .hl_customer-acquisition--table .hl-table td .btn-primary:not(.dropdown-toggle) {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}

#form-builder .hl_customer-acquisition--table .hl-table td .pg-form-builder__btn--dropdown,
#form-builder .hl_customer-acquisition--table .hl-table td .btn.dropdown-toggle {
	 border-top-left-radius: 0 !important;
	 border-bottom-left-radius: 0 !important;
}

#form-builder .hl_marketing--header {
	border-bottom: none;
	margin-bottom: 0;
}

#form-builder .hl_marketing--header + .container-fluid::before {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid var(--brand-primary);
}

#form-builder .hl_marketing--header + .container-fluid {
	padding: 20px 40px;
}

#form-builder .tab-pane {
	padding-top: 0 !important;
}

/*form-builder-add-edit*/

#form-builder .hl_form-builder--main {
	margin-top: 0;
}

#form-builder .hl_form-builder--main .builder-form-name {
	color: var(--brand-primary);
	font-weight: 700;
}

#form-builder .hl_form-builder--sidebar {
	padding-top: 0;
}

@media (min-width: 768px) {
	#form-builder .hl_form-builder--sidebar {
    top: 200px;
	}

	#form-builder .hl_form-builder--sidebar .fields-settings-overlay {
    top: 145px;
	}
}

#form-builder .hl_form-builder--sidebar .tab-content {
	padding: 20px 0;
}

#form-builder .hl_datepicker,
#form-builder .date-time-picker .field-input,
#form-builder .hl_datepicker + .btn {
	background: #fcce00 !important;
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%) !important;
	background-size: auto 200% !important;
	transition: 0.5s !important;
	border-radius: 4px !important;
	color: var(--brand-primary) !important;
	outline: none;
	margin-bottom: 0;
}

#form-builder .hl_datepicker .icon-calendar {
	color: var(--brand-primary);
}

/*text-email-templates*/

#form-builder .hl_settings--controls h2 span {
	margin-left: 10px;
	color: #fff;
	font-weight: 400;
}

@media (max-width: 575.98px) {
	#form-builder .hl_settings--controls h2 span {
		flex-basis: 100%;
	}
}

#form-builder .hl_settings--body {
	padding-top: 30px;
}

#form-builder .hl_settings--controls-left {
  margin-bottom: 0;
}

#form-builder .hl_settings--controls-right {
	margin-bottom: 0;
}

@media (max-width: 575.98px) {
	#form-builder .hl_settings--controls-right,
	#form-builder .hl_settings--controls-right .dropdown {
		width: 100%;
	}
}

#form-builder .hl_settings--team-management {
	padding: 20px;
	margin-left: 1px;
	margin-right: 1px;
}

#form-builder .hl_settings--body .container-fluid::before {
	border-bottom: 1px solid var(--brand-primary);
	border-radius: 10px;
}

#form-builder .hl_settings--body .container-fluid {
	overflow: hidden;
}

#form-builder  .hl_edit-event-modal-main .card-header {
	background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 10px 15px;
  border-radius: 10px 10px 0 0;
	position: relative;
}

#form-builder  .hl_edit-event-modal-main .card-header h2 {
	color: #fff !important;
}

#form-builder  .hl_edit-event-modal-main .card-header h2:before {
	background-position-y: 50%;
	width: 30px;
}

#form-builder .hl_edit-event-modal-main .card {
	border-radius: 10px;
	border: 1px solid var(--brand-primary);
}

/*html-builder*/
.hl_wrapper .gjs-editor-cont {
	margin-top: 32px;
}