#dashboard,
#customers,
#calenderEvents {
  padding-top: 55px;
}

#dashboard .container-fluid > .hl_controls,
#customers .container-fluid > .hl_controls,
#calenderEvents .container-fluid > .hl_controls {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 10px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
	position: relative;
  gap: 10px;
}

#dashboard .hl_controls h2,
#customers .hl_controls h2,
#calenderEvents .hl_controls h2 {
  display: flex;
  align-items: center;
	margin-bottom: 0;
	font-size: 16px;
  color: #fff !important;
}

#dashboard .hl_controls h2:before,
#customers .hl_controls h2:before,
#calenderEvents .hl_controls h2:before {
  background-position-y: 50%;
	width: 30px;
}

#dashboard > .container-fluid,
#customers > .container-fluid,
#calenderEvents > .container-fluid {
  position: relative;
  padding-bottom: 20px;
}

#dashboard > .container-fluid:before,
#customers > .container-fluid:before,
#calenderEvents > .container-fluid:before {
  content: "";
	border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
	border-radius: 10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	max-width: calc(100% - 30px);
	background-color: #fff;
}

@media (min-width: 1200px) {
  #dashboard > .container-fluid:before,
  #customers > .container-fluid:before,
  #calenderEvents > .container-fluid:before {
    max-width: calc(100% - 40px);
  }
}

#dashboard .hl_controls + div,
#customers .hl_controls + div,
#calenderEvents .hl_controls + div {
  position: relative;
}

@media (max-width: 767px) {
  #dashboard .hl_controls>:not(:last-child) {
    margin-bottom: 10px;
    width: 100%;
    margin-right: 0;
  }

  #dashboard .hl_controls .hl_marketing--nav {
    display: flex;
    gap: 10px;
    flex-direction: column;
  }
}

@media (min-width: 992px) {
  #dashboard .hl_marketing--nav li:not(last-child) {
    padding-right: 10px;
  }
}

#dashboard .date-time-picker .field .field-input,
#dashboard .hl_dashboard--pipeline-value .nav-item .nav-link,
#dashboard .hl_marketing--nav li a,
#dashboard .report-type > .form-group .btn,
#dashboard .hl-table .hl_controls--right .hl-table-button,
#dashboard .hl_controls .hl_controls--right .hl_datepicker,
#dashboard .hl_controls .hl_controls--right .hl_datepicker + .hl-btn,
#customers .hl_controls .hl_controls--right .hl_datepicker,
#customers .hl_controls .hl_controls--right .hl_analytics--filter-btn,
#customers .hl_controls .hl_controls--right .download_btn,
#calenderEvents .hl_controls .hl_controls--right>.dropdown .dropdown-toggle,
#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right .hl-btn,
#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--left .select-control {
  background: #fcce00 !important;
	background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%) !important;
	background-size: auto 200% !important;
	transition: 0.5s !important;
	border-radius: 4px !important;
	color: var(--brand-primary) !important;
	outline: none;
	margin-bottom: 0;
  min-height: 30px;
  height: 30px !important;
  font-weight: 700;
  line-height: 1;
}

@media (max-width: 565.98px) {
  #dashboard .hl_controls .hl_controls--right .hl_datepicker {
    width: 75%;
  }
  #dashboard .hl_controls .hl_controls--right > div:first-child {
    flex: 0 0 100%;
    margin-bottom: 10px;
  }
}

#dashboard .date-time-picker .field .field-input {
  width: 100%;
}

@media (min-width: 768px) {
  #dashboard .date-time-picker .field .field-input {
    width: 30%;
  }
}

@media (min-width: 1024px) {
  #dashboard .date-time-picker .field .field-input {
    width: 60%;
  }
}

#dashboard .hl_controls + div > div > .nav-link {
  font-size: 12px !important;
}

#dashboard .date-time-picker .field {
  justify-content: flex-end;
}

#dashboard .hl_controls .hl_controls--right .date-time-picker .field {
  margin-top: 0;
}

#dashboard .hl_controls .hl_controls--right .date-time-picker .field .field-input,
#customers .hl_controls .hl_controls--right .date-time-picker .field .field-input {
  width: 100%;
  color: var(--brand-primary) !important;
}

#dashboard .hl_controls .hl_controls--right select,
#dashboard .hl_controls .hl_controls--right .hl_datepicker,
#dashboard .hl_controls .hl_controls--right .hl_datepicker + .hl-btn,
#customers .hl_controls .hl_controls--right .hl_datepicker,
#customers .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle,
#customers .hl_controls .hl_controls--right .hl_analytics--filter-btn,
#customers .hl_controls .hl_controls--right .download_btn {
  width: auto;
  margin-bottom: 0 !important;
  border: none !important;
  height: 30px !important;
  line-height: 1em;
  margin-top: 0 !important;
  color: var(--brand-primary) !important;
}

@media (max-width: 575.98px) {
  #customers .hl_controls .hl_controls--right > .dropdown + .hl_datepicker {
    margin-bottom: 5px !important;
  }
}

#customers .hl_controls .hl_controls--right > .dropdown,
#customers .hl_controls .hl_controls--right > .dropdown + .hl_datepicker + .d-flex {
  margin-bottom: 5px;
}

#customers .hl_controls .hl_controls--right {
  align-items: flex-start;
}

@media (min-width:768px) {
  #customers .hl_controls .hl_controls--right > .dropdown,
  #customers .hl_controls .hl_controls--right > .dropdown + .hl_datepicker + .d-flex {
    margin-bottom: 0;
  }

  #customers .hl_controls .hl_controls--right {
    align-items: center;
  }
}

#dashboard .hl_controls .hl_controls--right > div {
  margin-bottom: 0;
}

#dashboard .hl_datepicker .icon-calendar,
#customers .hl_datepicker .icon-calendar,
#customers .hl_datepicker .icon-arrow-down-1 {
  color: var(--brand-primary);
  margin-right: 0;
}

#dashboard .hl_controls + div > div > .nav-link {
  padding-top: 1.5rem;
  font-weight: 700;
  color: var(--brand-primary) !important;
}

#dashboard .hl_controls + div > div > .nav-link span {
  color: var(--brand-primary) !important;
}

#dashboard .hl_dashboard--pipeline-value {
  margin: 15px 20px 30px;
}

@media (max-width: 768px) {
  #dashboard .hl_dashboard--pipeline-value .flex-row > div {
    width: 100%;
  }
}

#dashboard .hl_dashboard--pipeline-value .flex-row > div {
  padding-left: 0 !important;
  padding-top: 0 !important;
}

#dashboard .hl_dashboard--pipeline-value .flex-row > div + div {
  width: 100% !important;
  margin-top: 10px;
}

@media (min-width: 768px) {
  #dashboard .hl_dashboard--pipeline-value .flex-row > div + div {
    margin-top: 10px;
  }
}

@media (min-width: 1024px) {
  #dashboard .hl_dashboard--pipeline-value .flex-row > div + div {
    width: 380px !important;
    margin-top: 0;
  }
}

#dashboard .hl_dashboard--pipeline-value .nav-item {
  margin-right: 0;
  width: 100%;
  margin-bottom: 10px;
} 

@media (min-width: 768px) {
  #dashboard .hl_dashboard--pipeline-value .nav-item {
    margin-right: 10px;
    margin-bottom: 0;
    width: auto;
  }
}

#dashboard .hl_dashboard--pipeline-value .nav-item .nav-link,
#dashboard .hl_marketing--nav li a {
  width: 100%;
  border-bottom: none;
}

#dashboard .card .sample-data-text {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
  margin: 0;
  font-weight: 700;
  font-size: 14px;
}

#dashboard .card .highcharts-container {
  border: 1px solid var(--brand-primary);
  border-radius: 0 0 10px 10px;
  width: 100% !important;
}

#dashboard .hl_controls + div .card-group.--wide-gutter,
#customers .hl_controls + div .card-group.--wide-gutter {
  gap: 20px;
}

#dashboard .hl_controls + div > .card-group.--wide-gutter,
#customers .hl_controls + div > .card-group.--wide-gutter {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  margin-top: 20px;
  padding-left: 1px;
  padding-right: 1px;
}

#dashboard .hl_controls + div > .card-group.--wide-gutter:first-child,
#customers .hl_controls + div > .card-group.--wide-gutter:first-child {
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: 575.98px) {
  #dashboard .hl_controls + div > .card-group.--wide-gutter,
  #customers .hl_controls + div > .card-group.--wide-gutter {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #dashboard .hl_controls + div > .card-group.--wide-gutter,
  #customers .hl_controls + div > .card-group.--wide-gutter  {
    display: flex;
  }
}

#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value {
  margin: 0;
}

#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value.rounded > .p-3 {
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
  width: 100% !important;
}

#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value.rounded h4 {
  color: var(--brand-primary);
  justify-content: center;
}

#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value.rounded h2:before {
  position: absolute;
}

#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value.rounded h2 {
  justify-content: center;
  display: flex;
}

@media (max-width: 575.98px) {
  #dashboard  .campaign_stats_cards {
    margin-top: 30px;
  }
}

#dashboard  .campaign_stats_card {
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
}

#dashboard .campaign_stats_card .stats_card_value {
  font-style: italic;
}

#dashboard .campaign_stats_card .stats_card_value:before {
  display: none;
}

#dashboard .campaign_stats_card .going-down,
#dashboard .campaign_stats_card .going-up {
  background-color: #fefbe9;
  border-color: #fcdc6e;
  width: 70%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#dashboard .campaign_stats_card .going-down + p,
#dashboard .campaign_stats_card .going-up + p {
  color: var(--brand-primary);
}

/*pagination*/

#dashboard .pagination {
  margin: 20px 0 !important;
  justify-content: flex-end;
}

#dashboard .report-type > .form-group {
  margin-right: 20px;
}

#dashboard .report-type > .form-group .btn {
  width: 100%;
  border: none !important;
}

#dashboard .hl-table .hl_controls--right .hl-table-button {
  width: auto;
  border: none !important;
}

#dashboard .hl-table .hl_controls {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#dashboard .hl-table .hl_controls .hl_controls--right {
  padding-right: 0;
}

/*call-reporting*/

#customers .hl_dashboard--latest-review-requests {
  margin-left: 20px;
  border: 1px solid;
  border-radius: 10px;
  margin-right: 20px;
}

#customers .card-group.--wide-gutter.hl_analytics3--first-cards .card,
#customers .card-group.--wide-gutter.hl_analytics3--second-cards .card {
  border-radius: 10px;
  border: 1px solid var(--brand-primary);
  overflow: hidden;
}

#customers .card-group.--wide-gutter.hl_analytics3--first-cards .card .card-header,
#customers .card-group.--wide-gutter.hl_analytics3--second-cards .card .card-header,
#customers .hl_dashboard--latest-review-requests .card-header {
  background: var(--brand-primary);
  padding: 10px 10px 10px 15px;
  border-radius: 10px 10px 0 0;
}

#customers .card-group.--wide-gutter.hl_analytics3--first-cards .card .card-header h2,
#customers .card-group.--wide-gutter.hl_analytics3--second-cards .card .card-header h2,
#customers .hl_dashboard--latest-review-requests .card-header h2 {
  color: #fff !important;
}

#customers .card-group.--wide-gutter.hl_analytics3--first-cards .card .card-header h2:before,
#customers .card-group.--wide-gutter.hl_analytics3--second-cards .card .card-header h2:before,
#customers .hl_dashboard--latest-review-requests .card-header h2:before {
  position: absolute;
}

#customers .hl_analytics--filters .v-select {
  border-color: var(--brand-primary);
}

#customers .single-filter .toggle button {
  background-color: var(--brand-primary);
}

#customers .card-group.--wide-gutter {
  gap: 0;
  padding: 20px 20px 0;
}

#customers .card-group.--wide-gutter + .card-group {
  padding-top: 0;
}

/*appointment-report*/

#calenderEvents .hl_controls .hl_controls--right>#report-dropdown-filters {
  margin: 0 !important;
}

#calenderEvents .hl_controls .hl_controls--right>#report-dropdown-filters .dropdown-toggle {
  width: auto;
  border: none;
}

#calenderEvents .hl_controls + div {
  margin: 1px;
  padding: 20px;
}

#calenderEvents .card-group.--wide-gutter>.hl_dashboard--pipeline-value.rounded {
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
}

#calenderEvents .card-group.--wide-gutter>.hl_dashboard--pipeline-value.rounded > div h4 {
  margin-right: 0;
  text-align: center;
  color: var(--brand-primary);
}

#calenderEvents .card-group.--wide-gutter>.hl_dashboard--pipeline-value.rounded > div h2:before {
  position: absolute;
}

#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--left {
  padding-left: 0 !important;
}

#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right {
  padding-right: 0 !important;
}

@media (max-width: 991px) {
  #calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0;
    padding-left: 0;
  }
}

@media (max-width: 546px) {
  #calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right {
    margin-top: 8px;
    gap: 3px;
  }
  #calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right>:not(:last-child) {
    margin-right: 0;
  }
}

#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--right .hl-btn,
#calenderEvents #appointment-graph + .card-group.--wide-gutter .card .hl-table .hl_controls .hl_controls--left .select-control {
  width: auto;
  border: none !important;
}

#calenderEvents .container-fluid > .hl_controls + div > .info-blue {
 color: var(--brand-primary) !important;
 font-weight: 700;
}