/* Calendar */

.border-gray-300, .form-group .bootstrap-select .dropdown-toggle.btn-light{
	border: 1px solid var(--brand-primary)!important;
}
button#cmp-cal-event-modal__btn--save{
	background: var(--brand-accent)!important;
    color: var(--brand-primary)!important;
}
#calender-v2 .d-flex.justify-content-between.mb-3{
	border: 1px solid var(--brand-primary);
    background: var(--brand-primary);
    color: var(--white);
    padding: 10px 10px 5px 15px;
    border-radius: 10px 10px 0 0;
    margin-bottom: 0!important;
}
/* Button */
#calender-v2 .d-flex.justify-content-between.mb-3 button,
#calender-v2 .d-flex.justify-content-between.mb-3 .d-flex span.mx-2{
	background: var(--brand-accent);
    color: var(--brand-primary);
    padding: 5px 15px;
    border-radius: 5px;
    font-weight: 600;
    height: 40px;
    align-items: center;
    display: flex;
}   
#calender-v2 .d-flex.justify-content-between.mb-3 button:hover{
	color: var(--white);
}

#calender-v2 .calender-wrapper{
	border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    overflow: hidden;	
    padding: 20px;
}
#calender-v2 .tui-full-calendar-layout{
	border-radius: 5px;
    overflow: hidden;
    border: 1px solid var(--brand-primary);
}

/* Monthly*/
#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item:first-child, 
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line:first-child
{
	background: rgba(255,64,64,0.1)!important;
}
#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item:nth-child(3), 
#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item:nth-child(5), 
#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item:nth-child(7),
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line:nth-child(3),
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line:nth-child(5),
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line:nth-child(7){
	background: rgba(96,113,121,0.1)!important;
}

#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item span,
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line span,
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-schedules .tui-full-calendar-weekday-schedule.tui-full-calendar-weekday-schedule-time span{
	color: var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-schedules .tui-full-calendar-weekday-schedule.tui-full-calendar-weekday-schedule-time span.tui-full-calendar-weekday-schedule-bullet{
	background: var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-today .tui-full-calendar-weekday-grid-header span.tui-full-calendar-weekday-grid-date-decorator{
	background: var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-layout .tui-full-calendar-month .tui-full-calendar-month-dayname .tui-full-calendar-month-dayname-item:first-child span, 
#calender-v2 .tui-full-calendar-month-week-item .tui-full-calendar-weekday .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line:first-child span{
	color: #ff4040!important;
}
/* End of Monthly*/

/*Weekly*/


#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-dayname-container, #calender-v2 .tui-full-calendar-splitter{
	border-bottom: 1px solid var(--brand-primary)!important;
	border-top: 1px solid var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-left, 
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-timegrid-timezone, 
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-time-date, 
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-container .tui-full-calendar-weekday-grid .tui-full-calendar-weekday-grid-line{
	border-right: 1px solid var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-timegrid-container .tui-full-calendar-timegrid-h-grid .tui-full-calendar-timegrid-gridline{
	border-bottom: 1px solid var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-dayname-leftmargin .tui-full-calendar-holiday-sun .tui-full-calendar-dayname-date-area{
	color: #ff4040!important;
}
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-vlayout-area .tui-full-calendar-daygrid-layout .tui-full-calendar-allday-left span.tui-full-calendar-left-content,
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-dayname-leftmargin .tui-full-calendar-dayname span.tui-full-calendar-dayname-date-area,
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-vlayout-area .tui-full-calendar-timegrid-container .tui-full-calendar-timegrid-left .tui-full-calendar-timegrid-timezone .tui-full-calendar-timegrid-hour{
	color: var(--brand-primary)!important;
}
#calender-v2 .tui-full-calendar-allday-right .tui-full-calendar-week-container .tui-full-calendar-time-date.tui-full-calendar-today{
	background-color: rgba(0, 83, 117, 0.05) !important;
}
#calender-v2 .tui-full-calendar-week-container .tui-full-calendar-vlayout-area .tui-full-calendar-daygrid-layout .tui-full-calendar-allday-left span.tui-full-calendar-left-content{

}
#calender-v2 .tui-full-calendar-weekday-grid .tui-full-calendar-today .tui-full-calendar-weekday-grid-header .tui-full-calendar-weekday-grid-date.tui-full-calendar-weekday-grid-date-decorator{
	color: var(--white) !important;
}
@media only screen and (max-width: 480px) {
	#calender-v2 .d-flex.justify-content-between.mb-3{
		width: 100%;
	}
	#calender-v2 .d-flex.justify-content-between.mb-3 .d-flex{
		
	}
	#calender-v2 .d-flex.justify-content-between.mb-3 button, 
	#calender-v2 .d-flex.justify-content-between.mb-3 .d-flex span.mx-2{
		width:  100%;
	}
	#calender-v2 .container-fluid .justify-content-between .align-items-center .dropdown,
	#calender-v2 .container-fluid .justify-content-between .align-items-center .dropdown.mx-2,
	#calender-v2 .container-fluid .justify-content-between .align-items-center .dropdown.ml-2,
	#calender-v2 .container-fluid .justify-content-between .align-items-center #pg-calendar-v2__btn--reset-page,
	#calender-v2 .container-fluid .justify-content-between .align-items-center #pg-calendar-v2__btn--event-guide,
	#calender-v2 .container-fluid .justify-content-between .align-items-center #pg-calendar-v2__btn--pagination-prev,
	#calender-v2 .container-fluid .justify-content-between .align-items-center #pg-calendar-v2__btn--pagination-next,
	#calender-v2 .container-fluid .justify-content-between .align-items-center span.mx-2
	{
	    margin-bottom: 5px !important;
	    margin-left: 0 !important;
	    margin-right: 0!important;
	}
	#calender-v2 .d-flex.justify-content-between.mb-3 button, 
	#calender-v2 .d-flex.justify-content-between.mb-3 .d-flex span.mx-2{
		margin-bottom: 5px !important;
	    margin-left: 0 !important;
	    margin-right: 0!important;
	}
}  
