/*

 Reputation

 */



/*------ Overview -------*/
.hl_wrapper{

}
.hl_wrapper .hl_reputation.padding-top{

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header{
    background: var(--brand-primary);
    padding: 15px 30px;
    display: grid;
    grid-template-rows: 1fr;
    margin: 0 15px;
    border-radius: 5px 5px 0 0;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header h3, 
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header span{
	color: var(--white);
	font-weight: 600; 
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween{

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween .hl_reputation--links{

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween .hl_reputation--links li{
	background: var(--brand-accent);
    border-radius: 5px;
    padding: 5px 20px;
    margin-right: 5px;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween .hl_reputation--links li.active a{
	color: var(--white) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween .hl_reputation--links li a{
	font-weight: 600;
    color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--header .hl_util--sapcebetween button{
	background: var(--brand-accent);
    color: var(--brand-primary);
    border-radius: 5px;
    text-align: center;
    font-weight: 600;
}

.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self{
    padding: 0px 15px !important;
    margin: 0 0 20px;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings{
	border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    padding: 25px;
    background: var(--white);
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows {

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section{
	border: 1px solid var(--brand-primary);
    border-radius: 5px;
    padding: 0 !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card{

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header{
	background: var(--brand-primary);
    border-radius: 0;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header h2,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header div span,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header div a{
	color: var(--white) !important;
	font-weight: 600;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header div .show li a span{
	color: var(--brand-primary) !important;
	font-weight: 600;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-header div .show li.active a span{
	color: var(--white) !important;
	font-weight: 600;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body{
	min-height: 300px;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table{
	border-radius: 5px !important;
	overflow: hidden;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr th{
	border-radius: 0 !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h1,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h2,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h3,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h4,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h5,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body h6,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body p,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body svg,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body svg g text tspan{
	color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body svg g path{
	stroke: rgba(0,83,117,.4) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body svg g text{
	color: var(--brand-primary) !important;
	fill: var(--brand-primary) !important;	
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h1,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h2,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h3,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h4,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h5,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td h6{
	color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self .hl_reputation_settings .rows section .card .card-body table tr td .avatar .avatar_img{
	background: var(--brand-accent) !important;
	border-radius: 5px;	
	color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section{
	border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    padding: 25px;
    background: var(--white);
}

/*-------- Request ---------*/
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section{
	border: none;
	padding: 0 !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests{
	overflow: hidden;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-header{
	border-radius: 0 !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding{
	padding: 20px 30px !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding table{
	overflow: hidden;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding table tr th{
	border-radius: 0 !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding table tr td{
	color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding table .table_status:before{
	background: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card.hl_dashboard--latest-review-requests .card-body.--no-padding table tr td .avatar .avatar_img{
	background: var(--brand-accent) !important;
	border-radius: 5px;	
	color: var(--brand-primary) !important;
}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section{

}
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body .card-body h3,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body .card-body h5,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body .card-body div,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body h3,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body h5,
.hl_wrapper .hl_reputation.padding-top .hl_reputation--body.hl_reputation--scroll-self section section .card .card-body div{
	color: var(--brand-primary) !important;
}


/*------------- Modal Start ---------------*/

.hl_reputation .modal .modal-content .modal-header .modal-header--inner .modal-title, 
.hl_reputation .modal .modal-content .modal-header .modal-header--inner .modal-title .icon{
    color: var(--white)!important;
}

.hl_reputation .modal .modal-content .modal-body .modal-body--inner .form-group,
.hl_reputation .modal .modal-content .modal-body .modal-body--inner .form-group span,
.hl_reputation .modal .modal-content .modal-body .modal-body--inner .hl_help-article{
    color: var(--brand-primary) !important;
}

.hl_reputation .modal .modal-content .modal-body .modal-body--inner .form-group .border-gray-300, 
.hl_reputation .modal .modal-content .modal-body .modal-body--inner .form-group .bootstrap-select .dropdown-toggle.btn-light{
	border: 1px solid var(--brand-primary)!important;
}

.hl_reputation .modal .modal-content .modal-footer{
	border-top: 2px solid rgba(0,83,117,.2) !important;
}
.hl_reputation .modal .modal-content .modal-footer .hl-btn{
    background: var(--brand-accent);
    border: none !important;
    color: var(--brand-primary);
    font-weight: 600;
}
.hl_reputation .modal .modal-content .modal-footer .hl-btn:disabled{
	background-color: #f5f5f5 !important;
    border-color: #d9d9d9 !important;
}
.hl_reputation .modal .modal-content .modal-body .modal-body--inner .form-group .border-red-300{
	border-color: var(--danger) !important;
}
.hl_reputation .modal .modal-content #email-error.hl-input-error.mt-2.text-sm.text-red-600{
	color: var(--danger) !important;
}


/*------------- Modal End ---------------*/

