/* Contact */
/* Smartlist */

/*--brand-primary: #005375;
--brand-accent: #fcce00;

var(--brand-primary);
var(--brand-accent);*/


/*brand primary*/
.icon.--blue, 
#dashboard h2, 
#marketing h2, 
#trigger-links h2, 
#form-builder h2, 
#customers h2, 
#calenderEvents h2, 
#calendarEvents h2, 
#customers .hl_customers--table, 
#customers, 
#smartlists tbody tr td a, 
#smartlists tbody tr td small, 
#smartlists tbody tr td i, 
#smartlists tbody tr td span, 
#smartlists tbody tr td .date-display, 
#smartlists tbody tr td .text{
	color: var(--brand-primary)!important;
}

#smartlists .header-underline, 
section#customers .d-flex.align-items-center.mt-3.mb-2{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
}
#smartlists .hl_smartlists--controls .hl_controls--left,
#smartlists .hl_controls .hl_controls--right{
	padding: 10px;
}
#smartlists .hl_controls{
  background: var(--white);
  margin-bottom: 0;
  border-left: 1px solid var(--brand-primary);
  margin: 0 15px;
  padding: 0;
  border-right: 1px solid var(--brand-primary);
}
#smartlists ul.header-ul li.active a {
  border: none;
  color: var(--white);
  border-color: #188bf6;
}
#smartlists .search-form input {
  padding: 10px 20px 10px 50px;
  padding: 10px 10px 10px 50px;
  height: 40px;
  border: 1px solid var(--brand-primary);
}
#smartlists .hl_controls .hl_controls--right .bootstrap-select>.btn.dropdown-toggle{
	border: 1px solid var(--brand-primary);	
}
#smartlists .hl_smartlists--main{
  background: var(--white);
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  padding: 15px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#smartlists .mb-3, 
#smartlists .my-3{
	display: none;
}
#smartlists div.card-like{
	border: 1px solid var(--brand-primary);
	overflow: hidden;
	border-radius: 5px 5px 0 0;
	background: var(--white);
	padding: 5px;
	color: var(--brand-primary);
}
#smartlists div.card-like .flex-page-bar{
	background: transparent;
}
#smartlists .card{
	border-bottom: 1px solid var(--brand-primary);
	border-left: 1px solid var(--brand-primary);
	border-right: 1px solid var(--brand-primary);
}
#smartlists .card thead{
	background: var(--brand-primary);	
}
#smartlists .card thead span, 
#smartlists .wide-header{
	color: var(--white);
}
#smartlists .avatar_img{
	border-radius: 5px;
	background-color: var(--brand-accent);
}
#smartlists tbody tr td .table_tag{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#smartlists button i.icon, 
#smartlists i.icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}

#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card-like{

}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150{
  border: none !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body{

}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table{
  border: 1px solid var(--brand-primary) !important;
  border-radius: 0 0 5px 5px !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr th:first-child{
  border-top-left-radius: 0 !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr th:last-child{
  border-top-right-radius: 0 !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr:last-child td:first-child{
  border-top-left-radius: 5px !important;
}
#smartlists .hl_smartlists--wrap section#hl_smartlists-main .card.no-border-radius.min-height-150 .card-body table.table thead tr:last-child td:last-child{
  border-top-right-radius: 5px !important;
}




/*  ========== Smartlist ============ */

#customers .hl_controls{
	border: 1px solid var(--brand-primary);
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 10px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
  align-items: center !important;
}
#customers .hl_controls--left h3{
	color: #fff;
  font-weight: 600;
  height: auto !important;
}
#customers .btn-success.disabled, 
#customers .btn-success:disabled{
	background-color: var(--brand-accent);
  border-color: var(--brand-accent);
}
#customers .hl_controls .hl_controls--right>*{
  margin-bottom: 5px;	
}
#customers nav{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  padding: 10px;
  background: #fff;
}
#customers nav .pagination a{
	background: var(--brand-accent);
  border-color: var(--brand-accent);
  color:var(--brand-primary);
}
#customers ul.pagination.hl_controls.justify-content-end{
	background: transparent;
  border: none;
  padding: 0;
}
#customers .hl_customers--table{
	border-radius: 0 !important;
  border-left: 1px solid var(--brand-primary);
  margin-bottom: 0;
  margin-top: 0;
  border-right: 1px solid var(--brand-primary);
}
#customers nav:nth-child(4){
	border-radius: 0 0 5px 5px;
  border-bottom: 1px solid var(--brand-primary);
}
#customers .text-success {
    color: var(--brand-accent)!important;
}

#smartlists ul.header-ul li{
	color: var(--brand-primary);
  background: var(--brand-accent);
  border-color: var(--brand-accent);
  padding: 5px 15px;
  border-radius: 5px;
  height: auto;
  margin-bottom: 0;
  border-bottom: 0;
}
#smartlists #colViewButton{
  background: var(--brand-accent) !important;
  border: 0 !important;
  color:var(--brand-primary) !important;
}
#smartlists #colViewButton .filter-option{
  padding: 0px 5px !important;
}
#smartlists #colViewButton .filter-option-inner{
  color:var(--brand-primary) !important; 
}
.hl_controls .hl_controls--right>:not(:last-child){

}


section#customers[data-v-075e455b] {
    padding-top: 0;
}
section#customers[data-v-075e455b] .container-fluid{
	padding-left: 15px;
	padding-right: 15px;
}
section#customers[data-v-075e455b] .container-fluid .card{
  border: 1px solid var(--brand-primary);
  margin-bottom: 20px;
  border-radius: 0 0 .3125rem .3125rem;
}
section#customers[data-v-075e455b] button{
	color: var(--brand-primary) !important;
  background: var(--brand-accent) !important;
  border: none !important;
  font-weight: 600;
}
section#customers[data-v-075e455b] .table thead tr th{
	color: var(--brand-primary);
}
section#customers[data-v-075e455b] table{
	border-color: var(--brand-primary);
}
section#customers[data-v-075e455b] .card-header{
	border-bottom: 2px solid var(--brand-primary);	
}
section#customers[data-v-075e455b] input#undefined-input{
	color: var(--brand-primary)!important;
}


section#customers[data-v-100ce549] .d-flex.align-items-center.mt-3.mb-2 .font-light{
	color: #fff;
  margin-bottom: 5px!important;
  font-weight: 400;
}
section#customers[data-v-100ce549] .d-flex.shadow.rounded-top.bg-white.align-items-center.justify-content-center.p-5{
	border-left: 1px solid var(--brand-primary);
  border-right: 1px solid var(--brand-primary);
  border-bottom: 1px solid var(--brand-primary);
  border-top: 0!important;
  border-top-right-radius: 0!important;
  border-top-left-radius: 0!important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  color: var(--brand-primary);
}
#smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button,
#smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
  height: auto!important;
}
#smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button span i,
#smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
  color: var(--brand-primary) !important;
}

#smartlists .hl_smartlists--filters{
  z-index: 1;
}
#smartlists .hl_controls #customers .hl_dashboard--latest-review-requests{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
#smartlists .hl_controls #customers .hl_dashboard--latest-review-requests .card-body{
  padding: 20px 30px;
}
.hl_wrapper #customers > .container-fluid:before{
  background: none !important;
  border: none !important;
  border-radius: 0!important;
}
/*#customers[data-v-7deaf1ce] > .container-fluid:before,
#customers[data-v-075e455b] > .container-fluid:before{
  
}*/
/*#customers[data-v-7deaf1ce] .container-fluid .card,*/
#customers[data-v-075e455b] .container-fluid .card{
  padding: 15px !important;
  margin: 0 !important;
}
#customers[data-v-7deaf1ce] .card-header{
  border-radius: 0!important;
  border-bottom: 0 !important;
}
#customers[data-v-7deaf1ce] .container-fluid .card .card-body.--no-padding{
  padding: 15px !important;
}
#customers[data-v-075e455b] .container-fluid .card .card-body.--no-padding{
  border: 1px solid var(--brand-primary);
  border-radius: 0 0 5px 5px;
  padding: 15px !important;
}
#customers[data-v-7deaf1ce] table,
#customers[data-v-075e455b] table{
  border: none !important;
}
#customers[data-v-7deaf1ce] table thead tr th,
#customers[data-v-075e455b] table thead tr th{
  color: var(--white) !important;
}
#customers ul.header-ul li a[data-v-7deaf1ce]{
  height: auto !important;
}
#customers .hl_tasks-list button.dropdown-toggle{
  background: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width button[type=button]{
  background-color: var(--brand-accent) !important;
  border-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  padding: 9.5px 20px;
  height: auto !important;
  line-height: unset !important;
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width button[type=button] .filter-option-inner-inner{
  color: var(--brand-primary) !important;
  font-weight: 600; 
}
#customers #campaign-picker.hl_controls--right .dropdown.bootstrap-select.fit-width{
  margin-bottom: 5px !important;
}
#customers #campaign-picker.hl_controls--right button{
  color: var(--brand-primary) !important;
}
#customers.hl_wrapper--inner.customers.contacts_restore > .container-fluid:before{
  background-color: transparent !important;
  border: none !important;
}

.hl_wrapper.nav-shrink{
  padding-left: 0!important;
}
.hl_header.nav-shrink{
  left: 0!important;
}
.hl_wrapper.nav-shrink .hl_wrapper--inner{
  width: 100%;
  padding: 50px;
}
.pagination a.active[data-v-b742a552]{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}


/*----------- modal ------------*/

.modal .modal-body .modal-body--inner form .modal-buttons button{
  background-color: var(--brand-accent) !important;
  border: none !important;
  color: var(--brand-primary) !important;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading{

}
.modal .modal-content{
  overflow: hidden;
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .modal-body h1,
.modal .modal-dialog .modal-content .modal-body h2,
.modal .modal-dialog .modal-content .modal-body h3,
.modal .modal-dialog .modal-content .modal-body h4,
.modal .modal-dialog .modal-content .modal-body h5,
.modal .modal-dialog .modal-content .modal-body h6,
.modal .modal-dialog .modal-content .modal-body p{
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading li{
  background-color: rgba(252,206,0,.1);
  color: var(--white) !important;
}
.modal .modal-dialog .modal-content .hl_import-customers--steps-heading li.active{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
}
.modal .modal-dialog .modal-content .modal-body label.btn.btn-success.dz-clickable,
.modal .modal-dialog .modal-content .modal-body button,
.modal .modal-dialog .modal-content .modal-body a.btn{
  background-color: var(--brand-accent) !important;
  color: var(--brand-primary) !important;
  font-weight: 600;
}
.modal .modal-dialog .modal-content .modal-body button.btn.dropdown-toggle.btn-light{
  background-color: transparent !important;
}


/*----------- end of modal -----------*/



/*--------- Mobile version --------*/
@media only screen and (max-width: 576px) {
  #smartlists .customized-header .header-underline .d-inline-block{
    display: block !important;
  }
  #smartlists .customized-header .header-underline .d-inline-block .header-ul .active a{
    color: var(--brand-primary) !important;
    height: auto !important;
    font-weight: 600;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block{
    margin: 0 !important;
    float: unset !important;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button{
    display: block;
    margin: 5px 0 !important;
    width: 100% !important;
    height: unset;
  }
  #smartlists .customized-header .header-underline .float-right.ml-3.mr-.d-inline-block button span i{
    color: var(--brand-primary) !important;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left{
    margin: 0 !important;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left button{
    width: 100%;
    margin-right: 0;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right .dropdown.bootstrap-select.fit-width,
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right .form-control-group,
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left span, #smartlists .hl_controls.hl_smartlists--controls .hl_controls--right button#hl_smartlists--filter-btn{
    width: 100% !important;
    margin-right: 0 !important;
  }
  #smartlists .hl_smartlists--wrap .hl_smartlists--main .card.no-border-radius .card-body.--no-padding{
    overflow-x: auto;
  }


  /*-----Customers/ manual actions----*/
  #customers .container-fluid.mb-5 {

  }
  #customers .container-fluid.mb-5 .hl_controls{
    display: block;
    width: 100%;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--left {
    margin: 0 !important;
    text-align: center;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right{
    display: block;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width{
    display: inline;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    margin-bottom: 5px;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button .filter-option-inner-inner{
    color: var(--brand-primary);
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .btn.btn-success{
    width: 100%;
    color: var(--brand-primary);
  } 
  #customers .container-fluid.mb-5 nav ul.pagination.hl_controls.justify-content-end, #customers .container-fluid.mb-5 nav ul.pagination.justify-content-end{
    display: block;
  }
  #customers nav .pagination a{
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }

  /*----------- Contact Request ------------*/
  #smartlists .customized-header .header-underline .d-inline-block .header-ul{

  }
  #smartlists .customized-header .header-underline .d-inline-block .header-ul li{
    margin-right: 0;
    margin-bottom: 5px;
    padding: 10px 15px;
  }
  #smartlists .hl_controls.hl_smartlists--controls .hl_controls--left{
    margin: 0 !important;
    display: grid;
    grid: auto auto / auto auto auto auto;
    grid-gap: 10px;
    padding: 10px;
    width: 100%;
  }

}


/*----------- Tab ------------*/
@media only screen and (min-width: 577px)and (max-width: 1200px)   {
  #smartlists .hl_smartlists--wrap .hl_smartlists--main .card.no-border-radius .card-body.--no-padding{
    overflow-x: auto;
  }

  /*-----Customers/ manual actions----*/
  #customers .container-fluid.mb-5 {

  }
  #customers .container-fluid.mb-5 .hl_controls{
    display: block;
    width: 100%;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--left {
    margin: 0 !important;
    text-align: center;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right{
    display: block;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width{
    display: inline;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    margin-bottom: 5px;
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .dropdown.bootstrap-select.fit-width button .filter-option-inner-inner{
    color: var(--brand-primary);
  }
  #customers .container-fluid.mb-5 .hl_controls .hl_controls--right .btn.btn-success{
    width: 100%;
    color: var(--brand-primary);
  } 
  #customers .container-fluid.mb-5 nav ul.pagination.hl_controls.justify-content-end, #customers .container-fluid.mb-5 nav ul.pagination.justify-content-end{
    display: block;
  }
  #customers nav .pagination a{
    border-radius: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 600;
  }
}










