/*funnels*/

#funnels .hl_controls {
  background: var(--brand-primary);
  color: var(--white);
  padding: 10px 10px 5px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0!important;
	margin-top: 40px;
}

#funnels .hl_controls .hl_controls--left h2 {
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  height: auto;
}

#funnels .hl_controls .hl_controls--right .hl-btn {
  margin-bottom: 5px;
  padding: 5px 10px !important;
  display: flex;
  align-items: center;
}

#funnels .container-fluid {
  position: relative;
  padding-bottom: 40px;
	max-width: 1200px !important;
}

#funnels .container-fluid > * {
  position: relative;
  padding-left: 50px;
  padding-right: 50px;
}

#funnels .container-fluid .hl_controls {
  padding-left: 25px;
  padding-right: 25px;
}

#funnels .container-fluid::before {
  content: "";
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: calc(100% - 30px)
}

@media (min-width: 1200px) {
  #funnels .container-fluid::before {
    max-width: 1160px;
  }
}

#funnels .search-form  {
  margin-top: 40px;
}

#funnels .search-form input {
  border-color: var(--brand-primary);
}

#funnels .search-form .icon {
  left: 70px;
}

#funnels .nav.nav-tabs .nav-link.active {
  color: var(--brand-primary);
  border-color: var(--brand-primary);
}

#funnels .funnel {
  border: 1px solid var(--brand-primary);
}

#funnels .hl_funnels--nav {
	padding-top: 20px;
}

#funnels .hl_controls .hl_controls--right .btn-group-sm>.btn, 
#funnels .hl_controls .hl_controls--right .btn-sm {
	margin-bottom: 5px;
	height: 30px;
}

#funnels .hl_controls .hl_controls--right .btn-group-sm>.btn .fa-share-alt, 
#funnels .hl_controls .hl_controls--right .btn-sm .fa-share-alt {
	color: var(--brand-primary) !important;
}

#funnels .hl_funnels--header {
	border-bottom: none;
	margin-bottom: 40px;
}

#funnels .funnel .steps {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #607179;
}

#funnels .funnel .steps p {
	margin-left: 0 !important;
}

/* mobile */

@media (max-width: 575.98px) {
  #funnels .hl_funnels--nav {
    padding-top: 0;
  }
  
  #funnels .funnel {
    flex-direction: column;
    gap: 10px;
  }
  
  #funnels .funnel > div {
    text-align: center !important;
  }

  #funnels .funnel .steps {
    flex-direction: row;
  }

  #funnels .funnel .steps p {
    margin-left: 8px !important;
  }
}