
@media (max-width: 576px){
/*Mobile*/

	#triggers .container-fluid .hl_controls{
		border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}
	/* left */
	#triggers .container-fluid .hl_controls .hl_controls--left.flex h3 {
	    color: var(--white);
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex{
		display: block;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex h3{
	    margin: 0;
	    display: block;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left .triggers-results{
	    display: block;
	}

	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results .bootstrap-select{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	    width: 100% !important;
	    margin: 8px 0!important;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left .triggers-results .bootstrap-select>.btn.dropdown-toggle .filter-option{
		display: inline-block;
	    font-weight: 500;
	    color: var(--brand-primary);
	    line-height: 1.2;
	    border-bottom: none;
	    position: relative;
	    top: 2px;
	    text-align: center;;
	}



	#triggers .container-fluid .hl_controls .hl_controls--right button{
	    background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	    width: 100%;
	    display: block;
	}
	#triggers .container-fluid .hl_controls--right{
		display: grid;
	    width: 100%;
	}
	#triggers .container-fluid .hl_controls .hl_controls--right>:not(:last-child){
		margin-right: 0;
	}

	#triggers .container-fluid .hl_triggers--wrap, #triggers .container-fluid .hl_rules--wrap{
		border-left: 1px solid var(--brand-primary);
	  	border-right: 1px solid var(--brand-primary);
	  	border-bottom: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}
	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item{
		padding: 10px 0px;
	    border-bottom: 1px solid var(--brand-primary);
	    margin-bottom: 0;
	    border-radius: 0;
	}
	#triggers .container-fluid .hl_triggers--item .triggers_actions>.dropdown{
		margin-right:0 !important;
		margin-bottom: 10px !important
	}
	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item .triggers_name a h4{
		color:  var(--brand-primary);
	}

	/*Edit*/
	#triggers .container-fluid .hl_controls .hl_controls--right .dropdown button{
		border:0 ;
	}
	#triggers .container-fluid .hl_rules--wrap{
		margin-top: 0 !important;
		color: var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 h4{
	    border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card{
		border: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card:nth-child(2) {
	    border-top: none !important;
	    border-radius: 0 0 5px 5px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body{
		padding: 0;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group label{
		color:  var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group input,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group textarea,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group select{
		border: 1px solid var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group .mce-tinymce.mce-container.mce-panel{
		border: 1px solid var(--brand-primary);
		overflow: hidden;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group a{
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 15px;
	    border-radius: 4px !important;
	    font-weight: 600;
	    display: block;
    	text-align: center;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group button.hl-btn{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .text-center a.btn.btn-success{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}

}


/* tab */

@media only screen and (min-width: 577px)and (max-width: 1200px)   {
/* tab */

	#triggers .container-fluid .hl_controls{
		border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}
	/* left */
	#triggers .container-fluid .hl_controls .hl_controls--left.flex h3 {
	    color: var(--white);
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex{
		display: block;
	    width: 100%;
	    margin: 0;
	    text-align: center;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex h3{
	    margin: 0;
	    display: block;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left .triggers-results{
	    display: block;
	}

	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results .bootstrap-select{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	    width: 100% !important;
	    margin: 8px 0!important;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left .triggers-results .bootstrap-select>.btn.dropdown-toggle .filter-option{
		display: inline-block;
	    font-weight: 500;
	    color: var(--brand-primary);
	    line-height: 1.2;
	    border-bottom: none;
	    position: relative;
	    top: 2px;
	    text-align: center;;
	}



	#triggers .container-fluid .hl_controls .hl_controls--right button{
	    background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	    width: 100%;
	    display: block;
	}
	#triggers .container-fluid .hl_controls--right{
		display: grid;
	    width: 100%;
	}
	#triggers .container-fluid .hl_controls .hl_controls--right>:not(:last-child){
		margin-right: 0;
	}

	#triggers .container-fluid .hl_triggers--wrap, #triggers .container-fluid .hl_rules--wrap{
		border-left: 1px solid var(--brand-primary);
	  	border-right: 1px solid var(--brand-primary);
	  	border-bottom: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}
	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item{
		padding: 10px 0px;
	    border-bottom: 1px solid var(--brand-primary);
	    margin-bottom: 0;
	    border-radius: 0;
	}
	#triggers .container-fluid .hl_triggers--item .triggers_actions>.dropdown{
		margin-right:0 !important;
		margin-bottom: 10px !important;
	    display: block;
	}
	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item .triggers_name a h4{
		color:  var(--brand-primary);
	}

	/*Edit*/
	#triggers .container-fluid .hl_controls .hl_controls--right .dropdown button{
		border:0 ;
	}
	#triggers .container-fluid .hl_rules--wrap{
		margin-top: 0 !important;
		color: var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 h4{
	    border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card{
		border: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card:nth-child(2) {
	    border-top: none !important;
	    border-radius: 0 0 5px 5px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body{
		padding: 0;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group label{
		color:  var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group input,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group textarea,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group select{
		border: 1px solid var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group .mce-tinymce.mce-container.mce-panel{
		border: 1px solid var(--brand-primary);
		overflow: hidden;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group a{
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 15px;
	    border-radius: 4px !important;
	    font-weight: 600;
	    display: block;
    	text-align: center;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group button.hl-btn{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .text-center a.btn.btn-success{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

	#triggers .container-fluid .hl_controls{
		border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}

	/* left */
	#triggers .container-fluid .hl_controls .hl_controls--left.flex h3 {
	    color: var(--white);
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results{
		margin-bottom: 0;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results .bootstrap-select{
		color: var(--brand-primary);
	    background: var(--brand-accent);
	    border-color: var(--brand-accent);
	    padding: 2px 13px;
	    border-radius: 5px;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results .bootstrap-select .filter-option-inner-inner{
		color: var(--brand-primary);
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex .triggers-results .bootstrap-select>.btn.dropdown-toggle .filter-option{
		border-bottom: 0!important;
	}
	#triggers .container-fluid .hl_controls .hl_controls--left.flex>:not(:last-child){
		margin-right: 15px;
	    align-items: center;
	    display: flex;
	    margin-bottom: 0;
	}

	/* right */
	#triggers .container-fluid .hl_controls .hl_controls--right>*{
		margin-bottom: 5px;
	}
	#triggers .container-fluid .hl_controls .hl_controls--right button{
	    background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}


	#triggers .container-fluid .hl_triggers--wrap, #triggers .container-fluid .hl_rules--wrap{
		border-left: 1px solid var(--brand-primary);
	  	border-right: 1px solid var(--brand-primary);
	  	border-bottom: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}

	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item{
		padding: 10px 20px;
	    border-bottom: 1px solid var(--brand-primary);
	    margin-bottom: 0;
	    border-radius: 0;
	}
	#triggers .container-fluid .hl_triggers--wrap .hl_triggers--item .triggers_name a h4{
		color:  var(--brand-primary);
	}

	/*Edit*/
	#triggers .container-fluid .hl_controls .hl_controls--right .dropdown button{
		border:0 ;
	}
	#triggers .container-fluid .hl_rules--wrap{
		margin-top: 0 !important;
		color: var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 h4{
	    border: 1px solid var(--brand-primary);
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 10px 5px 15px;
	    border-radius: 10px 10px 0 0;
	    margin-bottom: 0!important;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card{
		border: 1px solid var(--brand-primary);
	  	padding: 25px;
		background: var(--white);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card:nth-child(2) {
	    border-top: none !important;
	    border-radius: 0 0 5px 5px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group label{
		color:  var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group input,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group textarea,
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group select{
		border: 1px solid var(--brand-primary);
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group .mce-tinymce.mce-container.mce-panel{
		border: 1px solid var(--brand-primary);
		overflow: hidden;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group a{
	    background: var(--brand-primary);
	    color: var(--white);
	    padding: 10px 15px;
	    border-radius: 4px !important;
	    font-weight: 600;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .card .card-body .form-group button.hl-btn{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}
	#triggers .container-fluid .hl_rules--wrap .row .col-lg-6 .text-center a.btn.btn-success{
		background: #fcce00;
	    background: -moz-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: -webkit-linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    background: linear-gradient(180deg, #fcce00 0%, #efc300 51%, #fcce00 100%);
	    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#57a9b2",endColorstr="#57a9b2",GradientType=1);
	    background-size: auto 200%;
	    transition: 0.5s;
	    border-radius: 4px !important;
	    color: var(--brand-primary);
	    box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
	    padding: 10px 15px;
	}

}
