.hl_wrapper .hl_wrapper-text-widget--root {
  max-width: calc(100% - 40px);
  margin: 55px 20px;
  border: 1px solid var(--brand-primary);
  border-radius: 10px;
  padding: 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .header {
  background: var(--brand-primary);
  color: var(--white);
  padding: 15px;
  border-radius: 10px 10px 0 0;
  border: none;
  margin-left: 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .header h4 {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .header label {
  color: #fff;
  margin-bottom: 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .header .action-container {
  margin: 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .action-container .hl-btn {
  border: none;
  height: 30px;
}

.hl_wrapper .hl_wrapper-text-widget--root .action-container > * {
  margin-left: 10px;
}

.hl_wrapper .hl_wrapper-text-widget--root .header .action-container a {
  color: #fff;
}

.hl_wrapper .hl_wrapper-text-widget--root .header .action-container a:hover,
.hl_wrapper .hl_wrapper-text-widget--root .header .action-container a:focus {
  color: var(--brand-accent);
}

/*accordion*/
.hl_wrapper .hl_wrapper-text-widget--root .card:not(:first-child) {
  margin-top: 10px;
}

.hl_wrapper .hl_wrapper-text-widget--root .card-header {
  padding: 0 !important;
  border-bottom: none;
}

.hl_wrapper .hl_wrapper-text-widget--root .hl_wrapper-text-widget--toggle {
  color: var(--white);
  background-color: var(--brand-primary);
  border: none;
  border-radius: 10px;
}

.hl_wrapper .hl_wrapper-text-widget--root .hl_wrapper-text-widget--toggle.not-collapsed {
  border-radius: 10px 10px 0 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .accordion .card-body {
  border: 1px solid var(--brand-primary);
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input-container {
  border: 1px solid var(--brand-primary);
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input-container:not(:last-child) {
  border-bottom: none;
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input-container:first-child {
  border-radius: 10px 10px 0 0;
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input-container:last-child {
  border-radius: 0 0 10px 10px;
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input-container::after {
  display: none;
}

.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input>label,
.hl_wrapper .hl_wrapper-text-widget--root .string-attr-input .custom-control-label  {
  color: var(--brand-primary);
}

.hl_wrapper .hl_wrapper-text-widget--root .custom-file-label {
  color: var(--brand-primary);
}

.hl_wrapper .hl_wrapper-text-widget--root .custom-file-input:lang(en)~.custom-file-label:before,
.hl_wrapper .hl_wrapper-text-widget--root .custom-file-input:lang(en)~.custom-file-label:after {
  color: var(--brand-primary);
  font-weight: 700;
  background-color: var(--brand-accent);
}

/*footer*/
.hl_wrapper .hl_wrapper-text-widget--root .action-container a {
  color: var(--brand-primary);
}

.hl_wrapper .hl_wrapper-text-widget--root .action-container a:hover,
.hl_wrapper .hl_wrapper-text-widget--root .action-container a:focus {
  color: var(--primary);
}

.modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via-btn {
  background-color: var(--brand-primary);
}

.modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via {
  background-color: var(--brand-primary);
  border-color: var(--brand-primary);;
}

.modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .code-share__via-btn.active {
  color: var(--brand-primary);
}

.modal-dialog--text-widget-settings .modal-body--inner--text-widget-settings .copy-code-wrapper {
  background-color: var(--white);
  border: 1px solid var(--brand-primary);
}