

/*------------- Desktop view ---------------*/

#settings table,
#settings table .handle,
#settings table .icon,
#settings table span,
#settings table label,
#settings table h1,
#settings table h2,
#settings table h3,
#settings table h4,
#settings table h5,
#settings table h6{
    color: var(--brand-primary);
}
/*--------- Company -----------*/
#settings{
	padding: 0 40px;
}
#settings .hl_settings--header{
	border: 1px solid var(--brand-primary);
    border-radius: 5px 5px 0 0;
    background: var(--brand-primary);
    color: var(--white);
    margin: 0;
    padding: 15px 0 15px 0;
    box-shadow: none;
}
#settings .hl_settings--controls>*{
    margin-bottom: 10px;
}
#settings .hl_settings--header .container-fluid h2{
	color: var(--white);
    font-weight: 600;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li{
	background: var(--brand-accent);
    color: var(--brand-primary);
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px !important;
    text-align: center;
    font-weight: 600;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li a{
    color: var(--brand-primary) !important;
    padding-bottom: 0;
    border-bottom: none;
}
#settings .hl_settings--header .container-fluid .hl_settings--nav li.active a{
	color: var(--white) !important;
    font-weight: 600;
}

#settings .hl_settings--body{
    background: var(--white);
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-top: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    padding: 35px 15px;
}

#settings .hl_settings--body .container-fluid .row .hl_settings--main.col-lg-6 .card{
    background: #fff !important;
    border: none !important;
    margin-bottom: 20px !important;
    border: 1px solid var(--brand-primary) !important;
    padding: 0 !important;
    border-radius: 5px !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-header{
	background: var(--brand-primary);
    border-radius: 0 !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card h3{
	color: var(--white);
	font-weight: 600;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body{
	max-width: unset !important;
	color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=submit],
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group button[type=button],
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text button[type=button]{
	background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group .btn.dropdown-toggle.btn-light{
	background: var(--white);
	color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .personal-logo .picture-text .flex.py-2 .ml-2.border-gray-300{
    background: var(--danger) !important;
    color: var(--white) !important;
    border: 0 !important;
}
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .picture-text h4,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .hl_call--settings p,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group label,
#settings .hl_settings--body .container-fluid .hl_settings--main.col-lg-6 .card-body .form-group span{
	color: var(--brand-primary) !important;	
}



/*-------- Team Management ------------*/
#settings .hl_settings--body .hl_controls{
    border: 1px solid var(--brand-primary);
    border-radius: 5px 5px 0 0;
    background: var(--brand-primary);
    color: var(--white);
    margin: 0;
    padding: 15px 15px 5px 15px;
    box-shadow: none;
}
#settings .hl_settings--body .hl_controls h3{
    color: var(--white);
    font-weight: 600;
}
#settings .hl_settings--body .hl_controls .hl_controls--left h2{
	color: var(--white);
    font-weight: 600;
}
#settings .hl_settings--body .hl_controls .hl_controls--right button{
	background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
} 
#settings .hl_settings--body .hl_controls .hl_controls--right button .filter-option-inner-inner{
    color: var(--brand-primary);
}
#settings .hl_settings--body nav.mb-3:nth-child(2){
    display: none;
}
#settings .hl_settings--body nav.mb-3{
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    padding: 15px;
    margin-bottom: 0 !important;
}
#settings .hl_settings--body nav.mb-3:last-child{
	border-bottom: 1px solid var(--brand-primary);
	border-radius: 0 0 5px 5px;
}
#settings .hl_settings--body nav.mb-3 .pagination.justify-content-end li a{
	background: var(--brand-accent);
    border-color: var(--white);
    color: var(--brand-primary);
}
#settings .pagination li a{
    font-weight: 500;
}

/*-------- Main Team Management Box ------------*/
#settings .hl_settings--body .card.hl_settings--team-management{
	border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-radius:  0 !important;
    margin-bottom: 0 !important;
    padding: 15px;
}
#settings .hl_settings--body .card.hl_settings--team-management .table-wrap .table thead tr th{
	color: var(--white);
}
#settings .hl_settings--body .card.hl_settings--team-management .btn-group .btn.btn-primary{
	background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td{
    color: var(--brand-primary);
	border-top: 2px solid var(--brand-primary);
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .avatar .avatar_img{
	background: var(--brand-accent) !important;
	border-radius: 5px;
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .avatar h4{
	color: var(--brand-primary)!important;
}
#settings .hl_settings--body .card.hl_settings--team-management .table tbody tr td .btn-group .btn.btn-primary.btn-keep-height{
	margin-right: 1px;
}

/*-------- End Main Team Management Box ------------*/

/*-------------- Teams ----------------*/
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management .table thead tr th{
    background: transparent !important;
}
#settings .hl_settings--body .container-fluid.container--teams .card.hl_settings--team-management .table thead tr th{
    color: var(--brand-primary);
}
/*-------------- End Teams ----------------*/



/*------------- Reputation ------------------*/
#settings .hl_reputation{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 8px;
}
#settings .hl_reputation .hl_reputation--header.hl_reputation--header--under-settings{
    padding: 0 0 10px;
}
#settings .hl_reputation .hl_reputation--header.hl_reputation--header--under-settings h3{
    color: var(--brand-primary);
}

#settings .hl_reputation .hl_reputation--body .hl_reputation_settings section .card{
    border: 1px solid var(--brand-primary);
    margin-bottom: 25px;
    border-radius: 5px;
    overflow: hidden;
}

#settings .hl_reputation .hl_util--sapcebetween button, 
#settings .hl_reputation button[type=button],
#settings .hl_reputation .card .card-body .emulator-component .mobile-structure__screen .mobile-structure__screen__bar.mobile-structure__screen__bar--bottom button,
#settings .hl_reputation .card .card-body .emulator-component .iframe-src-doc iframe a{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_reputation .card .card-header{
    border-bottom: 2px solid var(--brand-primary);
    background: var(--brand-primary);
}
#settings .hl_reputation .card .card-header h3{
    color: var(--white);
    font-weight: 600;
}


/*--- font color card-body ----*/
#settings .hl_reputation .card .card-body h1,
#settings .hl_reputation .card .card-body h2,
#settings .hl_reputation .card .card-body h3,
#settings .hl_reputation .card .card-body h4,
#settings .hl_reputation .card .card-body h5,
#settings .hl_reputation .card .card-body h6,
#settings .hl_reputation .card .card-body p,
#settings .hl_reputation .card .card-body span,
#settings .hl_reputation .card .card-body label{
    color: var(--brand-primary);

}

/*-------------  End Reputation ------------------*/





/*------------ Pipelines ------------------*/
#settings .hl_settings--body.hl_settings--customize-communication{
    padding-left: 0!important;
    padding-right: 0!important;
}

#settings .hl_settings--body.hl_settings--customize-communication .card.hl_customers--table{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 15px;
    margin-top: 0;
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table{
    border-radius: 5px;
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table thead tr th{
    border-radius: 0 !important;
    color: var(--white);
}
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid div .card.hl_customers--table .table-wrap table.table thead tr td{
    border-top: 1px solid var(--brand-primary);
    color: var(--brand-primary);
}
#settings .hl_settings--body.hl_settings--customize-communication .card.hl_customers--table .table i{
    color: var(--brand-primary) !important;
}

/*------------ Integrations -------------*/
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration p,
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration .mt-3{
    color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration{
  border-radius: 5px;
  height: 100%;
  border: 1px solid var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .row .col-sm-6.col-md-3 .card-integration button{
    background: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}

/*------------ End Integrations -------------*/

/*---------- Phone Numbers ------------*/
#settings div div.hl_settings--body .container-fluid .card .card-header{
    border-bottom: none !important;    
}
#settings div div.hl_settings--body .container-fluid .card .card-header h3{
    color: var(--brand-primary);
}
#settings div div.hl_settings--body .container-fluid .card .card-header button{
    background: var(--brand-accent);
    border: none;
    color: var(--brand-primary);
    border-radius: 5px;
    font-weight: 600;
}
#settings div div.hl_settings--body .container-fluid .hl_settings--body{
    border-radius: 5px;
}
#settings div section.hl_settings--body .container-fluid .hl_settings--body{
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
#settings div section.hl_settings--body .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}


/*---------- End Phone Numbers ------------*/

/*----------- Calender --------------*/
#settings .hl_settings--body.calendar-settings{

}
#settings .hl_settings--body.calendar-settings #card_view_container{
    margin: 0!important;
    border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
}
#settings .hl_settings--body.calendar-settings h1,
#settings .hl_settings--body.calendar-settings h2,
#settings .hl_settings--body.calendar-settings h3,
#settings .hl_settings--body.calendar-settings h4,
#settings .hl_settings--body.calendar-settings h5,
#settings .hl_settings--body.calendar-settings h6,
#settings .hl_settings--body.calendar-settings label,
#settings .hl_settings--body.calendar-settings span{
    color: var(--brand-primary);
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendar #card_view_container{
    border: 1px solid var(--brand-primary);
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header label{
    color: var(--white);
    font-weight: 600;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button]{
    background: var(--brand-accent) !important;
    border: 0 !important;
    border-radius: 5px !important;
    color: var(--brand-primary) !important;
    height: 5px !important;
    padding: 15px 20px !important;
    font-weight: 600;
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button] i{
    filter: invert(10%) sepia(97%) saturate(5906%) hue-rotate(178deg) brightness(66%) contrast(80%)
}
#settings .hl_settings--body.calendar-settings .container-fluid.provider-and-calendars .hl_settings--controls.header button[type=button] label{
    color: var(--brand-primary) !important;
    font-weight: 600;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider{
    border: none !important;
    box-shadow: none !important;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-header.card-header--provider.d-flex.p-3{
    background: var(--brand-primary);
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-header.card-header--provider.d-flex.p-3 span{
    color: var(--white);
    font-weight: 600 !important;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-body{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
    color: var(--brand-primary);
    padding: 35px 8px;
    margin-top: 0;
}
#settings .hl_settings--body.calendar-settings #card_view_container.hl_settings--team-management.body.row .flex-child .card.card--provider .card-body #pg-team-cal__button--create-calendar{
    border: 1px dashed var(--brand-primary) !important;
    border-radius: .3125rem !important;
    font-weight: 600;
}
#settings .calendar-settings .body .card--add-service{
    border: 1px dashed var(--brand-primary);
}
#settings .calendar-settings .body .card .card--service{
    box-shadow: rgb(0 0 0 / 35%) 0px 0px 2px, rgb(0 83 117) 3px 0px 0px inset !important;
}

/*--------- Templates ----------*/
#settings .hl_settings--header .hl_settings--body .container-fluid .hl_settings--controls{
    background: var(--brand-primary);
    color: var(--white);
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management{
    border-bottom: 1px solid var(--brand-primary);;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table{
    border-radius: 5px !important;
    overflow: hidden;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table.table tr th{
    border-radius: 0 !important;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management .card-body.--no-padding .table-wrap table.table tr .hint-icon{
    color: var(--brand-primary);
}

/*---------- Custom Fields -----------*/
#settings .hl_settings--header .hl_settings--body .container-fluid .card.hl_settings--team-management{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}
#settings .hl_settings--header .hl_settings--body .container-fluid .card .table tbody tr td{
    border-top: 2px solid var(--brand-primary);
    color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .card .--no-padding .table-wrap table.table tbody tr td{
    color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .card {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px;
}


/*----------- Payments ----------*/
#settings .bg-white.py-3.mx-3.rounded.shadow{
    background: var(--white);
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
    color: var(--brand-primary);
    padding: 35px 8px;
    margin-top: 0;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow main h2,
#settings .bg-white.py-3.mx-3.rounded.shadow main nav a{
    color: var(--brand-primary);
}
#settings .bg-white.py-3.mx-3.rounded.shadow main .border-gray-200{
    border-color: rgba(0,83,117,var(--tw-border-opacity));
}
#settings .bg-white.py-3.mx-3.rounded.shadow button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3 .bg-white.shadow{
    border: 1px solid var(--brand-primary);
}

/*----------- Tags ------------*/
#settings .hl_settings--body.hl_settings--customize-communication .container-fluid .card.tags--table .table-wrap table.table thead tr th{
    color: var(--white) !important;
}
#/*settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td{
    border-bottom: 1px solid var(--brand-primary);
}*/
/*#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th:first-child,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td:first-child{
    border-left: 1px solid var(--brand-primary);
}*/
#/*settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th:last-child,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td:last-child{
    border-right: 1px solid var(--brand-primary);
}*/
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table th,
#settings .hl_settings--body.hl_settings--customize-communication .card.tags--table .table-wrap table.table td,
#settings .hl_settings--body.hl_settings--customize-communication .card .table-wrap .table tbody tr td i{
    color: var(--brand-primary) !important;
}

/*----------- Custom Values ------------*/
#settings{

}
#settings .hl_settings--body .hl_settings--controls .hl_settings--controls-left h2{
    color: var(--brand-primary);
}
#settings .hl_settings--body .hl_settings--controls .hl_settings--controls-right button{

}

/*----------- Domains -------------*/
#settings .hl_settings--body .container-fluid .hl_settings--controls .hl_settings--controls-left h2{
    color: var(--white);
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .hl_settings--controls .hl_settings--controls-right button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}

/*------------ SMTP -------------*/
#settings .hl_settings--body .hl_settings--controls{
    border: 1px solid var(--brand-primary);
    border-radius: 5px 5px 0 0;
    background: var(--brand-primary);
    color: var(--white);
    margin: 0;
    padding: 15px 15px 5px 15px;
    box-shadow: none;
}
#settings .hl_settings--body .container-fluid .card .card-body .form-group span{
    color: var(--brand-primary);
}
#settings .hl_settings--body .container-fluid .card .card-body .col-sm-12.col-md-3.my-auto button{
    background: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
    font-weight: 600;
}
#settings .hl_settings--body .container-fluid .card.hl_settings--team-management.col-lg-12{
    border-bottom: 1px solid var(--brand-primary);
    border-radius: 0 0 5px 5px !important;
}
#settings .hl_settings--body .container-fluid {
    color: var(--brand-primary);
}

/*--------- Payments -----------*/
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li{
    border: 1px solid var(--brand-primary);
    color: var(--brand-primary) !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h1,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h2,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h3,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h4,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h5,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li h6,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li label,
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div{
    color: var(--brand-primary) !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:first-child{
    border-top: none;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child{
    border-top: 1px solid var(--brand-primary);
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child div{
    border-top: none;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li div:last-child div.space-y-3{
    padding-top: 15px;
}
#settings .bg-white.py-3.mx-3.rounded.shadow .px-4 .mt-3.divide-y.divide-gray-200 div .flex.space-x-3.items-start li hr.mt-3{
    border-top: 2px solid var(--brand-primary) !important;
}
#settings .bg-white.py-3.mx-3.rounded.shadow main .block .border-b.border-gray-200 nav .border-curious-blue-500{
    border-color: var(--brand-primary);
}
#settings .nothing-found{
    color: var(--brand-primary);
}
.divide-y>:not([hidden])~:not([hidden]){

}
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h1
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h2,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h3,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h4,
#settings .bg-white.py-3.mx-3.rounded.shadow .max-w-3xl.mx-auto.flex.flex-col.create-product-component .space-y-5 h5{
    color: var(--brand-primary);
}
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h1,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h2,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h3,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h4,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h5,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component h6,
#settings .max-w-3xl.mx-auto.flex.flex-col.create-product-component span{
    color: var(--brand-primary);
}





/*------------- Modal Start ---------------*/
#settings .modal .modal-dialog .modal-content .modal-header h5,
#settings .modal .modal-dialog .modal-content .modal-header button span,
#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner h5,
#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner h5 .icon{
    color: var(--white)!important;
    font-weight: 600;
}

#settings .modal .modal-dialog .modal-content .modal-header .modal-header--inner button{
    background: none !important;
    border-color: transparent !important;
    color: #afb8bc !important;
}
#settings .modal .modal-dialog .modal-content .modal-header div:nth-child(2) button span{
    color: var(--brand-primary) !important;
}
#settings .modal .modal-content--service .modal-body .modal-body--inner--service{
    max-width: 100% !important;
    margin-left: 25px!important;
    margin-right: 25px !important;
}
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-1 .help-text,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-2 .help-text,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3 .title,
#settings .modal .modal-content--service .modal-body .modal-body--inner--service .step-3 .help-text{
    color: var(--brand-primary) !important;
}
#settings .modal .modal-content--service .flex.items-center.justify-end button{
    background: var(--brand-accent) !important;
    color: var(--brand-primary) !important;
    border: transparent !important;
}
.modal-content--service .service-step.active .icon-wrapper{
    background: var(--brand-accent) !important;
}

#settings .modal .modal-body .modal-body--inner,
#settings .modal .modal-body .modal-body--inner .form-group,
#settings .modal .modal-body .modal-body--inner .form-group span,
#settings .modal .modal-body .modal-body--inner .hl_help-article{
    color: var(--brand-primary) !important;
}
#settings .modal .modal-body .modal-body--inner a{
    text-decoration: underline !important;
}

#settings .modal .modal-body .modal-body--inner .dropdown-menu.inner.show li.active span{
    color: var(--white)!important;
}

#settings .modal-footer .hl-btn{
    background: var(--brand-accent);
    border: none !important;
    color: var(--brand-primary);
}
#settings .modal-content--service section.section-office-hours .day-of-week-name-box.selected,
#settings .modal .modal-content .modal-body .card-body .day-of-week-name-box.selected{
    background: var(--brand-primary) !important;
}
#settings .modal .modal-content .modal-body .modal-body--inner .form-group .border-red-300{
    border-color: var(--danger) !important;
}
#settings .modal .modal-content #email-error.hl-input-error.mt-2.text-sm.text-red-600{
    color: var(--danger) !important;
}
#settings .modal .modal-content .modal-body .card-body .flex button,
#settings .modal .modal-content .modal-body .modal-body--inner .modal-buttons button{
    background: var(--brand-accent) !important;
    border: none !important;
    color: var(--brand-primary) !important;
    font-weight: 600;
}
#settings .modal .modal-content .modal-body .modal-body--inner .mce-panel,
#settings .modal .modal-content .modal-body .modal-body--inner .mce-btn-group:not(:first-child){
    border-color: var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card{
    border: 1px solid var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card{
    background: #fff;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid var(--brand-primary) !important;
}
#settings .hl_team-management--modal .custom-card .card-header{
    border-bottom: 2px solid var(--brand-primary) !important;
    /*box-shadow: none !important;*/
}


#settings .bg-gray-200{
    border-color: transparent !important;
    background-color: rgba(229,231,235,var(--tw-bg-opacity)) !important;
}
#settings .bg-curious-blue-600{
    border-color: transparent !important;
    background-color: var(--brand-accent) !important;
}




#settings .hl_edit-event-modal-main .card{
    border: 1px solid var(--brand-primary);
}
#settings .hl_edit-event-modal-main .card .card-footer{
    border-top: 2px solid rgba(0,83,117,.2) !important;
    color: var(--brand-primary) !important; 
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .card-header.--no-right-padding{
    border-bottom: 2px solid rgba(0,83,117,.2) !important;
    background: var(--brand-primary);
    color: var(--white);
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .card-header.--no-right-padding h2{
    color: var(--white);
    font-weight: 600;
}
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel{
    border-color: var(--brand-primary) !important;
    color: var(--brand-primary) !important; 
}
#settings .modal-content .modal-body .modal-body--inner p,
#settings .modal-content .modal-body .modal-body--inner p b,
#settings .modal-content .modal-body .modal-body--inner h1,
#settings .modal-content .modal-body .modal-body--inner h2,
#settings .modal-content .modal-body .modal-body--inner h3,
#settings .modal-content .modal-body .modal-body--inner h4,
#settings .modal-content .modal-body .modal-body--inner h5,
#settings .modal-content .modal-body .modal-body--inner h6,
#settings .modal-content .modal-body .modal-body--inner span,
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel .mce-menubtn button,
#settings .hl_edit-event-modal-main .card .card-footer a,
#settings .modal-content .modal-body .modal-body-inner .hl_edit-event-modal-wrap .hl_edit-event-modal-main .card .mce-panel .mce-statusbar .mce-flow-layout-item,
#settings .hl_edit-event-modal-main .card .card-footer span{
    color: var(--brand-primary) !important; 
}
#settings .modal-content .modal-body .modal-body--inner .row .col-md-4{
    background: var(--brand-accent) !important;
}

/*------------- Modal End ---------------*/

@media only screen and (max-width: 576px) {



    .personal-logo .picture{
        width: 100% !important;
    }

}




