/* DASHBOARD */
#dashboard h2 {
	color: #fff;
}
#dashboard .card-header {
	background: var(var(--brand-primary));
	padding:  5px 15px;
	border: none;
}
#dashboard .card-body {
	border: var(2px solid var(--brand-primary));
}
#dashboard .card-group.--wide-gutter>.card {
	margin-right: 15px;
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value {
	margin: 0;
	margin-right: 15px;
	border-radius: 5px;
}
#dashboard .card-group.--wide-gutter .hl_dashboard--pipeline-value {
    margin: 0;
    margin-right: 15px!important;
}
#dashboard .hl_dashboard--conversion-rate .card-header, #dashboard .hl_dashboard--matters-added .card-header, #dashboard .hl_dashboard--pipeline-value .card-header, #dashboard .hl_dashboard--sales-funnel .card-header {
    padding-right: 20px;
    background-color: #005375;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard .card-header h2{
    color: #f6f8fa!important;
}

#dashboard .card .hl_dashboard--matters-added .card-header {
	padding-right: 20px;
    background-color: #005375!important;
    color: white!important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard .container-fluid:before {
    content: "";
    border-left: 0px !important; 
    border-right: 0px !important; 
    border-bottom: 0px !important; 
    border-radius: 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    max-width: calc(100% - 30px);
    /* background-color: #fff; */
}
#dashboard {
	background-color: #ffffff!important;
}
#dashboard .card-group>.card:first-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888888;
}
#dashboard .card-group>.card:last-child {
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    /* border-bottom-right-radius: 0; */
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #888888;
}
#dashboard .hl_dashboard--need-action .card-header {
    padding-right: 20px;
    background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard .table {
    /* border-collapse: separate; */
    border-spacing: 0;
    /*border-radius: 10px;*/
    /* border: 1px solid var(--brand-primary); */
}
#dashboard .table thead tr th {
    color: #005375;
    font-weight: 700;
    padding: 1rem 15px;
    background-color: #fff; 
}
#dashboard .table  {
    border: 0px!important;
}
#dashboard .card .hl_dashboard--latest-review-requests {
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard .card .hl_dashboard--latest-review-requests .card-header {
	background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard .hl_dashboard--emails-sent {
	box-shadow: 0px 0px 5px 0px #888888;
	border-radius: 5px;
}
#dashboard .hl_dashboard--emails-sent .card-header {
	background-color: #005375;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#dashboard .date-time-picker .field .field-input svg[data-v-5b500588] {
  background-color : #005375 !important; 

}














