/*conversations*/

#conversations{
	padding: 35px;
}
#conversations .hl_conversations--wrap{
    border: 1px solid var(--brand-primary);
    border-radius: 5px;
    overflow: hidden;
}
#conversations .hl_conversations--messages-list .nav-tabs{
    background-color: var(--brand-primary);
    padding: 15px;
    border-bottom: 1px solid var(--brand-primary);
}
#conversations .nav-item,
#conversations .hl_conversations--message-header .message-header-actions button{
    margin-right: 10px;
}
#conversations .nav-item .nav-link {
    background: var(--brand-accent);
    color: var(--brand-primary);
    padding: 9.5px 15px;
    border-radius: 5px;
    font-weight: 400;
    font-size: .875rem;
}
#conversations .nav.nav-tabs .nav-link.active{
	background: #c09914!important;
    border: none!important;
}
#conversations .hl_conversations--message-header{
	background-color: var(--brand-primary);
	border: 0;
}
#conversations .hl_conversations--messages-list .nav-tabs,
#conversations .hl_conversations--message-header{
    height: 70px;
}
#conversations .hl_conversations--message-body .message-body--conversation{
    border-left: 1px solid var(--brand-primary);
    border-right: 1px solid var(--brand-primary);
}
#conversations .hl_conversations--message-header h2{
	color: var(--white);
	font-weight: 600;
}
#conversations .hl_conversations--message-header .message-header-actions button{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#conversations .hl_conversations--message-header .messages-list-header h3, #conversations .messages-list-header-actions .message-header-actions a{
	color: var(--brand-primary);
}
#conversations .hl_conversations--message-header .message-header-actions button:last-child{
	margin-right: 0px!important;
}
#conversations .messages-list-search input{
    background-color: #fff;
    border: 1px solid var(--brand-primary);
}
#conversations .messages-list--item .messages-list--avatar .avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .messages-list--item .time-date, #conversations  .messages-list--item h4, #conversations  .messages-list--item p{
	color: var(--white)!important;
}
#conversations .messages-list--item.selected {
    background-color: var(--brand-primary);
}
#conversations .messages-list--item.active .messages-list--avatar .avatar .avatar_img,
#conversations .message-body--aside .aside-texts .pointer.avatar .avatar_img{
    background-color: var(--brand-accent)!important;
    border-radius: 5px;
    color: var(--brand-primary);
    font-weight: 800;
}
#conversations .aside-texts-name input, #conversations .aside-texts-infos input{
    border-bottom: 1px solid var(--brand-primary);
    color: var(--brand-primary);
}
#conversations .hl_conversations--message-body .message-input-wrap{
	border-top: 1px solid var(--brand-primary);
    -webkit-box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    box-shadow: 0 8px 16px 10px rgb(0 83 117 / 5%);
    bottom: 60px;
}
#conversations .aside-texts-infos .icon-phone,
#conversations .aside-texts-infos p i,
#conversations .hl_conversations--message-body .message-box .btn-blue .icon-send,
#conversations .hl_conversations--message-body .message-box .use-template .icon{
	filter: invert(10%) sepia(88%) saturate(5779%) hue-rotate(189deg) brightness(50%) contrast(90%);
}
#conversations .messages-list--item.active .time-date, #conversations  .messages-list--item.active h4, #conversations  .messages-list--item.active p{
	color: var(--white)!important;
}

#conversations .messages-group-heading{
	border-top: 1px solid var(--brand-primary);
}
#conversations #date-label, 
#conversations .hl_conversations--message-body .messages-group .messages-group-inner .btn.btn-light2.btn-xs.message-group-date-indicator.top-date-sticky, 
#conversations .messages-single.\--own-message .message-bubble{
    background: var(--brand-primary)!important;
    color: var(--white)!important;
}
.messages-single.\--own-message .message-bubble:before{
    border-color: var(--brand-primary) transparent transparent transparent;
}

#conversations .email-item--header{
	border-bottom: 2px solid var(--brand-primary);
}

#conversations .email-item--header-left h4, 
#conversations .email-item--header-left h4 strong,
#conversations .email-item--header-left h5,
#conversations .email-item--header-left h4 strong, 
#conversations .email-item--header-left p span, 
#conversations .email-item--body p,
#conversations .messages-single.\--own-message .time-date span,
#conversations .form-group label
{
	color: var(--brand-primary);
}
#conversations .email-item--header-right button, 
#conversations .hl_conversations--message-body .message-box .btn-blue, 
#conversations .tag-group button{
	background: var(--brand-accent);
	color:var(--brand-primary);
}
#conversations .messages-single .avatar .avatar_img{
	border-radius: 5px;
}
#conversations .btn.btn-primary{
    background-color: var(--brand-accent);
    border-color: var(--brand-accent);
    color: var(--brand-primary);
}

#conversations .scroll-down-shortcut{
	background-color: var(--brand-accent);
    color: var(--brand-primary);
}
#conversations .table_tag, 
#conversations .tag,
#conversations .message-body--conversation .icon.icon-mail{
	background-color: var(--brand-primary)!important;
	color: var(--white)!important;
}

#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos .pb-1 .hl-text-input-container.msgsndr1 .relative.rounded-md.shadow-sm input,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos p input,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--aside .aside-texts .aside-texts-infos .conversation-tags .dropdown .hl-text-input-container.tag-input .relative.rounded-md shadow-sm input{
    border-bottom: 1px solid var(--brand-primary) !important;
    color: var(--brand-primary);
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-search{
    border-bottom: 1px solid var(--brand-primary);
}

#conversations .btn.btn-link,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item .time-date,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item h4,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .messages-list--item p,
#conversations .messages-list-header-actions .dropdown.show a [class^="icon-"],
#conversations .messages-list-header-actions .dropdown.show a [class*=" icon-"],
#conversations .messages-list-header-actions a i.icon.icon-edit,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading h3,
#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading p{
    color: var(--brand-primary)!important;
}

/*.router-link-exact-active.router-link-active.selected.messages-list--item.active*/
/*.router-link-exact-active.router-link-active.selected.messages-list--item*/
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item .time-date,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item h4,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled .router-link-exact-active.router-link-active.selected.messages-list--item p{
    color: var(--white)!important;
}


#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-header h3,
#conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list-header h3 .messages-list-header-actions a .icon{
    color: var(--brand-primary);
    font-weight: 600;
}

#conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group .messages-group-inner .messages-group-heading svg{
    background: #fff;
    padding: 10px;
    width: 45px;
    margin: -20px auto 0;
    height: 45px;
}



/*--------- Mobile version --------*/
@media only screen and (max-width: 576px) {

    #conversations .hl_conversations--messages-list .nav-tabs,
    #conversations .hl_conversations--message .hl_conversations--message-header{
        height: auto !important;
    }
    #conversations .hl_conversations--wrap{
        display: block !important;
        width: 100% !important;
        min-width: auto !important;
        max-width: none !important;
        overflow-y: auto !important;
    }
    #conversations .hl_conversations--messages-list.relative{
        display: block !important;
        width: 100% !important;
        max-width: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled{
        height: 150px !important;
    }
    #conversations .nav-item{
        margin-right: 0;
        margin-bottom: 5px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header{
        display: inline-block;
        width: 100%;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header h2{
        margin-bottom: 10px;
        text-align: center;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions{
        display: grid;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions button{
        margin:  5px 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--conversation{
        border: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group{
        margin-bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .tab-content .message-box.relative .message-action-bottom .email-action-bottom-right.items-center.flex.space-x-2 button[type=submit],
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=submit]{
        background: var(--brand-accent);
        color: var(--brand-primary);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=button]{
        background: var(--white);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack .nav-item{
        margin-right: 5px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body{
        display: block !important;
    }
    #conversations .hl_conversations--message-body .message-input-wrap, .message-body--aside .btn-sched-wrap{
        bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body .message-body--aside{
        border-top: 1px solid var(--brand-primary) !important;
        max-width: fit-content !important;
    }
    #conversations .scroll-down-shortcut{
        bottom: 100px;
    }
    #conversations .form-group .tag-group .tag{
        margin-right: 0 !important;
    }

}

/*--------- Pad version --------*/
@media only screen and (min-width: 577px)and (max-width: 1023px) {

    .hl_wrapper {
        padding-top: 172px !important;
    }
    #conversations .hl_conversations--messages-list .nav-tabs,
    #conversations .hl_conversations--message .hl_conversations--message-header{
        height: auto !important;
        display: grid;
        grid: auto auto / auto auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--wrap{
        display: block !important;
        width: 100% !important;
        min-width: auto !important;
        max-width: none !important;
        overflow-y: auto !important;
    }
    #conversations .hl_conversations--messages-list.relative{
        display: block !important;
        width: 100% !important;
        max-width: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--messages-list.relative .messages-list.list-unstyled{
        height: 150px !important;
    }
    #conversations .nav-item{
        margin-right: 0;
        margin-bottom: 5px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header{
        display: inline-block;
        width: 100%;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header h2{
        margin-bottom: 10px;
        text-align: center;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions,
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack{
        display: grid;
        grid: auto auto / auto auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--message .hl_conversations--message-header .message-header-actions button{
        margin:  5px 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--conversation{
        border: none !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .messages-group{
        margin-bottom: 0 !important;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .tab-content .message-box.relative .message-action-bottom .email-action-bottom-right.items-center.flex.space-x-2 button[type=submit],
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=submit]{
        background: var(--brand-accent);
        color: var(--brand-primary);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .email-action-bottom .email-action-bottom-right button[type=button]{
        background: var(--white);
    }
    #conversations .hl_conversations--wrap .hl_conversations--message .hl_conversations--message-body .message-body--conversation .message-input-wrap.overflowdisabled .nav.nav-tabs.--dont-stack .nav-item{
        margin-right: 5px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body{
        display: block !important;
    }
    #conversations .hl_conversations--message-body .message-input-wrap, .message-body--aside .btn-sched-wrap{
        bottom: 0 !important;
    }
    #conversations .hl_conversations--message-body .message-body--aside .btn-sched-wrap{
        display: grid;
        grid: auto auto / auto auto;
        grid-gap: 10px;
    }
    #conversations .hl_conversations--wrap .hl_conversations--message-body .message-body--aside{
        border-top: 1px solid var(--brand-primary) !important;
        max-width: unset !important;
    }
    #conversations .scroll-down-shortcut{
        bottom: 100px;
    }
    #conversations .form-group .tag-group .tag{
        margin-right: 0 !important;
    }

}



